In [2]:
#Importing needed libraries
import requests
import pandas as pd
from datetime import datetime
import geopandas as gpd
import fiona
import time
from json import JSONDecodeError
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
import matplotlib.cm as cm
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split
from statsmodels.discrete.count_model import ZeroInflatedPoisson
from personal_lib import general_functions as gf


from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="capstone_test")

C:\Users\johnf\AppData\Roaming\Python\Python310\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [ ]:
### NYC ENERGY DATA BUILDINGS

In [ ]:
### Pulling in the Data Via the APi online

##### Skip here until reading in files from CSV, because this takes very long to run.

In [ ]:
PAGE = 1000               # <-- enforce 1,000 rows per page
TIMEOUT = 30
MAX_RETRIES = 5
BACKOFF_BASE = 1.5

session = requests.Session()
headers = {}

def fetch_all_rows_1k(api_url: str, source_years: str, source_info_url: str) -> pd.DataFrame:
    offset = 0
    frames = []

    while True:
        params = {"$limit": PAGE, "$offset": offset}

        for attempt in range(1, MAX_RETRIES + 1):
            try:
                resp = session.get(api_url, params=params, headers=headers, timeout=TIMEOUT)
                if resp.status_code in (429, 502, 503, 504):
                    time.sleep(BACKOFF_BASE ** attempt * (0.1 * attempt))
                    continue
                resp.raise_for_status()

                if "json" not in resp.headers.get("Content-Type", "").lower():
                    preview = resp.text[:200]
                    raise ValueError(f"Non-JSON response (status {resp.status_code}): {preview}")

                data_chunk = resp.json()
                if not data_chunk:
                    return pd.concat(frames, ignore_index=True) if frames else pd.DataFrame()

                # Create DataFrame
                df = pd.DataFrame(data_chunk)

                # ðŸ”‘ Add your metadata columns here
                df["source_years"] = source_years
                df["source_api_url"] = api_url
                df["source_info_url"] = source_info_url

                frames.append(df)

                # If less than PAGE, stop; otherwise keep paginating
                if len(data_chunk) < PAGE:
                    return pd.concat(frames, ignore_index=True)

                offset += PAGE
                break  # Success, go to next page

            except (requests.RequestException, JSONDecodeError, ValueError) as e:
                if attempt == MAX_RETRIES:
                    print(f"âš ï¸ Failed fetching {api_url} at offset {offset}: {e}")
                    return pd.concat(frames, ignore_index=True) if frames else pd.DataFrame()
                time.sleep(BACKOFF_BASE ** attempt * (0.1 * attempt))

# --- your existing mapping dict (unchanged) ---
# building_energy_LL84_sources = { ... }  # keep your dict as-is

In [ ]:
agg_running_list = []
for k, v in building_energy_LL84_sources.items():
    print(f"Fetching {k} -> {v['api']}")
    df = fetch_all_rows_1k(v["api"], k, v["info"])
    if not df.empty:
        agg_running_list.append(df)
    else:
        print(f"Warning: no rows returned for {k} ({v['api']}).")

nyc_building_energy = pd.concat(agg_running_list, ignore_index=True) if agg_running_list else pd.DataFrame()
print(f"Total rows: {len(nyc_building_energy)}")

In [ ]:
## There are mulitple sources of yearly data. Compiling the source URLs here as well as the API urls to grab
## privately owned buildings over 25,000 ft2 and in City-owned buildings over 10,000 ft2
building_energy_LL84_sources={"2022+":{
    "api":"https://data.cityofnewyork.us/resource/5zyy-y8am.json",
    "info":"https://data.cityofnewyork.us/Environment/NYC-Building-Energy-and-Water-Data-Disclosure-for-/5zyy-y8am/about_data"
                              },
                              "2021":{
    "api":"https://data.cityofnewyork.us/resource/7x5e-2fxh.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/7x5e-2fxh/about_data"
                              },
                              "2020":{
    "api":"https://data.cityofnewyork.us/resource/usc3-8zwd.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/usc3-8zwd/about_data"
                                  },
                              "2019":{
    "api":"https://data.cityofnewyork.us/resource/wcm8-aq5w.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/wcm8-aq5w/about_data"
                                  },
                              "2018":{
    "api":"https://data.cityofnewyork.us/resource/4tys-3tzj.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/4tys-3tzj/about_data"
                                  },
                              "2017":{
    "api":"https://data.cityofnewyork.us/resource/4t62-jm4m.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/4t62-jm4m/about_data"
                                  },
                              "2016":{
    "api":"https://data.cityofnewyork.us/resource/utpj-74fz.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/utpj-74fz/about_data"
                                  },
                              "2015":{
    "api":"https://data.cityofnewyork.us/resource/77q4-nkfh.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/77q4-nkfh/about_data"
                                  },
                              "2014":{
    "api":"https://data.cityofnewyork.us/resource/nbun-wekj.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/nbun-wekj/about_data"
                                  },
                              "2013":{
    "api":"https://data.cityofnewyork.us/resource/yr5p-wjer.json",
    "info":"http://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/yr5p-wjer"
                                  },
                              "2012":{
    "api":"https://data.cityofnewyork.us/resource/r6ub-zhff.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/r6ub-zhff/about_data"
                                  },
                              "2011":{
    "api":"https://data.cityofnewyork.us/resource/k7nh-aufb.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/k7nh-aufb/about_data"
                                  },
                              "2010":{
    "api":"https://data.cityofnewyork.us/resource/kswi-37bp.json",
    "info":"https://data.cityofnewyork.us/Environment/Energy-and-Water-Data-Disclosure-for-Local-Law-84-/kswi-37bp/about_data"
                                  },
#Monthly Data? 2018-2023
                              "Monthly":{
    "api":"https://data.cityofnewyork.us/resource/fvp3-gcb2.json",
    "info":"https://data.cityofnewyork.us/Environment/Local-Law-84-Monthly-Data/fvp3-gcb2/about_data"
    }}

#### End Skip here. Pick up and read in data

In [1]:
### If just want residential limist continue to skip in untill reading in residential 3
# nyc_building_energy=  pd.read_csv("nyc_dob_energy_2010_2024.csv")

In [ ]:
## Formatting into proper df
# print(nyc_building_energy.shape)
## Saving to File
# nyc_building_energy.to_csv("nyc_dob_energy_2010_2024.csv",index=False)

### Starting Cleaning / Skip if you want ot just read in residential3

In [ ]:
### Columns to Drop because potentially irrelevant or redundant for 
nyc_building_energy_processing = nyc_building_energy.copy()
# nyc_building_energy_processing = nyc_building_energy_processing.drop(columns=['data_center_ups_output_meter',
#  'data_center_pdu_input_meter',
#  'data_center_pdu_output_meter',
#  'data_center_it_equipment',
#  'data_center_it_site_energy',
#  'data_center_it_source_energy',
#  'data_center_pue',
#  'data_center_national_median',
#  'data_center_gross_floor_area',
#  'data_center_ups_system',
#  'data_center_it_energy',
#  'data_center_cooling_equipment',
# 'supermarkets_grocery_gross',
#  'supermarkets_grocery_number',
#  'supermarkets_grocery_number_1',
#  'supermarkets_grocery_number_2',
#  'supermarkets_grocery_percent',
#  'supermarkets_grocery_presence',
#  'supermarkets_grocery_walk',
#  'supermarkets_grocery_weekly',
#  'supermarkets_grocery_workers',
# 'house_of_worship_gross_floor',
#  'house_of_worship_pc_density',
#  'house_of_worship_weekly',
#  'house_of_worship_presence',
# 'residence_halls_dormitories',
# 'medical_office_percent_cooled',
#  'residence_halls_dormitories_1',
#  'residence_halls_dormitories_2',
#  'residence_halls_dormitories_3',
#  'residence_halls_dormitories_4',
# 'hotel_onsite_laundry_short',
#  'warehouse_unrefrigerated',
#  'warehouse_unrefrigerated_1',
#  'warehouse_unrefrigerated_2',
#  'warehouse_unrefrigerated_3',
#  'warehouse_unrefrigerated_4',
#  'warehouse_unrefrigerated_5',
#  'warehouse_unrefrigerated_6',
#  'hospital_gross_floor_area',
#  'hospital_laboratory_y_1_n',
#  'hospital_laundry_facility',
#  'hospital_maximum_number_of',
#  'hospital_number_of_buildings',
#  'warehouse_refrigerated_gross',
#  'warehouse_refrigerated_weekly',
#  'warehouse_refrigerated_workers',
#  'hospital_number_of_licensed',
#  'multifamily_home_dishwashers'])

## Fruther Limiting to those that are under 10 Stories. 
nyc_building_energy_processing = nyc_building_energy_processing.replace("Not Available",np.nan).dropna(how='all',axis=1)
nyc_building_energy_processing = nyc_building_energy_processing.dropna(how='all',axis=1)

nyc_building_energy_processing["primary_property_type"] = nyc_building_energy_processing["primary_property_type"].combine_first(nyc_building_energy_processing["primary_property_type_epa"])
nyc_building_energy_processing = nyc_building_energy_processing.drop(columns=["primary_property_type_epa"])
nyc_building_energy_processing["primary_property_type_self"] = nyc_building_energy_processing["primary_property_type_self"].combine_first(nyc_building_energy_processing["primary_property_type_self_selected"])
nyc_building_energy_processing = nyc_building_energy_processing.drop(columns=["primary_property_type_self_selected"])



## Beginning of Limiting to Multifamily Homes (Step 1)
residential = nyc_building_energy_processing[(
    (nyc_building_energy_processing["list_of_all_property_use"].isin([i for i in nyc_building_energy_processing["list_of_all_property_use"].unique() if 'Multifamily Housing' in str(i)]))
    |(nyc_building_energy_processing["list_of_all_property_use"].isnull() 
      & (nyc_building_energy_processing["primary_property_type_self"]=="Multifamily Housing")
      & ((nyc_building_energy_processing["primary_property_type"]=="Multifamily Housing")|
         (nyc_building_energy_processing["primary_property_type"].isnull()))))]

In [ ]:
## Beginning of Limiting to Multifamily Homes (Step 1)
residential = nyc_building_energy_processing[(
    (nyc_building_energy_processing["list_of_all_property_use"].isin([i for i in nyc_building_energy_processing["list_of_all_property_use"].unique() if 'Multifamily Housing' in str(i)]))
    |(nyc_building_energy_processing["list_of_all_property_use"].isnull() 
      & (nyc_building_energy_processing["primary_property_type_self"]=="Multifamily Housing")
      & ((nyc_building_energy_processing["primary_property_type"]=="Multifamily Housing")|
         (nyc_building_energy_processing["primary_property_type"].isnull()))))]

In [ ]:
print(residential.shape)

In [ ]:
## Second Step is limiting to NON MIXED USE, so ONLY MultiFamily Residences
residential = residential[
    residential['list_of_all_property_use'].isnull() |
    residential['list_of_all_property_use'].apply(
        lambda x: len(x.split(",")) == 1 if isinstance(x, str) else False
    )
]
## Fruther Limiting to those that are under 10 Stories. 
residential = residential.replace("Not Available",np.nan).dropna(how='all',axis=1)
residential = residential.dropna(how='all',axis=1)

In [ ]:
## Dropping Other Property Type Columns 
to_drop =[
## Banking oriented COlumns
'bank_branch_computer_density',
 'bank_branch_gross_floor_area',
 'bank_branch_gross_floor_area_ft',
 'bank_branch_number_of',
 'bank_branch_number_of_workers',
 'bank_branch_percent_that',
 'bank_branch_weekly_operating',
 'bank_branch_worker_density',
## College / Uni / School
'college_university_gross',
 'college_university_gross_floor_area_ft',
 'college_university_number',
    'k_12_school_computer_density',
 'k_12_school_cooking_facilities',
 'k_12_school_gross_floor_area',
 'k_12_school_gross_floor_area_ft',
 'k_12_school_high_school',
 'k_12_school_percent_that',
 'k_12_school_refrigeration',
 'k_12_school_weekend_operation',
 'laboratory_gross_floor_area_ft',
    'library_gross_floor_area',
# OTher
"automobile_dealership_gross",
'convenience_store_without',
'data_center_energy_estimates_applied',
 'data_center_gross_floor_area',
 'data_center_gross_floor_area_ft',
 'data_center_it_energy',
 'data_center_it_energy_configuration',
 'data_center_it_equipment_input_meter_kwh',
 'data_center_it_site_energy',
 'data_center_it_site_energy_kwh',
 'data_center_it_source_energy_kbtu',
 'data_center_national_median',
 'data_center_pdu_input_meter_kwh',
 'data_center_pdu_output_meter_kwh',
 'data_center_ups_output_meter_kwh',
 'enclosed_mall_gross_floor',
 'enclosed_mall_gross_floor_area_ft',
 'fast_food_restaurant_gross',
 'financial_office_gross_floor',
 'financial_office_gross_floor_area_ft',
 'financial_office_number_of',
 'financial_office_number_of_1',
 'financial_office_number_of_computers',
 'financial_office_number_of_workers_on_main_shift',
 'financial_office_weekly',
 'financial_office_weekly_operating_hours',
 'fitness_center_health_club',
 'fitness_center_health_club_gym_gross_floor_area_ft',
 'food_sales_gross_floor_area',
 'food_sales_gross_floor_area_ft',
 'food_service_gross_floor',
 'food_service_gross_floor_area_ft',
     'worship_facility_computer',
 'worship_facility_cooking',
 'worship_facility_gross_floor',
 'worship_facility_gross_floor_area_ft',
 'worship_facility_weekly',
    'supermarket_grocery_cooking',
 'supermarket_grocery_gross',
 'supermarket_grocery_gross_floor_area_ft',
 'supermarket_grocery_number',
 'supermarket_grocery_number_1',
 'supermarket_grocery_number_2',
 'supermarket_grocery_number_of_open_or_closed_refrigeration_freezer_units',
 'supermarket_grocery_number_of_walk_in_refrigeration_freezer_units',
 'supermarket_grocery_percent',
 'supermarket_grocery_walk',
 'supermarket_grocery_weekly',
 'supermarket_grocery_worker',
 'swimming_pool_approximate',
 'swimming_pool_location_of',
 'swimming_pool_months_in_use',
     'social_meeting_hall_gross',
 'social_meeting_hall_gross_floor_area_ft',
     'residence_hall_dormitory',
 'residence_hall_dormitory_1',
 'residence_hall_dormitory_2',
 'residence_hall_dormitory_3',
 'residence_hall_dormitory_4',
 'residence_hall_dormitory_gross_floor_area_ft',
 'restaurant_gross_floor_area',
 'restaurant_gross_floor_area_ft',
 'restaurant_weekly_operating',
 'restaurant_weekly_operating_hours',
 'restaurant_worker_density',
 'restaurant_worker_density_number_per_1_000_sq_ft',
 'retail_store_cash_register',
 'retail_store_computer_density',
 'retail_store_exterior_entrance',
 'retail_store_gross_floor',
 'retail_store_gross_floor_area_ft',
 'retail_store_number_of_open',
 'retail_store_number_of_open_or_closed_refrigeration_freezer_units',
 'retail_store_number_of_walk',
 'retail_store_number_of_walk_in_refrigeration_freezer_units',
 'retail_store_open_or_closed',
 'retail_store_percent_that',
 'retail_store_walk_in',
 'retail_store_weekly_operating',
 'retail_store_worker_density',
 'self_storage_facility_gross',
 'self_storage_facility_gross_floor_area_ft',
 'senior_care_community_average',
 'senior_care_community_gross',
 'senior_care_community_maximum',
 'senior_care_community_number',
 'senior_care_community_number_1',
 'senior_care_community_number_2',
 'senior_care_community_number_3',
 'senior_care_community_number_4',
 'senior_care_community_number_5',
 'senior_care_community_number_6',
 'senior_care_community_percent',
 'senior_living_community_gross_floor_area_ft',
 'senior_living_community_living_unit_density_number_per_1_000_sq_ft',
    'movie_theater_gross_floor_area_ft',
    'non_refrigerated_warehouse',
 'non_refrigerated_warehouse_1',
 'non_refrigerated_warehouse_2',
 'non_refrigerated_warehouse_3',
 'non_refrigerated_warehouse_4',
 'non_refrigerated_warehouse_5',
 'non_refrigerated_warehouse_gross_floor_area_ft',
     'parking_completely_enclosed',
 'parking_completely_enclosed_parking_garage_size_ft',
 'parking_gross_floor_area',
 'parking_gross_floor_area_ft',
 'parking_open_parking_lot',
 'parking_open_parking_lot_size_ft',
 'parking_partially_enclosed',
 'parking_partially_enclosed_parking_garage_size_ft',
     'strip_mall_gross_floor_area',
## Hostpial / Hotel
    'hospital_general_medical',
 'hospital_general_medical_1',
 'hospital_general_medical_10',
 'hospital_general_medical_11',
 'hospital_general_medical_12',
 'hospital_general_medical_13',
 'hospital_general_medical_14',
 'hospital_general_medical_15',
 'hospital_general_medical_16',
 'hospital_general_medical_17',
 'hospital_general_medical_2',
 'hospital_general_medical_3',
 'hospital_general_medical_4',
 'hospital_general_medical_5',
 'hospital_general_medical_6',
 'hospital_general_medical_7',
 'hospital_general_medical_8',
 'hospital_general_medical_9',
 'hotel_amount_of_laundry',
 'hotel_cooking_facilities',
 'hotel_full_service_spa_floor',
 'hotel_gross_floor_area_ft',
 'hotel_gym_fitness_center',
 'hotel_gym_fitness_center_floor_area_ft',
 'hotel_number_of_rooms',
 'hotel_percent_that_can_be',
 'hotel_room_density_number',
 'hotel_type_of_laundry_facility',
 'hotel_worker_density_number',
 'urgent_care_clinic_other',
 'urgent_care_clinic_other_outpatient_gross_floor_area_ft',
    'mailing_center_post_office_gross_floor_area_ft',
 'manufacturing_industrial_plant_gross_floor_area_ft',
 'medical_office_gross_floor',
 'medical_office_gross_floor_area_ft',
 'medical_office_mri_machine',
 'medical_office_number_of',
 'medical_office_number_of_1',
 'medical_office_number_of_computers',
 'medical_office_number_of_mri_machines',
 'medical_office_number_of_workers_on_main_shift',
 'medical_office_percent_that',
 'medical_office_percent_that_1',
 'medical_office_percent_that_can_be_cooled',
 'medical_office_percent_that_can_be_heated',
 'medical_office_weekly',
 'medical_office_weekly_operating_hours',
    'museum_gross_floor_area_ft',
    'office_computer_density_number',
 'office_gross_floor_area_ft',
 'office_number_of_computers',
 'office_number_of_workers',
 'office_number_of_workers_on_main_shift',
 'office_percent_that_can_be',
 'office_percent_that_can_be_1',
 'office_percent_that_can_be_cooled',
 'office_percent_that_can_be_heated',
 'office_weekly_operating_hours',
 'office_worker_density_number',
 'office_worker_density_number_per_1_000_sq_ft',
     'adult_education_gross_floor',
 'adult_education_gross_floor_area_ft',
]
residential2 = residential.drop(columns=to_drop)

In [ ]:
# Convert year_ending to datetime
residential2["year_ending"] = pd.to_datetime(residential2["year_ending"], errors="coerce")
# Optional: extract just the year if thatâ€™s all you need
residential2["year_ending_year"] = residential2["year_ending"].dt.year
residential2[["report_year","year_ending_year","source_years","source_api_url","source_info_url"]][residential['report_year'].isnull()]
## Limtiing to the Metered Areas for whole property or whole building
residential3 = residential2[residential2["metered_areas_energy"].isin(['Whole Building', "Whole Property"])]
residential3 = residential3[residential3["primary_property_type_self"]=='Multifamily Housing'] ## confirming onlyl multifam. No nulls here

residential3 = residential3[(residential3["construction_status"]=='Existing')|(residential3["construction_status"].isnull())]
## Stand Alone Properties
residential3 = residential3[(residential3["parent_property_id"].isnull())|(residential3["parent_property_id"]=='Not Applicable: Standalone Property')]
residential3 = residential3.drop(columns=["primary_property_type_self",
                                          "primary_property_type",
                                          "national_median_reference",
                                          "list_of_all_property_use","largest_property_use_type","construction_status",
                                         "parent_property_id","parent_property_name"])

##### End second Skip

In [97]:
residential3 = pd.read_csv("residential3.csv")

C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\3537755669.py:1: DtypeWarning: Columns (4,5,8,14,18,19,20,43,44,45,46,47,53,54,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,98,112,118,126,127,128,129,130,131,132,133,138,139,146,147,148,151,154,155,156,160,163,172,173,175,176,177,178,179,180,181,183,185,188,189,190,210,211,231,245,247,248,249,250,251,252,253,254,255,256,257,258,259,260,272,273,274,275,276,277,281,282,286,289,295,296,303,304,305,306,307,308,309,318,319,333,334,335,336,337,339,342,345,347,348,352) have mixed types. Specify dtype option on import or set low_memory=False.
  residential3 = pd.read_csv("residential3.csv")

#### Limint by Years and for those Buildigns that have been i nthe Data for the years we want

In [216]:
buildings_2012_2013_ids = residential3[residential3["year_ending_year"].isin([2012,2013])]["property_id"].unique()
print("CheckingGrouping")
print(residential3[residential3['property_id'].isin(buildings_2012_2013_ids)].groupby(['year_ending_year']).agg({"year_ending":"count"}).reset_index())
### Limtiing to 2017 and before 
residential3_2012_2017 = residential3[residential3["year_ending_year"]<2018]
print("YEARS")
print(residential3_2012_2017['year_ending_year'].unique())
residential3_2012_2017 = residential3_2012_2017[residential3_2012_2017['property_id'].isin(buildings_2012_2013_ids)]

CheckingGrouping
    year_ending_year  year_ending
0               2012           32
1               2013         9275
2               2014         7475
3               2015         4429
4               2016         3908
5               2017         5104
6               2018         3365
7               2019         3199
8               2020         4399
9               2021         2547
10              2022         2644
11              2023         2773
YEARS
[2017 2016 2015 2014 2013 2012]

In [217]:
### Building Info Only 
building_info =residential3_2012_2017[["property_id","address_1","address_2","city","postal_code",'county','borough',"latitude","longitude"]].drop_duplicates()
building_info.to_csv("building_info.csv", index=False)

In [218]:
# --- PATCHED HELPERS (extend yours) ---
import re
import pandas as pd
from typing import Optional, List, Tuple

STATE_ABBR = "NY"

# NYC biasing bounds (rough NYC box)
NYC_BOUNDS = {
    "southwest": {"lat": 40.477399, "lng": -74.259090},
    "northeast": {"lat": 40.917577, "lng": -73.700272},
}

# Common misspellings / normalizations seen in your data
COMMON_FIXES = {
    r"\bWASHIGNTON\b": "WASHINGTON",
    r"\bWASHNGTN\b": "WASHINGTON",
    r"\bALBERMALE\b": "ALBEMARLE",
    r"\bALBERMALE\b": "ALBEMARLE",
    r"\bAMSETRDAM\b": "AMSTERDAM",
    r"\bKINGBRIDGE\b": "KINGSBRIDGE",
    r"\bOVINGTON\b": "OVINGTON",   # keep as is (looks fine)
    r"\bNAGLE HOUSE\b": "NAGLE AVE",  # likely street not building name
    r"\bNAGLE\b": "NAGLE",  # pass-through
    r"\bST\s*NICOLAS\b": "ST NICHOLAS",
    r"\bOILVER\b": "OLIVER",
    r"\bRIVER SIDE\b": "RIVERSIDE",
    r"\bSTEET\b": "STREET",
    r"\bSREET\b": "STREET",
    r"\bFOR WASHINGTON\b": "FORT WASHINGTON",
    r"\bFT\.?\b": "FORT",
    r"\bBIVONA\b": "BIVONA",  # leave
    r"\bCLARKE\b": "CLARKE",  # leave
    r"\bCAROLL\b": "CARROLL",
    r"\bCLAFFIN\b": "CLAFLIN",
    r"\bDEKALB\b": "DEKALB",
    r"\bLAFAYETTE\b": "LAFAYETTE",
    r"\bW\s*MOSHOLU\b": "W MOSHOLU",
    r"\bE\s*MOSHOLU\b": "E MOSHOLU",
    r"\bMOSHOLU\b": "MOSHOLU",
    r"\bPARSON\b": "PARSONS",
    r"\bPARSONS BLVD?\b": "PARSONS BLVD",
}

# Street type vocabulary to help "best-guess" if clearly missing
STREET_TYPES = ["ST", "AVE", "RD", "BLVD", "PL", "LN", "DR", "CT", "PKWY", "TER", "PLZ"]

def _norm_ws(s: Optional[str]) -> Optional[str]:
    if s is None or (isinstance(s, float) and pd.isna(s)):
        return None
    s = str(s)
    # HTML escapes commonly seen
    s = s.replace("&amp;", "&")
    s = s.replace("\u2013", "-").replace("\u2014", "-")
    s = s.strip()
    s = re.sub(r"\s+", " ", s)
    return s if s else None

def _apply_common_fixes(u: str) -> str:
    for pat, repl in COMMON_FIXES.items():
        u = re.sub(pat, repl, u, flags=re.IGNORECASE)
    return u

def _std_unit(s: Optional[str]) -> Optional[str]:
    u = _norm_ws(s)
    if not u:
        return None
    u = u.upper().replace("#", "").strip()
    if not u:
        return None
    u = re.sub(r"^(APARTMENT|APT\.?)\s*", "APT ", u)
    u = re.sub(r"^(SUITE|STE\.?)\s*", "STE ", u)
    u = re.sub(r"^(FLOOR|FL\.?)\s*", "FL ", u)
    if not re.match(r"^(APT|STE|FL)\b", u):  # bare "5B" â†’ "APT 5B"
        u = f"APT {u}"
    return u

def _std_street(u: Optional[str]) -> Optional[str]:
    u = _norm_ws(u)
    if not u:
        return None
    u = _apply_common_fixes(u.upper())

    repl = {
        " STREET": " ST",
        " AVENUE": " AVE",
        " ROAD": " RD",
        " BOULEVARD": " BLVD",
        " PLACE": " PL",
        " LANE": " LN",
        " DRIVE": " DR",
        " COURT": " CT",
        " PARKWAY": " PKWY",
        " TERRACE": " TER",
        " PLAZA": " PLZ",
    }
    for k, v in repl.items():
        u = re.sub(k + r"\b", v, u)

    # Normalize ordinals and add missing "TH/ST/ND/RD" on bare numbers like "E 48" or "West104"
    u = re.sub(r"\b(\d+)\s*(ST|ND|RD|TH)\b", lambda m: f"{int(m.group(1))}{m.group(2)}", u)
    u = re.sub(r"\b(WEST|W|EAST|E)\s*(\d{1,3})(?=\b)", r"\1 \2", u)  # ensure space
    def add_ordinal(m):
        n = int(m.group(2))
        suf = "TH"
        if n % 10 == 1 and n % 100 != 11: suf = "ST"
        elif n % 10 == 2 and n % 100 != 12: suf = "ND"
        elif n % 10 == 3 and n % 100 != 13: suf = "RD"
        return f"{m.group(1)} {n}{suf}"
    u = re.sub(r"\b(WEST|W|EAST|E)\s+(\d{1,3})\b(?!\s*(ST|AVE|RD|BLVD|PL|LN|DR|CT|PKWY|TER|PLZ))", add_ordinal, u)

    # Collapse multiple addresses to last one here (we also split earlier in the pipeline)
    if "/" in u:
        u = u.split("/")[-1].strip()

    # Queens: hyphenated house numbers like "41-07 42ND ST" are valid; leave them as-is
    # Best-guess add a street type if line is like "308 WEST 104TH" (no type) or "160 E 48TH"
    if re.search(r"\b(WEST|W|EAST|E|NORTH|N|SOUTH|S)\b", u) and re.search(r"\b\d{1,3}(ST|ND|RD|TH)\b", u) and not re.search(r"\b(ST|AVE|RD|BLVD|PL|LN|DR|CT|PKWY|TER|PLZ)\b", u):
        u = u + " ST"

    # Convert key phrases
    u = re.sub(r"\bFT\b", "FORT", u)

    return u.title()

def _borough_from_fields(borough, county, city) -> Optional[str]:
    vals = " ".join([str(x) for x in [borough, county, city] if pd.notna(x)]).upper()
    if any(x in vals for x in ["MANHATTAN", "NEW YORK", "NY COUNTY"]): return "MANHATTAN"
    if "BRONX" in vals: return "BRONX"
    if any(x in vals for x in ["BROOKLYN", "KINGS"]): return "BROOKLYN"
    if "QUEENS" in vals: return "QUEENS"
    if any(x in vals for x in ["STATEN", "RICHMOND"]): return "STATEN ISLAND"
    return None

def _usps_city_from_borough(city, borough_norm) -> Optional[str]:
    c = (_norm_ws(city) or "").upper()
    if borough_norm == "MANHATTAN": return "New York"
    if borough_norm == "BRONX": return "Bronx"
    if borough_norm == "BROOKLYN": return "Brooklyn"
    if borough_norm == "QUEENS":
        # USPS accepts neighborhoods, but "Queens" is safest default
        return "Queens" if c in ["", "QUEENS", "NAN"] else c.title()
    if borough_norm == "STATEN ISLAND": return "Staten Island"
    return c.title() if c else None

def _std_zip5(z):
    if z is None or (isinstance(z, float) and pd.isna(z)):
        return None
    s = re.sub(r"\D", "", str(z))
    return s[:5] if len(s) >= 5 else None

# ---------- NEW: address candidate generator ----------

SEP_PATTERN = re.compile(r"\s*(?:;|,|/|&{1,2}| and | AND |\bETAL\b|\bet al\b|\(|\)|\bAKA\b|\bA\/K\/A\b)\s*", flags=re.IGNORECASE)

def _is_pobox(s: str) -> bool:
    return bool(re.search(r"\bP\.?\s*O\.?\s*BOX\b", s, flags=re.IGNORECASE))

def _has_street_name(u: str) -> bool:
    # needs something besides just a house number or zeros
    return bool(re.search(r"\b[A-Z][A-Z]+\b", u)) and not re.fullmatch(r"\d+(-\d+)?", re.sub(r"[^0-9\-]", "", u or ""))

def _expand_number_ranges(u: str) -> List[str]:
    """
    '2078-84-90 Morris Ave' -> ['2078 Morris Ave','2084 Morris Ave','2090 Morris Ave']
    '1051-1057-1061-1065 Boston Rd' -> same expansion
    """
    m = re.search(r"\b(\d{1,6}(?:-\d{1,6})+)\s+([A-Z].+)$", u)
    if not m:
        return [u]
    block = m.group(1)
    tail = m.group(2)
    parts = [p for p in re.split(r"-", block) if p]
    base = parts[0]
    expanded = []
    for p in parts:
        if len(p) < len(base):  # "2078-84" -> fill high-order digits from base
            p = base[:len(base)-len(p)] + p
        expanded.append(f"{p} {tail}")
    return expanded

def _split_multi(s: str) -> List[str]:
    s = SEP_PATTERN.sub(" | ", s)  # unify to pipe, then split
    tokens = [t.strip(" .") for t in s.split("|") if _norm_ws(t)]
    # Remove address-like fragments that are obviously units/notes only
    return [t for t in tokens if t and not re.match(r"^(APT|STE|FL|B#\d+)\b", t, flags=re.IGNORECASE)]

def build_candidates(row) -> List[Tuple[str, dict, str]]:
    """
    Returns list of (query, components, reason_tag)
    """
    a1 = _std_street(row.get("address_line1_clean"))
    a2 = _std_unit(row.get("address_line2_clean"))
    borough = _borough_from_fields(row.get("borough_clean"), row.get("county"), row.get("city_clean"))
    city = _usps_city_from_borough(row.get("city_clean"), borough)
    zip5 = _std_zip5(row.get("zip"))
    state = STATE_ABBR

    raw = _norm_ws(row.get("geocode_key") or row.get("address_1") or "")
    raw = _apply_common_fixes(raw.upper()) if raw else ""
    raw_parts = _split_multi(raw) if raw else []

    # Build an address seed from clean fields
    seeds = []
    if a1:
        seeds.append(a1)
    seeds.extend(_expand_number_ranges(x) for x in raw_parts)
    seeds = [y for x in seeds for y in (x if isinstance(x, list) else [x])]
    seeds = [s for s in seeds if s] or ([raw.title()] if raw else [])

    candidates = []
    for s in seeds:
        s_norm = _std_street(s)
        if not s_norm:
            continue
        if _is_pobox(s_norm):
            candidates.append((None, {}, "POBOX"))
            continue
        if not _has_street_name(s_norm):
            candidates.append((None, {}, "MISSING_STREET"))
            continue

        line = s_norm
        parts = [line]
        # Append unit if it looks like an apartment (rarely helpful for geocode but OK)
        # if a2: parts.append(a2)

        locality = city or (borough.title() if borough else None)
        tail = ", ".join([p for p in [locality, state, zip5] if p])
        query = f"{' '.join(parts)}, {tail}" if tail else " ".join(parts)

        comps = {"administrative_area": state}
        if locality: comps["locality"] = locality

        candidates.append((query, comps, "OK"))
    # Deduplicate, keep order
    seen = set()
    out = []
    for q, c, r in candidates:
        key = (q or r, tuple(sorted(c.items())))
        if key not in seen:
            seen.add(key)
            out.append((q, c, r))
    return out

In [219]:
# Cleaned drafts
building_info["address_line1_clean"] = building_info["address_1"].apply(_std_street)
building_info["address_line2_clean"] = building_info["address_2"].apply(_std_unit)

building_info["borough_clean"] = [
    _borough_from_fields(b, c, ci)
    for b, c, ci in zip(building_info.get("borough"), building_info.get("county"), building_info.get("city"))
]
building_info["city_clean"] = [
    _usps_city_from_borough(ci, bn)
    for ci, bn in zip(building_info.get("city"), building_info["borough_clean"])
]
building_info["state_clean"] = STATE_ABBR
building_info["postal_code_5_clean"] = building_info.get("postal_code").apply(_std_zip5) if "postal_code" in building_info.columns else None

# Mark rows missing coords
building_info["needs_geocoding"] = building_info["latitude"].isna() | building_info["longitude"].isna()

# a stable address key to dedupe geocoding calls
def addr_key(r):
    parts = [
        _norm_ws(r["address_line1_clean"]) or "",
        _norm_ws(r["address_line2_clean"]) or "",
        _norm_ws(r["city_clean"]) or "",
        STATE_ABBR,
        _norm_ws(r["postal_code_5_clean"]) or "",
    ]
    return "|".join(parts).upper()

building_info["geocode_key"] = building_info.apply(addr_key, axis=1)

building_info.head(3)[[
    "property_id","address_1","address_2","city","borough","county",
    "address_line1_clean","address_line2_clean","city_clean","state_clean","postal_code_5_clean",
    "needs_geocoding","geocode_key"
]]

,property_id,address_1,address_2,city,borough,county,address_line1_clean,address_line2_clean,city_clean,state_clean,postal_code_5_clean,needs_geocoding,geocode_key
85955,2638790.0,43-22,NaN,Sunnyside,NaN,NaN,43-22,None,Sunnyside,NY,None,True,43-22||SUNNYSIDE|NY|
85957,2707907.0,2626 Homecrest Avenue,NaN,Brooklyn,BROOKLYN,NaN,2626 Homecrest Ave,None,Brooklyn,NY,None,False,2626 HOMECREST AVE||BROOKLYN|NY|
85974,3521602.0,3240 Henry Hudson parkway,NaN,Bronx,BRONX,NaN,3240 Henry Hudson Pkwy,None,Bronx,NY,None,False,3240 HENRY HUDSON PKWY||BRONX|NY|

In [220]:
print(building_info.shape)
building_info = building_info.dropna(subset=["address_1","address_2","city","postal_code","county","borough",
                                             "latitude","longitude","address_line1_clean"],how='all')
print(building_info.shape)

(9739, 17)
(9720, 17)

In [221]:
### Geocode The Null lat long 
with_coord = building_info[building_info["needs_geocoding"]==False]
print(with_coord.shape)
without_coord = building_info[building_info["needs_geocoding"]==True]
print(without_coord.shape)

(9121, 17)
(599, 17)

In [222]:
without_coord['city'][without_coord['city']=='Flushinig']='Flushing'
without_coord['borough_clean'][(without_coord['city'].isin(['Sunnyside', 'Astoria', 'Jackson Heights', 'Flushing', 'Rego Park',
                                                   'Forest Hills', 'Oakland Gardens', 'Bayside', 'Kew Gardens','flushing',
                                                   'Woodside', 'Flushinig', 'Larchmont', 'Ridgewood','Jamaica', 'Albertson'])
                                &(without_coord['borough_clean'].isnull()))]='QUEENS'
### Manual Fixes where possible 
without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
               (without_coord["address_1"]=="3115 brighton 6th"))]="BROOKLYN"
without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
               (without_coord["address_1"]=="144-35/39 Sanford Avenue"))]="QUEENS"
without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
               (without_coord["address_1"]=="183-11 Hillside Ave"))]="QUEENS"
without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
               (without_coord["address_1"]=="103-30/26 68th Ave"))]="QUEENS"
without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
               (without_coord["address_1"]=="71-11 -71-23 162ND STREET"))]="QUEENS"
without_coord = without_coord[~without_coord['borough_clean'].isnull()]
print(without_coord.shape)

(586, 17)

C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\277626894.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  without_coord['city'][without_coord['city']=='Flushinig']='Flushing'
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\277626894.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord['city'][without_coord['city']=='Flushinig']='Flushing'
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\277626894.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord['city'][without_coord['city']=='Flushinig']='Flushing'
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\277626894.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  without_coord['borough_clean'][(without_coord['city'].isin(['Sunnyside', 'Astoria', 'Jackson Heights', 'Flushing', 'Rego Park',
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\277626894.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord['borough_clean'][(without_coord['city'].isin(['Sunnyside', 'Astoria', 'Jackson Heights', 'Flushing', 'Rego Park',
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\277626894.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord['borough_clean'][(without_coord['city'].isin(['Sunnyside', 'Astoria', 'Jackson Heights', 'Flushing', 'Rego Park',
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\277626894.py:7: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\277626894.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\277626894.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\277626894.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\277626894.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\277626894.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\277626894.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\277626894.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\277626894.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\277626894.py:13: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\277626894.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\277626894.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\277626894.py:15: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\277626894.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\277626894.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_coord["borough_clean"][((without_coord['borough_clean'].isnull())&

In [223]:
print(without_coord.shape)

(586, 17)

### Start of Geocoding

In [224]:
creds = gf.get_creds()
google_api_key = creds["Google"]["geocoding"]
open_ai = creds["openai"]["FirstTestKey"]

In [ ]:
# reading in past resu;ts
# results_df = pd.concat(results)
# results_df.to_csv("results_geo.csv",index=False)
# results_df = pd.read_csv("results_geo.csv")
# failed_df = pd.concat(failed)
# failed_df.to_csv("failed_geo.csv",index=False)
# failed_df = pd.read_csv("failed_geo.csv")

In [207]:
results = []
failed = []

In [228]:
# ---- GEOCODING LOOP (with retries/candidates/NYC bias) ----
import googlemaps
import os
import math
gmaps = googlemaps.Client(key=google_api_key)

results, failed = [], []

def geocode_row(row):
    cands = build_candidates(row)
    # Always add *raw borough + state* fallback for named complexes (e.g., NYCHA) to try to at least anchor
    borough = _borough_from_fields(row.get("borough_clean"), row.get("county"), row.get("city_clean"))
    if borough:
        cands.append((f"{borough.title()}, NY", {"administrative_area": "NY", "locality": borough.title()}, "BOROUGH_ONLY"))

    for query, comps, tag in cands:
        if not query:
            continue
        try:
            resp = gmaps.geocode(
                query,
                region="us",
                components=comps,
                bounds=NYC_BOUNDS
            )
        except Exception as e:
            print("Geocode error:", e)
            resp = []

        if resp:
            # prefer rooftop or range_interpolated results
            best = sorted(resp, key=lambda r: {"ROOFTOP":0, "RANGE_INTERPOLATED":1}.get(r.get("geometry",{}).get("location_type",""), 2))[0]
            loc = best["geometry"]["location"]
            return loc["lat"], loc["lng"], tag, best.get("formatted_address"), best.get("place_id")

    return None, None, "NO_HIT", None, None

# assumes without_coord is a DataFrame with the relevant columns
for i, r in without_coord[["property_id","geocode_key","address_line1_clean","address_line2_clean","borough_clean","city_clean","county"]].drop_duplicates().iterrows():
    # keep your i >= guard if needed
    temp_df = pd.DataFrame([r])
    lat, lng, tag, faddr, pid = geocode_row(r)

    if lat is not None and lng is not None:
        temp_df["latitude"]  = lat
        temp_df["longitude"] = lng
        temp_df["geocode_tag"] = tag
        temp_df["formatted_address"] = faddr
        temp_df["place_id"] = pid
        results.append(temp_df)
    else:
        temp_df["geocode_tag"] = tag  # e.g., POBOX, MISSING_STREET, NO_HIT
        failed.append(temp_df)

In [208]:


# # assumes: without_coord, results = [], failed = [] already exist
# for i, r in without_coord[["property_id","geocode_key"]].drop_duplicates().iterrows():
#     if i >= 121392:
#         temp_df = pd.DataFrame([r])
#         print(r["property_id"])

#         full_address = r["geocode_key"]
#         print(full_address)

#         if "/" in full_address:
#             full_address = full_address.split("/")[-1].strip()
#             print("Split Addy:", full_address)

#         # ---- Google Geocoding (swap-in for geolocator.geocode) ----
#         try:
#             resp = gmaps.geocode(full_address)  # add region="us" or components=... if you like
#         except Exception as e:
#             print("Geocode error:", e)
#             resp = []

#         if resp:
#             loc = resp[0]["geometry"]["location"]
#             temp_df["latitude"]  = loc["lat"]
#             temp_df["longitude"] = loc["lng"]
#             print(loc["lat"], loc["lng"])
#             results.append(temp_df)
#         else:
#             failed.append(temp_df)

3089718.0
84-17 125TH ST. ET. AL.||QUEENS|NY|
40.7072689 -73.826502
3108051.0
3400 TYRON AVE||BRONX|NY|
40.87956519999999 -73.8767307
3116937.0
854 WEST 181ST||NEW YORK|NY|
40.8511379 -73.9399545
3128084.0
||BROOKLYN|NY|
40.6781784 -73.9441579
3128087.0
||BROOKLYN|NY|
40.6781784 -73.9441579
3128113.0
||BRONX|NY|
40.8447819 -73.8648268
3128115.0
NA NA||BRONX|NY|
40.8447819 -73.8648268
3128128.0
||BRONX|NY|
40.8447819 -73.8648268
3128739.0
142-18 38TH ST||QUEENS|NY|
40.7616081 -73.82639309999999
3129467.0
301 EAST 22ND||NEW YORK|NY|
40.7371253 -73.9806613
3129938.0
54 WEST 94TH ST||NEW YORK|NY|
40.7908594 -73.9673689
3129939.0
||BROOKLYN|NY|
40.6781784 -73.9441579
3223085.0
152-154-156 EAST 171 ST||BRONX|NY|
40.8400493 -73.914232
3234049.0
3052-3054 KINGS BRIDGE AVE||BRONX|NY|
40.8794388 -73.9065129
3464982.0
1464-66, 72, 74 WATSON AVE||BRONX|NY|
40.8280409 -73.8636811
3465047.0
1484-86-92-94 WATSON AVE||BRONX|NY|
40.8255082 -73.8798845
3503004.0
18 34TH RD||QUEENS|NY|
40.7691161 -73.7757254
3503301.0
505 AND 515 FLUSHING AVE.||BROOKLYN|NY|
40.6994508 -73.95467239999999
3519927.0
45-02 DISTMARS BLVD||ASTORIA|NY|
40.7700772 -73.9033731
3521530.0
63 BOGART ST||BROOKLYN|NY|
40.7058517 -73.9335882
3523211.0
1345 4TH ST||BROOKLYN|NY|
40.617882 -73.9713778
3529387.0
161 SOUTH ELLIOT PL|APT 171 S PORTLAND AVE|BROOKLYN|NY|
40.6842579 -73.9747493
3538029.0
86TH ST||NEW YORK|NY|
40.6093465 -74.0060918
3539197.0
3333 BROADWAY||NEW YORK|NY|
40.819674 -73.9570143
3541861.0
443 HICKS ST||BROOKLYN|NY|
40.6875477 -73.9993561
3543069.0
309-11 WEST 57TH ST||NEW YORK|NY|
40.7672217 -73.9833242
3543900.0
1694-98 SELWYNE AVE||BRONX|NY|
40.8443934 -73.9100358
3584466.0
473,477,481,485 HOWARD ST & 1756,1760,1764 PARK|APT PLACE & 1785, 1791 STERLING PLACE|BROOKLYN|NY|
40.6709921 -73.919219
3935635.0
7101 COLONIAL STEET||BROOKLYN|NY|
40.6350323 -74.0317991
3999732.0
60 &&80 KNOLLS CRESCENT||BRONX|NY|
40.8799167 -73.91766729999999
4040962.0
10,20,30,40 RICHMAN PLAZA||BRONX|NY|
40.8523812 -73.92257029999999
4043773.0
79-81 WORTH ST||NEW YORK|NY|
40.716834 -74.00546729999999
4045816.0
155 WEST 162ND ST||BRONX|NY|
40.8319485 -73.93027359999999
4046553.0
30-50 21ST||QUEENS|NY|
40.76881970000001 -73.929031
2008963.0
20 RT||NEW YORK|NY|
40.7601673 -73.9728858
2551706.0
3136 GODWIN TERRAVE||BRONX|NY|
40.8802038 -73.9046575
2564206.0
ALTAIR 20||NEW YORK|NY|
40.7556565 -73.9936282
2615603.0
29 155TH AVE||HOWARD BEACH|NY|
40.6654089 -73.84872020000002
2631044.0
5301 SYNDER AVE||BROOKLYN|NY|
40.650538 -73.926892
2634545.0
265 275 CHERRY ST||NEW YORK|NY|
40.7110317 -73.9885151
2664816.0
P.O. BOX 300513||BROOKLYN|NY|
40.6781784 -73.9441579
2664828.0
P.O. BOX 300513||BROOKLYN|NY|
40.6781784 -73.9441579
2673594.0
29-09 &AMP; 29-49 137TH ST AND 29-30 138TH ST||FLUSHING|NY|
40.7707726 -73.83087309999999
2688553.0
6 WEST AVE||LARCHMONT|NY|
40.9314608 -73.760903
2690781.0
10200-10500 SHORE FRONT PKWY||QUEENS|NY|
40.5824118 -73.822943
2705257.0
165,185 & 215 PARK ROW||NEW YORK|NY|
40.7131887 -73.999267
2706643.0
139-15 28TH RD||FLUSHING|NY|
40.7725808 -73.828743
2706645.0
147-25,27,37,41,43 38TH AVE||FLUSHING|NY|
40.7529754 -73.8580787
2706655.0
152-18 UNION TURNPIKE||FLUSHING|NY|
40.71897389999999 -73.8110262
2706673.0
28-02 141ST ST||FLUSHING|NY|
40.7730935 -73.82821419999999
2706681.0
34-11 93RD ST||JACKSON HEIGHTS|NY|
40.754514 -73.8746015
2706693.0
85-04 63RD DR||REGO PARK|NY|
40.7223453 -73.8667722
2706753.0
2 BAY CLUB DR||BAYSIDE|NY|
40.7784431 -73.7804038
2711603.0
126 WEST FORDHAM||BRONX|NY|
40.8626508 -73.9067574
2730684.0
2820 SEDGEWICK||BRONX|NY|
40.8726803 -73.9019186
2748725.0
306 EAST MOSHOLU PKWY||BRONX|NY|
40.8716219 -73.8826018
2773235.0
3815 PUTNAM AVE||BRONX|NY|
40.8850307 -73.8989132
2774888.0
601 PELHAM PWKY||BRONX|NY|
40.8574946 -73.8706851
2786059.0
556-582 HOWARD AVE||NEW YORK|NY|
40.6188834 -74.0948756
2786277.0
144-10 ROOSEVLET AVE||QUEENS|NY|
40.7615571 -73.8214591
2787329.0
185 PARKHILL||STATEN ISLAND|NY|
40.6154391 -74.081903
2788863.0
217-219 HAMILTON ST||STATEN ISLAND|NY|
40.614935 -74.0865681
2789104.0
201-203 HAMILTON ST||STATEN ISLAND|NY|
40.614935 -74.0865681
2791455.0
20 &AMP; 40 89TH ST||BROOKLYN|NY|
40.6229387 -74.0395357
2791670.0
377 W 11 STREEET (RIVERBANK SOUTH)||NEW YORK|NY|
40.7356041 -74.00935919999999
2792881.0
142-35 DR||QUEENS|NY|
40.757975 -73.9242235
2800668.0
1605 PUTNAME AVE||RIDGEWOOD|NY|
40.6985047 -73.90868100000002
2805341.0
68-61 YELLOWSTONE||FLUSHING|NY|
40.7647238 -73.8306716
2805990.0
100 &AMP; 150 OCEANA DR WEST||BROOKLYN|NY|
40.5763091 -73.9585227
2806039.0
105 &AMP; 155 OCEANA DR EAST||BROOKLYN|NY|
40.5763957 -73.9575654
2811652.0
405 EDGECOMBE AVE||NEW YORK|NY|
40.8289826 -73.940161
2813673.0
80 SKILLMAN ST.||BROOKLYN|NY|
40.6961096 -73.9575416
2817186.0
2855 FREDERICK DOUGLASS BLVD||NEW YORK|NY|
40.8276945 -73.9387605
2817635.0
3115 BRIGHTON 6TH||NY|NY|
40.576446 -73.96100489999999
2817743.0
39 SANFORD AVE||NY|NY|
40.7604079 -73.8159512
2817794.0
26 68TH AVE||NY|NY|
40.7109458 -73.87433039999999
2817796.0
183-11 HILLSIDE AVE||NY|NY|
40.7141982 -73.778628
2830955.0
BETANCES SITES 9A &AMP; B||BRONX|NY|
40.811291 -73.9160483
2830956.0
480 EAST 143 ST - BETANCES SITES 4 &AMP; 5||BRONX|NY|
40.8113053 -73.9186907
2830961.0
30 MANHATTAN AV 1&AMP;2B BORINQ.PL S&AMP;GI||BROOKLYN|NY|
40.70318839999999 -73.9440187
2830978.0
310 CENTRAL AV-15B BUSHWICK II A&AMP;C||BROOKLYN|NY|
40.6956201 -73.921191
2831015.0
10 AVE &AMP; NAGLE AVE ENT DYCKMAN||NEW YORK|NY|
40.8641733 -73.9264267
2831205.0
770 GATES AVE - BED-STUY SITES 42 &AMP; 47||BROOKLYN|NY|
40.6880835 -73.9335335
2831206.0
734 GATES AVE - BED-STUY SITES 42 &AMP;47||BROOKLYN|NY|
40.6879044 -73.93485729999999
2955362.0
67-27 CLOVERDALE LN||QUEENS|NY|
40.7465607 -73.74753710000002
2961741.0
71 VILLAGE RD||BROOKLYN|NY|
40.5965713 -73.9723559
2967669.0
48 PARSONS BLVD.||FLUSHING|NY|
40.7873682 -73.8228487
3004994.0
15 CROOKE||BROOKLYN|NY|
40.6522272 -73.96471850000002
3089459.0
1385 MADISON AVE||NEW YORK|NY|
40.7873906 -73.9538273
3097246.0
92-11 35TH ST||FLUSHING|NY|
40.7529725 -73.8750617
3097271.0
98-50 67TH ST||FLUSHING|NY|
40.7252491 -73.85459139999999
3110409.0
119-40 METROPLOITAN AVE||JAMAICA|NY|
40.7051573 -73.8308229
3113130.0
79-18 WOODSIDE AVE||FLUSHING|NY|
40.7437087 -73.8857707
3113170.0
212-30 23RD AVE||BAYSIDE|NY|
40.7815266 -73.7768814
3114448.0
527 WEST 47TH ST||NEW YORK|NY|
40.7634891 -73.9945211
3117931.0
22 MOFFAT AVE||BROOKLYN|NY|
40.6835451 -73.9096714
3126525.0
123 MAINE ST.||NEW YORK|NY|
40.6208595 -74.1277952
3128439.0
187-04|APT 120 AVENUE|QUEENS|NY|
40.6849026 -73.7673725
3129378.0
2906 BRIGHTON 12TH||BROOKLYN|NY|
40.5817263 -73.9552748
3129380.0
3130 BRIGHTON 6TH||BROOKLYN|NY|
40.5764047 -73.9615089
3177321.0
5, 60, 80 EAST 93RD ST||BROOKLYN|NY|
40.6625392 -73.927356
3271721.0
86-16 60TH AVE||ALBERTSON|NY|
40.7306391 -73.8731663
3323337.0
1819 WILLIAMS BRIDGE RD||BRONX|NY|
40.8508106 -73.8520802
3452057.0
395 UNION AVE||BROOKLYN|NY|
40.7122376 -73.9515779
3524995.0
1025 BOYNTON||BRONX|NY|
40.8245765 -73.87754819999999
3525514.0
404-408-412 AUDUBON AVE||NEW YORK|NY|
40.851648 -73.9305679
3532198.0
560 165TH ST||NEW YORK|NY|
40.8256369 -73.9070409
3535758.0
2531 EAST 7TH ST||BROOKLYN|NY|
40.5883689 -73.9620195
3538132.0
751 ST. MARKS ST||BROOKLYN|NY|
40.6753678 -73.9477843
3539873.0
401 1ST AVE; 400 2ND AVE|APT 311 E. 23RD ST; 333 E. 23RD ST|NEW YORK|NY|
40.7380764 -73.98032450000001
3554148.0
510 ATLANTIC AVE||QUEENS|NY|
40.6854062 -73.9813436
3581640.0
4321 BROADWAY, 701 WEST 184TH ST||NEW YORK|NY|
40.8523394 -73.934964
3585301.0
1212 DR MARTIN LUTHER KING JR BLVD||BRONX|NY|
40.8381297 -73.92721039999999
3999732.0
60 &AMP;80 KNOLLS CRESCENT||BRONX|NY|
40.8799167 -73.91766729999999
4032898.0
345 E 69||NEW YORK|NY|
40.7661653 -73.957714
4035718.0
975-1000 SIMPSON ST, BRONX||BRONX|NY|
40.82168739999999 -73.893143
4037232.0
810 MIDWOOD ST|APT 828/832/844 MIDWOOD STREET|BROOKLYN|NY|
Split Addy: 844 MIDWOOD STREET|BROOKLYN|NY|
40.6607543 -73.93253779999999
4039455.0
1307-11-15 MERRIAN AVE||BRONX|NY|
40.8407446 -73.9264985
4043201.0
209-90 AND 210-10 23RD AVE||QUEENS|NY|
40.7785471 -73.9184871
4043202.0
33-01 AND 33-05 90TH ST||QUEENS|NY|
40.7561284 -73.8776452
4043205.0
3850 SEDGEWICK||BRONX|NY|
40.882389 -73.89493329999999
4043334.0
112-19, 112-25, 113-15 34TH AVE||QUEENS|NY|
40.757638 -73.85556799999999
4044459.0
318-330 WARREM ST||BROOKLYN|NY|
40.685619 -73.992158
4045015.0
108-02 69TH AVE||QUEENS|NY|
40.7249743 -73.8450721
4125392.0
720 WEST 11TH ST||NEW YORK|NY|
40.73528990000001 -74.0099912
2642595.0
3099 BRIGHTON 6THSTREET||BROOKLYN|NY|
40.5769931 -73.96119399999999
2647976.0
9002-9046 153RD. AVE 9001-9055 SHORE PKWY|APT LINDENWOOD|NEW YORK|NY|
40.6670957 -73.8445679
3579396.0
1990 ADAM CLAYTON POWELL JR BLVD||NEW YORK|NY|
40.8057479 -73.9511364
3608447.0
665-88 ST||BROOKLYN|NY|
40.6180432 -74.0221201

In [229]:
print(len(results))
print(len(failed)) ## Zero failures

583
0

In [230]:
# reading in past resu;ts
results_df = pd.concat(results)

In [233]:
without_coord_geo = without_coord.dropna(how='all',axis=1).merge(results_df, 
                                                                 on=["property_id","geocode_key","address_line1_clean","address_line2_clean","borough_clean","city_clean","county"],
                                                                 how='left')
without_coord_geo#[without_coord_geo['latitude'].isnull()]

,property_id,address_1,address_2,city,county,borough,address_line1_clean,address_line2_clean,borough_clean,city_clean,state_clean,needs_geocoding,geocode_key,latitude,longitude,geocode_tag,formatted_address,place_id
0,2638790.0,43-22,NaN,Sunnyside,NaN,NaN,43-22,None,QUEENS,Sunnyside,NY,True,43-22||SUNNYSIDE|NY|,40.728224,-73.794852,BOROUGH_ONLY,"Queens, NY, USA",ChIJK1kKR2lDwokRBXtcbIvRCUE
1,3524527.0,150-74th Street,NaN,Brooklyn,NaN,NaN,150-74Th St,None,BROOKLYN,Brooklyn,NY,True,150-74TH ST||BROOKLYN|NY|,40.678178,-73.944158,BOROUGH_ONLY,"Brooklyn, NY, USA",ChIJCSF8lBZEwokRhngABHRcdoI
2,2638326.0,308 West104,NaN,New York,NaN,NaN,308 West 104Th St,None,MANHATTAN,New York,NY,True,308 WEST 104TH ST||NEW YORK|NY|,40.768517,-73.982194,BOROUGH_ONLY,"Manhattan, New York, NY, USA",ChIJYeZuBI9YwokRjMDs_IEyCwo
3,2782781.0,106 & 114 West 143rd Street,NaN,New York,NaN,NaN,106 & 114 West 143Rd St,None,MANHATTAN,New York,NY,True,106 & 114 WEST 143RD ST||NEW YORK|NY|,40.768517,-73.982194,BOROUGH_ONLY,"Manhattan, New York, NY, USA",ChIJYeZuBI9YwokRjMDs_IEyCwo
4,2946930.0,777/783 Fox Street,NaN,Bronx,NaN,NaN,783 Fox St,None,BRONX,Bronx,NY,True,783 FOX ST||BRONX|NY|,40.844782,-73.864827,BOROUGH_ONLY,"Bronx, NY, USA",ChIJsXxpOlWLwokRd1zxj6dDblU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581,4125392.0,720 West 11th Street,NaN,New York,NaN,NaN,720 West 11Th St,None,MANHATTAN,New York,NY,True,720 WEST 11TH ST||NEW YORK|NY|,40.768517,-73.982194,BOROUGH_ONLY,"Manhattan, New York, NY, USA",ChIJYeZuBI9YwokRjMDs_IEyCwo
582,2642595.0,3099 brighton 6thStreet,NaN,brooklyn,kings,NaN,3099 Brighton 6Thstreet,None,BROOKLYN,Brooklyn,NY,True,3099 BRIGHTON 6THSTREET||BROOKLYN|NY|,40.678178,-73.944158,BOROUGH_ONLY,"Brooklyn, NY, USA",ChIJCSF8lBZEwokRhngABHRcdoI
583,2647976.0,9002-9046 153rd. ave 9001-9055 Shore Parkway,Lindenwood,New York,NaN,NaN,9002-9046 153Rd. Ave 9001-9055 Shore Pkwy,APT LINDENWOOD,MANHATTAN,New York,NY,True,9002-9046 153RD. AVE 9001-9055 SHORE PKWY|APT ...,40.768517,-73.982194,BOROUGH_ONLY,"Manhattan, New York, NY, USA",ChIJYeZuBI9YwokRjMDs_IEyCwo
584,3579396.0,1990 Adam Clayton Powell Jr Boulevard,NaN,New York,NaN,NaN,1990 Adam Clayton Powell Jr Blvd,None,MANHATTAN,New York,NY,True,1990 ADAM CLAYTON POWELL JR BLVD||NEW YORK|NY|,40.768517,-73.982194,BOROUGH_ONLY,"Manhattan, New York, NY, USA",ChIJYeZuBI9YwokRjMDs_IEyCwo
585,3608447.0,665-88 Street,NaN,Brooklyn,NaN,NaN,665-88St,None,BROOKLYN,Brooklyn,NY,True,665-88ST||BROOKLYN|NY|,40.678178,-73.944158,BOROUGH_ONLY,"Brooklyn, NY, USA",ChIJCSF8lBZEwokRhngABHRcdoI

In [234]:
 building_info_geocoded= pd.concat([with_coord,without_coord_geo])
# building_info_geocoded.to_csv("building_info_geocoded.csv",index=False)

In [3]:
building_info_geocoded = pd.read_csv("building_info_geocoded.csv")

In [5]:
### Limit the resutlsd based on Building-specific Lat Long, not borough centroids.
building_info_geocoded = building_info_geocoded[building_info_geocoded['geocode_tag'].isnull()]
### NEEED TO ADD THE BBL BY ADDRESS.
print(building_info_geocoded.shape)
building_info_geocoded.to_csv("building_info_geocoded.csv",index=False)

(9121, 20)

In [240]:
# import re
# import time
# import requests
# import pandas as pd

# GEOSVC_BASE = "https://geoservice.planning.nyc.gov"  # Function_1A
# # If you have a key: set GEOSERVICE_KEY in your env and pass api_key=None (it will be picked up here if you want).
# # Or pass api_key="YOUR_KEY" to the function.

# # Normalizes borough strings from your df
# _BORO_NORM = {
#     "1":"Manhattan","mn":"Manhattan","manhattan":"Manhattan","new york":"Manhattan",
#     "2":"Bronx","bx":"Bronx","bronx":"Bronx",
#     "3":"Brooklyn","bk":"Brooklyn","kings":"Brooklyn","brooklyn":"Brooklyn",
#     "4":"Queens","qn":"Queens","queens":"Queens",
#     "5":"Staten Island","si":"Staten Island","richmond":"Staten Island","staten island":"Staten Island",
# }

# def _norm_borough(boro, city=None):
#     """Prefer explicit borough, else infer from city."""
#     for v in (boro, city):
#         if v is None or (isinstance(v, float) and pd.isna(v)): 
#             continue
#         key = str(v).strip().lower()
#         if key in _BORO_NORM:
#             return _BORO_NORM[key]
#     return None

# def _split_address(addr):
#     """
#     Split a single-line street address into (house_number, street_name).
#     Handles Queens hyphen numbers (e.g., 31-12), trims trailing state/ZIP and unit text.
#     """
#     if addr is None or (isinstance(addr, float) and pd.isna(addr)):
#         return None, None
#     s = str(addr).strip()
#     # remove trailing ", NY", ZIP, etc.
#     s = re.sub(r",?\s*(NY|New York|USA|\d{5}(?:-\d{4})?)\s*$", "", s, flags=re.I)
#     # drop unit/suite after a keyword (#, apt, suite, unit, ste)
#     s = re.split(r"\b(apt|suite|ste|unit|#)\b", s, flags=re.I)[0].strip()
#     m = re.match(r"^\s*(\d[\d-]*)\s+(.*)$", s)
#     if not m:
#         return None, None
#     hn, street = m.group(1).strip(), m.group(2).strip()
#     return hn, street

# def _find(d, pat):
#     """Recursive tolerant finder for slightly varying JSON key names."""
#     if isinstance(d, dict):
#         for k, v in d.items():
#             if re.search(pat, str(k), re.I): 
#                 return v
#             out = _find(v, pat)
#             if out is not None:
#                 return out
#     elif isinstance(d, list):
#         for x in d:
#             out = _find(x, pat)
#             if out is not None:
#                 return out
#     return None

# def add_bbl_from_address(
#     df: pd.DataFrame,
#     address_col: str = "address_line1_clean",   # use "address_1" if you prefer
#     borough_col: str = "borough_clean",         # fallback to city if borough missing
#     city_col: str = "city_clean",
#     api_key: str | None = None,
#     pause_sec: float = 0.10,
#     retries: int = 2,
# ):
#     """
#     For each row, call Function_1A with (HouseNumber, Street, Borough),
#     and append columns: bbl, borough_code, tax_block, tax_lot.
#     Returns a *new* dataframe (does not mutate input).
#     """
#     out = df.copy()

#     def _row_to_bbl(row):
#         hn, st = _split_address(row.get(address_col))
#         bor = _norm_borough(row.get(borough_col), row.get(city_col))
#         if not (hn and st and bor):
#             return pd.Series({"bbl": None, "borough_code": None, "tax_block": None, "tax_lot": None, "bbl_status": "missing_inputs"})

#         params = {"HouseNumber": hn, "Street": st, "Borough": bor, "DisplayFormat": "true"}
#         if api_key:
#             params["Key"] = api_key

#         last_err = None
#         for attempt in range(1, retries + 1):
#             try:
#                 r = requests.get(f"{GEOSVC_BASE}/Function_1A", params=params, timeout=25)
#                 r.raise_for_status()
#                 j = r.json()
#                 bor_code = _find(j, r"^borough(code)?$") or _find(j, r"^boro$")
#                 block    = _find(j, r"^block$")
#                 lot      = _find(j, r"^lot$")
#                 if bor_code is None or block is None or lot is None:
#                     return pd.Series({"bbl": None, "borough_code": None, "tax_block": None, "tax_lot": None, "bbl_status": "not_found"})
#                 bbl = f"{int(bor_code)}{int(block):05d}{int(lot):04d}"
#                 return pd.Series({
#                     "bbl": bbl,
#                     "borough_code": str(int(bor_code)),
#                     "tax_block": str(int(block)),
#                     "tax_lot": str(int(lot)),
#                     "bbl_status": "ok",
#                 })
#             except Exception as e:
#                 last_err = str(e)
#                 time.sleep(pause_sec)
#         return pd.Series({"bbl": None, "borough_code": None, "tax_block": None, "tax_lot": None, "bbl_status": f"error:{last_err}"})
#     # Apply row-wise
#     out[["bbl", "borough_code", "tax_block", "tax_lot", "bbl_status"]] = out.apply(_row_to_bbl, axis=1)
#     return out

In [243]:
# if your address and borough columns are the cleaned ones in your sample:
building_info_geocoded_bbl = add_bbl_from_address(
    building_info_geocoded.head(n=20),
    address_col="address_line1_clean",
    borough_col="borough_clean",
    city_col="city_clean",
    api_key=None,        # or "YOUR_KEY" if you have one
    pause_sec=0.1,
    retries=2
)

building_info_geocoded_bbl[["property_id","address_line1_clean","borough_clean","bbl","borough_code","tax_block","tax_lot","bbl_status"]].head(10)

,property_id,address_line1_clean,borough_clean,bbl,borough_code,tax_block,tax_lot,bbl_status
85957,2707907.0,2626 Homecrest Ave,BROOKLYN,None,None,None,None,error:404 Client Error: Not Found for url: htt...
85974,3521602.0,3240 Henry Hudson Pkwy,BRONX,None,None,None,None,error:404 Client Error: Not Found for url: htt...
85975,3521883.0,900 Ave H,BROOKLYN,None,None,None,None,error:404 Client Error: Not Found for url: htt...
85976,3522892.0,1561 E. 13Th St,BROOKLYN,None,None,None,None,error:404 Client Error: Not Found for url: htt...
85977,4047231.0,115 West 35Th St,MANHATTAN,None,None,None,None,error:404 Client Error: Not Found for url: htt...
85978,3524325.0,2016 Ave N,BROOKLYN,None,None,None,None,error:404 Client Error: Not Found for url: htt...
85979,3524382.0,1701 W 3Rd St,BROOKLYN,None,None,None,None,error:404 Client Error: Not Found for url: htt...
85981,3524760.0,175-27Wexford Ter,QUEENS,None,None,None,None,missing_inputs
85985,3999874.0,3030 Middletown Rd,BRONX,None,None,None,None,error:404 Client Error: Not Found for url: htt...
85994,2638320.0,145 West 96Th St,MANHATTAN,None,None,None,None,error:404 Client Error: Not Found for url: htt...

In [242]:
# building_info_geocoded_bbl.to_csv("building_info_geocoded_bbl.csv",index=False)

In [30]:
import requests, time, re, pandas as pd

df = building_info_geocoded.copy()
rows = []

with requests.Session() as s:
    for i, r in df.iterrows():
        addr = str(r.get("address_line1_clean", "")).strip()
        boro = str(r.get("borough_clean", "")).strip()
        if not addr:
            rows.append((i, None, None, None, None, None)); continue

        q = f"{addr}, {boro}, NY" if boro else f"{addr}, NY"
        try:
            resp = s.get("https://geosearch.planninglabs.nyc/v2/search",
                         params={"text": q, "size": 5}, timeout=20)
            feats = resp.json().get("features", [])
            # pick the best feature: prefer layer=='address' and same borough; else highest confidence
            best, best_score = None, (-1, -1.0)
            for f in feats:
                p = f.get("properties", {})
                layer = p.get("layer")
                conf  = float(p.get("confidence", 0) or 0)
                fb    = (p.get("borough") or ((p.get("addendum") or {}).get("pad") or {}).get("boroughName") or "")
                score = (2 if layer == "address" else 0) + (1 if boro and boro.upper() in str(fb).upper() else 0)
                if (score, conf) > best_score:
                    best, best_score = f, (score, conf)

            if best:
                props = best.get("properties", {})
                add   = (props.get("addendum") or {}).get("pad") or {}
                bbl   = add.get("bbl") or props.get("bbl")
                bin_  = add.get("bin") or props.get("bin")

                # normalize BBL to a 10-digit string
                if isinstance(bbl, str):
                    digits = re.sub(r"\D", "", bbl)
                    bbl = digits.zfill(10) if digits else None
                elif bbl is not None:
                    try: bbl = str(int(bbl)).zfill(10)
                    except: bbl = None

                rows.append((i, bbl, bin_, props.get("confidence"), props.get("label") or props.get("name"), q))
            else:
                rows.append((i, None, None, None, None, q))

        except Exception as e:
            rows.append((i, None, None, None, f"ERR:{type(e).__name__}", q))

        time.sleep(0.1)  # tiny throttle to be polite

# assemble + join back
out = pd.DataFrame(rows, columns=["__idx","BBL_from_api","BIN_from_api","confidence","match_label","query"]).set_index("__idx")

In [31]:
out

,BBL_from_api,BIN_from_api,confidence,match_label,query
__idx,,,,,
0,3074560006,3204886,0.8,"2626 HOMECREST AVENUE, Brooklyn, NY, USA","2626 Homecrest Ave, BROOKLYN, NY"
1,2057890024,2084124,0.8,"3240 HENRY HUDSON PARKWAY, Bronx, NY, USA","3240 Henry Hudson Pkwy, BRONX, NY"
2,3065120001,3170547,0.8,"900 AVENUE H, Brooklyn, NY, USA","900 Ave H, BROOKLYN, NY"
3,3067600062,3181781,0.8,"1561 EAST 13 STREET, Brooklyn, NY, USA","1561 E. 13Th St, BROOKLYN, NY"
4,1008117502,1015226,0.8,"115 WEST 35 STREET, New York, NY, USA","115 West 35Th St, MANHATTAN, NY"
...,...,...,...,...,...
9116,2027137501,2092007,0.8,"955 EAST 163 STREET, Bronx, NY, USA","955 East 163Rd St, MANHATTAN, NY"
9117,2028730103,2008741,0.8,"1541 SHAKESPEARE AVENUE, Bronx, NY, USA","1541 Shakespeare Ave, MANHATTAN, NY"
9118,1019120043,1089103,0.8,"128 WEST 128 STREET, New York, NY, USA","128 West 128Th St, MANHATTAN, NY"
9119,1003500061,1004271,1.0,"315 EAST HOUSTON STREET, New York, NY, USA","315 E 102St St, MANHATTAN, NY"
9120,2030760039,2012230,0.8,"2477 BELMONT AVENUE, Bronx, NY, USA","2477 Belmont Ave, BRONX, NY"

In [32]:
BuildingInfoGeocoded = building_info_geocoded.join(out)
# BuildingInfoGeocoded.to_csv("BuildingInfoGeocoded_GEO_BBL.csv",index=False)
# quick peek
# BuildingInfoGeocoded[["address_line1_clean","borough_clean","BBL_from_api","BIN_from_api","confidence","match_label"]].head()

In [36]:
BuildingInfoGeocoded = BuildingInfoGeocoded.dropna(how='all',axis=1)

In [38]:
BuildingInfoGeocoded#.columns

,property_id,address_1,address_2,city,county,borough,latitude,longitude,address_line1_clean,address_line2_clean,borough_clean,city_clean,state_clean,needs_geocoding,geocode_key,BBL_from_api,BIN_from_api,confidence,match_label,query
0,2707907.0,2626 Homecrest Avenue,NaN,Brooklyn,NaN,BROOKLYN,40.587065,-73.957019,2626 Homecrest Ave,NaN,BROOKLYN,Brooklyn,NY,False,2626 HOMECREST AVE||BROOKLYN|NY|,3074560006,3204886,0.8,"2626 HOMECREST AVENUE, Brooklyn, NY, USA","2626 Homecrest Ave, BROOKLYN, NY"
1,3521602.0,3240 Henry Hudson parkway,NaN,Bronx,NaN,BRONX,40.885365,-73.913345,3240 Henry Hudson Pkwy,NaN,BRONX,Bronx,NY,False,3240 HENRY HUDSON PKWY||BRONX|NY|,2057890024,2084124,0.8,"3240 HENRY HUDSON PARKWAY, Bronx, NY, USA","3240 Henry Hudson Pkwy, BRONX, NY"
2,3521883.0,900 Avenue H,NaN,Brooklyn,NaN,BROOKLYN,40.629342,-73.967861,900 Ave H,NaN,BROOKLYN,Brooklyn,NY,False,900 AVE H||BROOKLYN|NY|,3065120001,3170547,0.8,"900 AVENUE H, Brooklyn, NY, USA","900 Ave H, BROOKLYN, NY"
3,3522892.0,1561 E. 13th Street,NaN,Brooklyn,NaN,BROOKLYN,40.611279,-73.960634,1561 E. 13Th St,NaN,BROOKLYN,Brooklyn,NY,False,1561 E. 13TH ST||BROOKLYN|NY|,3067600062,3181781,0.8,"1561 EAST 13 STREET, Brooklyn, NY, USA","1561 E. 13Th St, BROOKLYN, NY"
4,4047231.0,115 West 35th Street,NaN,new York,NaN,MANHATTAN,40.750878,-73.988270,115 West 35Th St,NaN,MANHATTAN,New York,NY,False,115 WEST 35TH ST||NEW YORK|NY|,1008117502,1015226,0.8,"115 WEST 35 STREET, New York, NY, USA","115 West 35Th St, MANHATTAN, NY"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9116,3632773.0,955 East 163rd Street,NaN,New York,NaN,BRONX,40.821001,-73.895580,955 East 163Rd St,NaN,MANHATTAN,New York,NY,False,955 EAST 163RD ST||NEW YORK|NY|,2027137501,2092007,0.8,"955 EAST 163 STREET, Bronx, NY, USA","955 East 163Rd St, MANHATTAN, NY"
9117,3632791.0,1541 Shakespeare Avenue,NaN,New York,NaN,BRONX,40.845719,-73.919252,1541 Shakespeare Ave,NaN,MANHATTAN,New York,NY,False,1541 SHAKESPEARE AVE||NEW YORK|NY|,2028730103,2008741,0.8,"1541 SHAKESPEARE AVENUE, Bronx, NY, USA","1541 Shakespeare Ave, MANHATTAN, NY"
9118,3633523.0,128 West 128th Street,NaN,New York,NaN,MANHATTAN,40.810108,-73.945088,128 West 128Th St,NaN,MANHATTAN,New York,NY,False,128 WEST 128TH ST||NEW YORK|NY|,1019120043,1089103,0.8,"128 WEST 128 STREET, New York, NY, USA","128 West 128Th St, MANHATTAN, NY"
9119,3633666.0,315 E 102 Street,NaN,New York,NaN,MANHATTAN,40.787834,-73.943766,315 E 102St St,NaN,MANHATTAN,New York,NY,False,315 E 102ST ST||NEW YORK|NY|,1003500061,1004271,1.0,"315 EAST HOUSTON STREET, New York, NY, USA","315 E 102St St, MANHATTAN, NY"
9120,3634391.0,2477 Belmont Ave,NaN,Bronx,NaN,BRONX,40.856567,-73.884763,2477 Belmont Ave,NaN,BRONX,Bronx,NY,False,2477 BELMONT AVE||BRONX|NY|,2030760039,2012230,0.8,"2477 BELMONT AVENUE, Bronx, NY, USA","2477 Belmont Ave, BRONX, NY"

# ---------------------------------

,report_year,property_id,property_name,year_ending,nyc_borough_block_and_lot,nyc_building_identification,address_1,city,postal_code,largest_property_use_type_1,...,energy_current_date,electricity_onsite_renewable,electricity_sourced_from,onsite_renewable_system,target_site_eui_kbtu_ft,other_use_kbtu,estimated_data_flag_other,bin,bbl,year_ending_year
21,2022.0,15327445.0,KM 1200 Union Ave/1204 Union Ave,2022-12-31,2026820001,2005057,1200 Union Ave/1204 Union Ave,Bronx,10459,37672.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
24,2022.0,15332746.0,KM 500 West 144th street/144 Hamilton Place,2022-12-31,1020750036,1061888,500 West 144th street/144 Hamilton Place,New York,10031,56688.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
84,2022.0,24125286.0,2820 Middle Town Road,2022-12-31,2053860017,2074435,2820 Middle Town Road,Bronx,10461,25200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
161,2022.0,2771721.0,91-32/34 195th St LLC,2022-12-31,4108210060,4231514;4451927,91-32/34 195th Street,Queens,11423,79709.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
199,2022.0,2638326.0,Marben Realty,2022-12-31,1018900064,1057200,308 West104,New York,10025,56555.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134654,NaN,3539873.0,(7324) - East Midtown Plaza(2),2013-12-31,1-00929-0001,1084709; 1078824; 1084710; 1802187; 1084711,401 1ST AVE; 400 2ND AVE,New York,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
134660,NaN,3956379.0,Carr Properties Inc,2013-12-31,NaN,2008621,25-29 West Tremont,Bronx,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
134672,NaN,3579396.0,1990 Adam Clayton Powell Jr Boulevard,2012-12-31,NaN,NaN,1990 Adam Clayton Powell Jr Boulevard,New York,NaN,NaN,...,2012-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
134676,NaN,3608447.0,Star 65 LLC,2012-12-31,NaN,NaN,665-88 Street,Brooklyn,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
134678,NaN,3622340.0,15 W Mosholu - 32695,2012-12-31,NaN,NaN,15 W Mosholu Parkway S,Bronx,NaN,NaN,...,2012-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012

In [41]:
list(without_coord.columns)

['report_year',
 'property_id',
 'property_name',
 'year_ending',
 'nyc_borough_block_and_lot',
 'nyc_building_identification',
 'address_1',
 'city',
 'postal_code',
 'largest_property_use_type_1',
 'year_built',
 'number_of_buildings',
 'occupancy',
 'metered_areas_energy',
 'metered_areas_water',
 'energy_star_score',
 'national_median_energy_star',
 'target_energy_star_score',
 'reason_s_for_no_score',
 'energy_star_certification',
 'energy_star_certification_1',
 'site_eui_kbtu_ft',
 'weather_normalized_site_eui',
 'national_median_site_eui',
 'site_energy_use_kbtu',
 'weather_normalized_site_energy',
 'electricity_weather_normalized',
 'electricity_weather_normalized_1',
 'natural_gas_weather_normalized',
 'natural_gas_weather_normalized_1',
 'source_eui_kbtu_ft',
 'weather_normalized_source',
 'national_median_source_eui',
 'source_energy_use_kbtu',
 'weather_normalized_source_1',
 'fuel_oil_1_use_kbtu',
 'fuel_oil_2_use_kbtu',
 'fuel_oil_4_use_kbtu',
 'fuel_oil_5_6_use_kbtu',
 'diesel_2_use_kbtu',
 'district_steam_use_kbtu',
 'district_hot_water_use_kbtu',
 'district_chilled_water_use',
 'natural_gas_use_kbtu',
 'electricity_use_grid_purchase',
 'electricity_use_grid_purchase_1',
 'electricity_use_grid_purchase_2',
 'electricity_use_grid_purchase_3',
 'electricity_use_generated',
 'electricity_use_generated_1',
 'electricity_use_generated_2',
 'electricity_use_generated_3',
 'annual_maximum_demand_kw',
 'annual_maximum_demand_mm',
 'annual_maximum_demand_meter',
 'green_power_onsite_kwh',
 'green_power_offsite_kwh',
 'green_power_onsite_and_offsite',
 'total_location_based_ghg',
 'total_location_based_ghg_1',
 'direct_ghg_emissions_metric',
 'direct_ghg_emissions_intensity',
 'indirect_location_based_ghg',
 'indirect_location_based_ghg_1',
 'net_emissions_metric_tons',
 'national_median_total_location',
 'avoided_emissions_onsite',
 'avoided_emissions_offsite',
 'avoided_emissions_onsite_1',
 'percent_of_electricity_that',
 'percent_of_recs_retained',
 'percent_of_total_electricity',
 'leed_us_project_id',
 'default_values',
 'temporary_values',
 'estimated_values_energy',
 'estimated_values_water',
 'alert_energy_meter_has_less',
 'alert_energy_meter_has_gaps',
 'alert_energy_meter_has',
 'alert_energy_no_meters',
 'alert_energy_meter_has_single',
 'alert_property_has_no_uses',
 'alert_water_meter_has_less',
 'alert_data_center_issue_with',
 'alert_gross_floor_area_is',
 'estimated_data_flag',
 'estimated_data_flag_natural',
 'estimated_data_flag_district',
 'estimated_data_flag_1',
 'estimated_data_flag_fuel',
 'estimated_data_flag_fuel_1',
 'estimated_data_flag_fuel_2',
 'estimated_data_flag_fuel_3',
 'estimated_data_flag_diesel',
 'estimated_data_flag_2',
 'outpatient_rehabilitation',
 'pre_school_daycare_gross',
 'multifamily_housing_government',
 'multifamily_housing_gross',
 'multifamily_housing_number',
 'multifamily_housing_number_1',
 'multifamily_housing_number_2',
 'multifamily_housing_number_3',
 'multifamily_housing_number_4',
 'multifamily_housing_percent',
 'multifamily_housing_percent_1',
 'multifamily_housing_total',
 'multifamily_housing_total_1',
 'multifamily_housing_number_5',
 'multifamily_housing_number_6',
 'multifamily_housing_number_7',
 'multifamily_housing_resident',
 'other_gross_floor_area_ft',
 'performing_arts_gross_floor',
 'property_gfa_self_reported',
 'property_gfa_calculated',
 'property_gfa_calculated_1',
 'property_notes',
 'water_use_all_water_sources',
 'indoor_water_use_all_water',
 'outdoor_water_use_all_water',
 'municipally_supplied_potable',
 'municipally_supplied_potable_1',
 'municipally_supplied_potable_2',
 'municipally_supplied_potable_3',
 'third_party_certification',
 'third_party_certification_1',
 'last_modified_date_property',
 'last_modified_date_electric',
 'last_modified_date_gas_meters',
 'last_modified_date_water',
 'last_modified_date_property_1',
 'last_modified_date_property_2',
 'number_of_active_energy_meters',
 'number_of_active_energy_meters_1',
 'number_of_active_energy_meters_2',
 'number_of_active_it_meters',
 'report_generation_date',
 'report_submission_date',
 'borough',
 'latitude',
 'longitude',
 'community_board',
 'council_district',
 'ct2020',
 'nta2020',
 'last_modified_date_non',
 'source_years',
 'source_api_url',
 'source_info_url',
 'eligible_for_certification_for_report_ped_y_n_',
 'percent_electricity',
 'natural_gas_use_therms_',
 'data_quality_checker_run_',
 'data_quality_checker_date_run',
 'electric_distribution_utility',
 'aggregate_meter_s_electric_number_of_individual_meters_included',
 'aggregate_meter_s_natural_gas_number_of_individual_meters_included',
 'aggregate_meter_s_district_steam_number_of_individual_meters_included',
 'energy_star_certification_2',
 'weather_normalized_site',
 'weather_normalized_site_1',
 'natural_gas_use_therms',
 'weather_normalized_site_2',
 'weather_normalized_site_3',
 'total_ghg_emissions_metric',
 'total_ghg_emissions_intensity',
 'indirect_ghg_emissions_metric',
 'indirect_ghg_emissions',
 'national_median_total_ghg',
 'egrid_output_emissions_rate',
 'generation_date',
 'submission_date',
 'census_tract',
 'nta',
 'nyc_borough_block_and_lot_bbl',
 'nyc_building_identification_number_bin',
 'postcode',
 'primary_property_type_portfolio_manager_calculated',
 'national_median_reference_property_type',
 'list_of_all_property_use_types_at_property',
 'largest_property_use_type_gross_floor_area_ft',
 '_2nd_largest_property_use_type',
 '_2nd_largest_property_use_gross_floor_area_ft',
 '_3rd_largest_property_use_type',
 '_3rd_largest_property_use_type_gross_floor_area_ft',
 'national_median_energy_star_score',
 'energy_star_certification_year_s_certified_score',
 'energy_star_certification_eligibility',
 'energy_star_certification_last_approval_date',
 'weather_normalized_site_eui_kbtu_ft',
 'national_median_site_eui_kbtu_ft',
 'weather_normalized_site_energy_use_kbtu',
 'weather_normalized_site_electricity_intensity_kwh_ft',
 'weather_normalized_site_natural_gas_intensity_therms_ft',
 'weather_normalized_source_eui_kbtu_ft',
 'national_median_source_eui_kbtu_ft',
 'weather_normalized_source_energy_use_kbtu',
 'district_chilled_water_use_kbtu',
 'weather_normalized_site_natural_gas_use_therms',
 'electricity_use_grid_purchase_kbtu',
 'electricity_use_grid_purchase_kwh',
 'weather_normalized_site_electricity_kwh',
 'electricity_use_grid_purchase_and_generated_from_onsite_renewable_systems_kwh',
 'electricity_use_grid_purchase_and_generated_from_onsite_renewable_systems_kbtu',
 'electricity_use_generated_from_onsite_renewable_systems_and_used_onsite_kwh',
 'electricity_use_generated_from_onsite_renewable_systems_and_used_onsite_kbtu',
 'electricity_use_generated_from_onsite_renewable_systems_kwh',
 'electricity_use_generated_from_onsite_renewable_systems_and_exported_kwh',
 'annual_maximum_demand_mm_yyyy',
 'annual_maximum_demand_meter_name_meter_id',
 'green_power_onsite_and_offsite_kwh',
 'total_ghg_emissions_metric_tons_co2e',
 'direct_ghg_emissions_metric_tons_co2e',
 'total_ghg_emissions_intensity_kgco2e_ft',
 'direct_ghg_emissions_intensity_kgco2e_ft',
 'indirect_ghg_emissions_metric_tons_co2e',
 'net_emissions_metric_tons_co2e',
 'indirect_ghg_emissions_intensity_kgco2e_ft',
 'national_median_total_ghg_emissions_metric_tons_co2e',
 'egrid_output_emissions_rate_kgco2e_mbtu',
 'avoided_emissions_onsite_green_power_metric_tons_co2e',
 'avoided_emissions_offsite_green_power_metric_tons_co2e',
 'avoided_emissions_onsite_and_offsite_green_power_metric_tons_co2e',
 'percent_of_electricity_that_is_green_power',
 'percent_of_total_electricity_generated_from_onsite_renewable_systems',
 'ambulatory_surgical_center_gross_floor_area_ft',
 'energy_power_station_gross_floor_area_ft',
 'outpatient_rehabilitation_physical_therapy_gross_floor_area_ft',
 'pre_school_daycare_gross_floor_area_ft',
 'multifamily_housing_government_subsidized_housing',
 'multifamily_housing_gross_floor_area_ft',
 'multifamily_housing_number_of_bedrooms',
 'multifamily_housing_number_of_bedrooms_density_number_per_1_000_sq_ft',
 'multifamily_housing_number_of_laundry_hookups_in_all_units',
 'multifamily_housing_number_of_laundry_hookups_in_common_area_s',
 'multifamily_housing_number_of_residential_living_units_in_a_high_rise_building_10_or_more_stories',
 'multifamily_housing_total_number_of_residential_living_units',
 'multifamily_housing_total_number_of_residential_living_units_density_number_per_1_000_sq_ft',
 'multifamily_housing_number_of_residential_living_units_in_a_high_rise_building_density_number_per_1_000_sq_ft',
 'multifamily_housing_number_of_residential_living_units_in_a_mid_rise_building_5_9_stories',
 'multifamily_housing_number_of_residential_living_units_in_a_mid_rise_building_density_number_per_1_000_sq_ft',
 'multifamily_housing_percent_that_can_be_cooled',
 'multifamily_housing_percent_that_can_be_heated',
 'multifamily_housing_resident_population_type',
 'performing_arts_gross_floor_area_ft',
 'estimated_data_flag_electricity_grid_purchase',
 'estimated_data_flag_natural_gas',
 'estimated_data_flag_fuel_oil_no_1',
 'estimated_data_flag_fuel_oil_no_2',
 'estimated_data_flag_fuel_oil_no_4',
 'estimated_data_flag_fuel_oil_no_5_and_no_6',
 'estimated_data_flag_district_steam',
 'estimated_data_flag_municipally_supplied_potable_water_mixed_indoor_outdoor_use',
 'alert_data_center_issue_with_estimates_it_configuration_or_it_meter',
 'alert_energy_meter_has_less_than_12_full_calendar_months_of_data',
 'alert_energy_meter_has_overlaps',
 'alert_energy_no_meters_selected_for_metrics',
 'alert_energy_meter_has_single_entry_more_than_65_days',
 'alert_water_meter_has_less_than_12_full_calendar_months_of_data',
 'property_gfa_self_reported_ft',
 'property_gfa_calculated_buildings_and_parking_ft',
 'property_gfa_calculated_buildings_ft',
 'property_gfa_calculated_parking_ft',
 'water_use_all_water_sources_kgal',
 'indoor_water_use_all_water_sources_kgal',
 'outdoor_water_use_all_water_sources_kgal',
 'municipally_supplied_potable_water_mixed_indoor_outdoor_use_kgal',
 'municipally_supplied_potable_water_total_use_all_meter_types_kgal',
 'municipally_supplied_potable_water_indoor_use_kgal',
 'municipally_supplied_potable_water_outdoor_use_kgal',
 'third_party_certification_date_anticipated',
 'third_party_certification_date_achieved',
 'last_modified_date_electric_meters',
 'last_modified_date_non_electric_non_gas_energy_meters',
 'last_modified_date_water_meters',
 'last_modified_date_property_use',
 'number_of_active_energy_meters_total',
 'number_of_active_energy_meters_used_to_compute_metrics',
 'number_of_active_energy_meters_not_used_to_compute_metrics',
 'release_date',
 'address_2',
 'difference_from_national',
 'difference_from_national_1',
 'costar_property_id',
 'data_quality_checker_date',
 'indoor_water_use_intensity',
 'water_use_intensity_all_water',
 'county',
 'source_energy_use_adjusted',
 'other_weekly_operating_hours',
 'other_number_of_computers',
 'other_number_of_workers_on',
 'repair_services_vehicle_shoe',
 'data_quality_checker_run',
 'water_current_date',
 'water_score_multifamily_only',
 'irrigated_area_ft',
 'account_id',
 'property_id_1',
 'national_median_site_energy',
 'national_median_source_energy',
 'date_property_last_modified',
 'alert_data_center_does_not',
 'alert_individual_monthly',
 'alert_meter_has_overlaps',
 'alert_meter_has_gaps',
 'alert_meter_has_less_than',
 'alert_no_meters_are_associated',
 'source_eui_adjusted_to_current',
 'count_of_buildings',
 'personal_services_health',
 'property_gfa_epa_calculated',
 'property_gfa_epa_calculated_1',
 'property_gfa_epa_calculated_2',
 'indoor_water_intensity_all',
 'property_floor_area_building',
 'energy_star_certification_3',
 'energy_star_certification_5',
 'energy_cost',
 'energy_cost_intensity_ft',
 'national_median_energy_cost',
 'investment_in_energy_projects',
 'investment_in_energy_projects_1',
 'estimated_savings_from_energy',
 'estimated_savings_from_energy_1',
 'electricity_grid_purchase',
 'natural_gas_cost',
 'fuel_oil_no_2_cost',
 'fuel_oil_no_4_cost',
 'fuel_oil_no_5_and_no_6_cost',
 'district_steam_cost',
 'estimated_values',
 'custom_property_id_1_name',
 'custom_property_id_1_id',
 'energy_alerts',
 'property_use_detail_alerts',
 'other_water_sources_combined',
 'water_alerts',
 'multifamily_housing_maximum',
 'multifamily_housing_percent_2',
 'multifamily_housing_primary',
 'other_water_sources_combined_1',
 'municipally_supplied_potable_4',
 'state_province',
 'property_floor_area_buildings',
 'service_and_product_provider',
 'space_alerts',
 'direct_ghg_emissions_mtco2e',
 'indirect_ghg_emissions_mtco2e',
 'total_ghg_emissions_mtco2e',
 'energy_current_date',
 'electricity_onsite_renewable',
 'electricity_sourced_from',
 'onsite_renewable_system',
 'target_site_eui_kbtu_ft',
 'other_use_kbtu',
 'estimated_data_flag_other',
 'bin',
 'bbl',
 'year_ending_year']

In [52]:
### 
# without_coord = without_coord.drop(columns=["latitude","longitude"])
without_coord_enr = without_coord.merge(all_results, on=["property_id","address_1","city","postal_code"],how='left')
print(without_coord_enr.shape)
print(without_coord_enr[without_coord_enr["latitude"].isnull()].shape)

(4377, 362)
(4133, 362)

In [58]:
## Sill in need 
print("initial Total",residential3.shape)
with_coord2 = pd.concat([with_coord,without_coord_enr[~without_coord_enr["latitude"].isnull()]]).drop_duplicates()
print("with coords:",with_coord2.shape)

need_coords = pd.concat([without_coord[without_coord["property_id"].isin(all_failed['property_id'].unique())],
                         without_coord_enr[without_coord_enr["latitude"].isnull()]]).drop_duplicates()
print("need_coords:",need_coords.shape)

initial Total (134698, 362)
with coords: (129820, 362)
need_coords: (4113, 362)

In [59]:
results = []
failed = []

In [60]:
## Second Cut 
gmaps = googlemaps.Client(key=google_api_key)

# assumes: need_coords, results = [], failed = [] already exist
for i, r in need_coords[["property_id","address_1","city","postal_code"]].drop_duplicates().iterrows():
    temp_df = pd.DataFrame([r])
    print(r["property_id"])

    full_address = str(r["address_1"]) + " " + str(r["city"]) + " " + str(r["postal_code"])
    full_address = full_address.replace("nan","").strip()
    print(full_address)

    if "/" in full_address:
        full_address = full_address.split("/")[-1].strip()
        print("Split Addy:", full_address)

    # ---- Google Geocoding (swap-in for geolocator.geocode) ----
    try:
        resp = gmaps.geocode(full_address)  # add region="us" or components=... if you like
    except Exception as e:
        print("Geocode error:", e)
        resp = []

    if resp:
        loc = resp[0]["geometry"]["location"]
        temp_df["latitude"]  = loc["lat"]
        temp_df["longitude"] = loc["lng"]
        print(loc["lat"], loc["lng"])
        results.append(temp_df)
    else:
        failed.append(temp_df)

24125286.0
2820 Middle Town Road Bronx 10461
40.8432564 -73.8358873
2638326.0
308 West104 New York 10025
40.8004228 -73.970244
5841271.0
2401 Davdison Avenue Bronx 10452
40.861769 -73.9032932
8705631.0
510 West 218 Street New York 11357
40.8712485 -73.9148179
9637009.0
2485 Morris Aveune Bronx 10468
40.8630438 -73.899755
2734772.0
105 Pinhurst Ave New York 10033
40.851816 -73.9387086
3522985.0
601 79th Steet Brooklyn 11209
40.6248125 -74.02066839999999
4040577.0
71-11 -71-23 162ND STREET NY 11365
40.7397205 -73.8062806
5834191.0
107-19 70st Ave Flushing 11375
40.7467285 -73.89544719999999
5863627.0
1675 E 21st Brooklyn 11210
40.6122215 -73.9525281
5965464.0
1440 Richmond Terracae STATEN ISLAND 10310
40.6408643 -74.1161858
6282532.0
54 Morningisde Drive New York 10025
40.8059287 -73.9596929
6282641.0
225 East 202nd StreetBronx New York 10458
40.8732705 -73.88585499999999
6282704.0
82-06 & 82-16 34th Avenue Jackson Heights 11372
40.7536074 -73.8848235
6282839.0
62 Clermont Street Brooklyn 11205
40.695692 -73.971704
6750870.0
2661 MarionAve Bronx 10458
40.86498659999999 -73.8908332
6799837.0
121 Stering Place Brooklyn 11217
40.6775002 -73.97436139999999
8171771.0
3000 Kinsbridge Avenue Bronx 10463
40.8784879 -73.9076147
8486800.0
143-33 Sandford Avenue Queens 11355
40.7588445 -73.82230559999999
8716242.0
3045 Godwin Street Bronx 10463
40.8790638 -73.90635859999999
10021079.0
226 West 242nd Sreet Bronx 10471
40.8893962 -73.8995312
13796288.0
3318 Steuben Street Bronx 10467
40.8787518 -73.8810029
14909928.0
200 West 108 New York 10025
40.8017879 -73.9651719
6260333.0
P.O.Box 190322 Brooklyn 11219
40.6310753 -73.9976946
6622724.0
1717 caroll street Brooklyn 11213
40.6661028 -73.92880939999999
6260946.0
131 Prince Cooperative Inc. New York 10012
40.7256261 -74.0002719
5802575.0
1151 BRIGHTON BEA AVE Brooklyn 11235
40.5777614 -73.9553286
5802576.0
1120 BRIGHTON BEA AVE Brooklyn 11235
40.5775786 -73.9562384
5802577.0
1150 BRIGHTON BEA AVE Brooklyn 11235
40.5774992 -73.9556528
15101483.0
340 Webster Street Brooklyn 11230
40.6334732 -73.9690442
20670690.0
265 Hawthone Street Brooklyn 11225
40.6580673 -73.9515914
15101483.0
340 Webster Street Brooklyn 11230
40.6334732 -73.9690442
20670690.0
265 Hawthone Street Brooklyn 11225
40.6580673 -73.9515914
5834191.0
107-19 70st Ave Flushing 11375
40.7467285 -73.89544719999999
5863627.0
1675 E 21st Brooklyn 11210
40.6122215 -73.9525281
5841271.0
2401 Davdison Avenue Bronx 10452
40.861769 -73.9032932
5965464.0
1440 Richmond Terracae STATEN ISLAND 10310
40.6408643 -74.1161858
6260333.0
P.O.Box 190322 Brooklyn 11219
40.6310753 -73.9976946
6260946.0
131 Prince Cooperative Inc. New York 10012
40.7256261 -74.0002719
6282532.0
54 Morningisde Drive New York 10025
40.8059287 -73.9596929
6282641.0
225 East 202nd StreetBronx New York 10458
40.8732705 -73.88585499999999
6282704.0
82-06 & 82-16 34th Avenue Jackson Heights 11372
40.7536074 -73.8848235
6282839.0
62 Clermont Street Brooklyn 11205
40.695692 -73.971704
6622724.0
1717 caroll street Brooklyn 11213
40.6661028 -73.92880939999999
2734772.0
105 Pinhurst Ave New York 10033
40.851816 -73.9387086
3522985.0
601 79th Steet Brooklyn 11209
40.6248125 -74.02066839999999
4040577.0
71-11 -71-23 162ND STREET NY 11365
40.7397205 -73.8062806
6750870.0
2661 MarionAve Bronx 10458
40.86498659999999 -73.8908332
6799837.0
121 Stering Place Brooklyn 11217
40.6775002 -73.97436139999999
9637009.0
2485 Morris Aveune Bronx 10468
40.8630438 -73.899755
8705631.0
510 West 218 Street New York 11357
40.8712485 -73.9148179
2638326.0
308 West104 New York 10025
40.8004228 -73.970244
2638326.0
308 West104 New York
40.8004228 -73.970244
2734772.0
105 Pinhurst Ave New York
40.851816 -73.9387086
3522985.0
601 79th Steet Brooklyn
40.6248125 -74.02066839999999
4040577.0
71-11 -71-23 162ND STREET NY
40.7217182 -73.8873077
5802575.0
1151 BRIGHTON BEA AVE Brooklyn
40.5777614 -73.9553286
5802576.0
1120 BRIGHTON BEA AVE Brooklyn
40.5775786 -73.9562384
5802577.0
1150 BRIGHTON BEA AVE Brooklyn
40.5774992 -73.9556528
5834191.0
107-19 70st Ave Flushing
40.7467285 -73.89544719999999
5841271.0
2401 Davdison Avenue Bronx
40.861769 -73.9032932
5863627.0
1675 E 21st Brooklyn
40.6122215 -73.9525281
5965464.0
1440 Richmond Terracae STATEN ISLAND
40.6408643 -74.1161858
6260333.0
P.O.Box 190322 Brooklyn
40.6781784 -73.9441579
6260946.0
131 Prince Cooperative Inc. New York
40.5940199 -73.7873257
6282532.0
54 Morningisde Drive New York
40.8059287 -73.9596929
6282641.0
225 East 202nd StreetBronx New York
40.8732705 -73.88585499999999
6282704.0
82-06 & 82-16 34th Avenue Jackson Heights
40.7536074 -73.8848235
6282839.0
62 Clermont Street Brooklyn
40.695692 -73.971704
6622724.0
1717 caroll street Brooklyn
40.6661028 -73.92880939999999
6750870.0
2661 MarionAve Bronx
40.86498659999999 -73.8908332
6799837.0
121 Stering Place Brooklyn
40.6775002 -73.97436139999999
8171771.0
3000 Kinsbridge Avenue Bronx
40.8784879 -73.9076147
8486800.0
143-33 Sandford Avenue Queens
40.7588445 -73.82230559999999
8705631.0
510 West 218 Street New York
40.8712485 -73.9148179
8716242.0
3045 Godwin Street Bronx
40.8790638 -73.90635859999999
9637009.0
2485 Morris Aveune Bronx
40.8630438 -73.899755
10021079.0
226 West 242nd Sreet Bronx
40.8893962 -73.8995312
13796288.0
3318 Steuben Street Bronx
40.8787518 -73.8810029
14909928.0
200 West 108 New York
40.8017879 -73.9651719
15101483.0
340 Webster Street Brooklyn
40.6334732 -73.9690442
6282532.0
45 Morningisde Drive New York
40.8053366 -73.960038
3128085.0

Geocode error: HTTP Error: 400
3128086.0

Geocode error: HTTP Error: 400
3128108.0

Geocode error: HTTP Error: 400
3128109.0

Geocode error: HTTP Error: 400
3128110.0

Geocode error: HTTP Error: 400
3128111.0

Geocode error: HTTP Error: 400
3128112.0

Geocode error: HTTP Error: 400
3128116.0

Geocode error: HTTP Error: 400
3128117.0

Geocode error: HTTP Error: 400
3128118.0

Geocode error: HTTP Error: 400
3128119.0

Geocode error: HTTP Error: 400
3128120.0

Geocode error: HTTP Error: 400
3128121.0

Geocode error: HTTP Error: 400
3128122.0

Geocode error: HTTP Error: 400
3128123.0

Geocode error: HTTP Error: 400
3128124.0

Geocode error: HTTP Error: 400
3128125.0

Geocode error: HTTP Error: 400
3128126.0

Geocode error: HTTP Error: 400
3128127.0

Geocode error: HTTP Error: 400
3114718.0
82-35/39 134 Street Queens 11435
Split Addy: 39 134 Street Queens 11435
40.7129163 -73.8230403
4735452.0
380 92nd Street Brooklyn 11435
40.618243 -74.030569
6066883.0
706 Faile Steet Bronx 10474
40.8147537 -73.8864249
4945801.0
87-50 204th Street / 202-35 Foothill Avenue Quuens 11427
Split Addy: 202-35 Foothill Avenue Quuens 11427
40.721218 -73.7619498
4945802.0
87-10 204th Street / 87-30 204th Street / 86-70 Francis Lewis Boulevard Queens 11474
Split Addy: 86-70 Francis Lewis Boulevard Queens 11474
40.7235667 -73.7639125
4952684.0
67-87 - 68-09 Booth Street Queens 11375
40.7244239 -73.85110759999999
4952853.0
14-01 - 14-15 Bonnie Lane Queens 11360
40.7858709 -73.786251
6667530.0
540 West 49th Street/545 West 48th Street New York 10019
Split Addy: 545 West 48th Street New York 10019
40.7643853 -73.9946288
3067469.0
1064/70 East New York Avenue Brooklyn 11212
Split Addy: 70 East New York Avenue Brooklyn 11212
40.669614 -73.9170046
3072236.0
185 Erusmus Street Brooklyn 11226
40.6500129 -73.9499349
3072339.0
250/270 Brooklyn 11225
Split Addy: 270 Brooklyn 11225
40.6704361 -73.94504239999999
3072445.0
9325/27 Kings Highway Brooklyn 11212
Split Addy: 27 Kings Highway Brooklyn 11212
40.654368 -73.922302
6694516.0
2675 GRAND CONCOURS Bronx 10468
40.8668497 -73.8944482
18188863.0
670 Riverside Drive New York 11230
40.8264621 -73.952032
20506864.0
3591-93 Bainbridge Bronx 10467
40.8839181 -73.8778275
20506868.0
3595-99 Bainbridge Bronx 10467
40.8841974 -73.87779640000001
3114850.0
1381-1387 Casle Hill Avenue Bronx 10462
40.8359989 -73.852563
7531341.0
220 West 71 Street New York 11023
40.7781528 -73.9831407
6779411.0
196 Macon Brooklyn 11216
40.68168259999999 -73.942922
6415478.0
765 East 166tth St Bronx 10456
40.8266277 -73.902106
10510081.0
102/104/106 W.128th St New York 10027
Split Addy: 106 W.128th St New York 10027
40.809739 -73.944795
21311418.0
435 East 119th Manhattan 10035
40.7974756 -73.93260049999999
5877459.0
1259, 1265, 1269 College Avenue Bronx 10456
40.8346595 -73.91241409999999
21205447.0
455-7-9 West 35th Street Manhattan 10001
40.7551237 -73.99790159999999
2817590.0
2765 Mathews Avenue Bronx 10467
40.86751230000001 -73.8628298
3524527.0
150-74th Street Brooklyn 11209
40.6328842 -74.0314063
6696540.0
2828 King Highway Brooklyn 11229
40.6148567 -73.9458618
2977455.0
3260 Henry Hudson Pkwy New York 10027
40.8857556 -73.91243279999999
8016307.0
415 West 118th New York 10027
40.8078764 -73.9589577
11933634.0
1257-1275 East 51st Brooklyn 11234
40.6302469 -73.9269364
14933838.0
56 Rockaway pwky Brooklyn 11212
40.66458859999999 -73.9244521
17981503.0
363 Prospect Plac 2P Brooklyn 11238
40.6770864 -73.9642235
25783563.0
575	EAST 140 STREET BRONX 10454
40.8078134 -73.91526999999999
25968256.0
880	47 ST BROOKLYN 11220
40.6414436 -74.00027159999999
2638811.0
359 Fort Washington New York 10033
40.8474899 -73.940187
3129479.0
231-235 East 55th New York 10022
40.7585422 -73.9670019
4671898.0
335 27th Street New York 10016
40.7398793 -73.97741289999999
6447087.0
275 West 10th New York 10014
40.7336883 -74.00798069999999
10789017.0
868 Lorimer Sreet Brooklyn 11222
40.7226459 -73.9510375
20239815.0
105-10, 105-20, 105-30 66th Avenue Forest Hills 11375
40.7299065 -73.8488413
20413909.0
39 W 67th New York 10023
40.77409309999999 -73.98022519999999
20585950.0
114-11 73rd Avenue Queens 11364
40.7379239 -73.7679517
24312264.0
3777 Independence Aave Bronx 10463
40.8890446 -73.91368349999999
15488186.0
1037 51 Brooklyn 11219
40.637371 -73.99856299999999
6347482.0
425 E 76th New York 10021
40.7700432 -73.9527504
6348922.0
303 E 71ST NEW YORK 10021
40.7680676 -73.9581853
6348934.0
504 E 81ST NEW YORK 10021
40.7722254 -73.94898239999999
6672894.0
1261 Schenectady Brooklyn 11203
40.6417921 -73.9320824
26661883.0
90 North 5th 90 North 5th 11249
40.7177112 -73.9608492
2669066.0
110-35/110-55 72nd Road Forest Hills 11375
Split Addy: 110-55 72nd Road Forest Hills 11375
40.7209032 -73.8390915
2669109.0
73-44/75-02 Austin Street Forest Hills 11375
Split Addy: 75-02 Austin Street Forest Hills 11375
40.7169992 -73.8388045
6272464.0
4216 oneida Bronx 10470
40.8967552 -73.8724046
10403976.0
338 Prospect Brooklyn 11238
40.6766473 -73.96534849999999
6130408.0
6505 Central Avenue Glendale 11385-6201
40.7026339 -73.89046119999999
6424802.0
100 BROADWAY/381 BERRY STREET BROOKLYN 11211
Split Addy: 381 BERRY STREET BROOKLYN 11211
40.7102201 -73.9654359
4395971.0
3091 Brighton 5 Sr Brooklyn 11235
40.57693 -73.96214460000002
26683111.0
Georgetown Mews (BBL: 4065370028) Queens 11367
40.7323671 -73.8180859
26683112.0
Georgetown Mews (BBL: 4065400003) Kew Gardens 11367
40.7323671 -73.8180859
26683113.0
Georgetown Mews (BBL: 4065420003) Kew Gardens 11367
40.7323671 -73.8180859
26683114.0
Georgetown Mews (BBL: 4066560063) Kew Gardens 11367
40.7323671 -73.8180859
2819168.0
108 EAST 96TH S NEW YORK 10128
40.78607179999999 -73.9520091
3527450.0
85 8th Avem New York 10011
40.7403739 -74.0024304
6805007.0
63 2nd Street Avenue New York 10003
40.724295 -73.989498
6186923.0
20-24 E. 20 St. New York 10003-1316
40.738724 -73.989237
2803832.0
421 Degraw Brooklyn 11231
40.6820373 -73.9898439
6291851.0
54-09/54-39 100th Street Corona 11368
Split Addy: 54-39 100th Street Corona 11368
40.7389456 -73.8589246
21000220.0
200 Linden Boulevard Brooklyn 12226
40.6522768 -73.951236
6673691.0
1109-1125 E 73rd Street/1110-1128 Bergen Avenue Brooklyn 11234
Split Addy: 1110-1128 Bergen Avenue Brooklyn 11234
40.62840690000001 -73.9156785
8483087.0
1410 Avenue South Brooklyn 11229
40.6032115 -73.95770879999999
12489571.0
3311 Shore Pkwy / 1516 Voorhies Ave Brooklyn 11235
Split Addy: 1516 Voorhies Ave Brooklyn 11235
40.5856625 -73.95322300000001
6580598.0
3052 Kingsbridge Bronx 10463
40.8795954 -73.9065609
6697897.0
1003 EAST 174 ST -1A BRONX 10460
40.836232 -73.88403749999999
6314612.0
1529-42nd Street Brooklyn 11219
40.6358939 -73.9827145
6264408.0
540 Ft Washington New York 10033
40.8533531 -73.9371304
6736241.0
301 Colombus Ave Manhattan 10023
40.7787442 -73.9774316
15617016.0
5 East 196th St Bronx 5 East 196th St
40.8692106 -73.8954607
6773351.0
15 East Moshulu Parkway North Bronx 10467
40.88008079999999 -73.883355
6791775.0
84-14 143 rd Street Briarwood 11435
40.71038 -73.81387
2747778.0
89-35 155th Avenue & 89-40 151st Ave., 89-48 151 Avenue Queens 11414
40.6660696 -73.8454938
2803651.0
2094 Boston Rd, 1048 E. 180th St, 1075 E. 179th St Bronx 10460
40.8421519 -73.8773762
6691568.0
1871 Adam Clayton Powell Jr Boulevard New York 10026
40.8016673 -73.953203
10850756.0
1908 Belmont Bronx 10457
40.84413869999999 -73.8977693
20042007.0
44 W 175 Bronx 10453
40.8479336 -73.91490130000001
20042075.0
333 E 181st Bronx 10457
40.8538259 -73.8980685
6231316.0
32-16 33rd   AVENUE Astoria 11106
40.76088499999999 -73.92439949999999
4940488.0
91-50/56 195th Street Hollis 11423
Split Addy: 56 195th Street Hollis 11423
40.715307 -73.7674681
6292397.0
195-24/30 Jamaica Ave Queens 11423
Split Addy: 30 Jamaica Ave Queens 11423
40.7088504 -73.7759871
2791292.0
333 Ovington Brooklyn 11209
40.6347225 -74.02529129999999
2686104.0
37-16/20 83 Street Jackson Heights 11372
Split Addy: 20 83 Street Jackson Heights 11372
40.7532325 -73.8842837
2686114.0
34-17/19 30 Street Astoria 11106
Split Addy: 19 30 Street Astoria 11106
40.75786069999999 -73.92958879999999
2790338.0
77-16/20 Austin Street Forest Hills 11375
Split Addy: 20 Austin Street Forest Hills 11375
40.7205717 -73.8464128
3101468.0
139-19/25 31 Road Flushing 11354
Split Addy: 25 31 Road Flushing 11354
40.7710995 -73.8284773
6800102.0
15031 Twelfth Ave Whitestone 11357
40.7913337 -73.8134634
6312026.0
505 West 143rd Street New York 10031-6032
40.8244262 -73.949298
6280694.0
164, 165, 169 Lott Ave, 173,179,210 216 Thatford Ave, Brooklyn 11212
40.6581948 -73.9071189
6280711.0
500,510, 520,530,540 Osborne St;  210,220, 224, 230 & 234 Newport St; Brooklyn 11212
40.6595289 -73.9068374
6283015.0
1663 Eastburn Bronx 10457
40.8435459 -73.90885109999999
6283017.0
1744 Clay Bronx 10457
40.8451873 -73.9045666
6283020.0
1804 Weeks/203 E. 175th Bronx 10457
Split Addy: 203 E. 175th Bronx 10457
40.8469664 -73.90711859999999
6233558.0
161 South Elliott Place/ 170 S. Portland Ave Brooklyn 11217
Split Addy: 170 S. Portland Ave Brooklyn 11217
40.6841758 -73.974417
7527497.0
111,105,125,131 Freedom Avenue Staten Island 10314
40.5968461 -74.1638113
2805456.0
41-07 42nd Street New York 10017
40.7545445 -73.9824486
2805517.0
71-50 Parson Blvd Flushing 11367
40.7288402 -73.811815
15498159.0
27 West 16th New York 10011
40.738319 -73.9944194
15585085.0
103 East 86th New York 10028
40.7801325 -73.9566969
27812980.0
276 NOSTRAND Brooklyn 11205
40.690454 -73.9518092
13422989.0
1304-1312 Bell Boulevard Bayside 11360
40.7872483 -73.78135019999999
13518186.0
1641-1665 212 Street Bayside 11360
40.78322500000001 -73.779085
15596246.0
354 2nd Street,/347-353 3rd Street Brooklyn 11215
Split Addy: 347-353 3rd Street Brooklyn 11215
40.6733167 -73.9838402
15596251.0
96 Rockwell Place/ 55 Flatbush Ave Brooklyn 11217
Split Addy: 55 Flatbush Ave Brooklyn 11217
40.6873201 -73.9794372
15596265.0
67 Vestry Street/ 260 WEST ST New York 10013
Split Addy: 260 WEST ST New York 10013
40.722565 -74.0113131
15596401.0
22-14 (18) Jackson Avenue Queens 11101
40.7447964 -73.9469118
25802071.0
537-85th Street Brooklyn 11209
40.6217189 -74.0244866
2950011.0
2130 Williams Bridge Rd Bronx 10461
40.85629290000001 -73.8553682
2684373.0
190 East Mosholu Parkway Bronx 10458
40.8742949 -73.883753
3312297.0
636 Brookyn Ave Brooklyn 11203
40.65856 -73.9455976
4952588.0
143 E 23rd St New York 11226
40.6446411 -73.9555271
6176868.0
1350 Doctor Martin Luther King Junior Boulevard Bronx 10452
40.8415606 -73.9262888
6289270.0
2630 Cropsey Avenue/ Brooklyn 11214
Split Addy: Brooklyn 11214
40.6046106 -73.9982756
6775211.0
145 E 126 street / 2089 LEXINGTON AVENUE New York 10035
Split Addy: 2089 LEXINGTON AVENUE New York 10035
40.805064 -73.936386
10021242.0
4519 ROCK BCH BLVD Far Rockwy 11691
40.6024346 -73.762495
19428555.0
1115 E 16th Street New York 10459
40.7298444 -73.97282299999999
20452554.0
155-55 Cross Beach Blvd Queens 11414
40.6616787 -73.8477874
25096711.0
800 Flatbush Brooklyn 11226
40.6528962 -73.9599442
2684863.0
1402 New York Avenue - 1416 New York Avenue Brooklyn 11210
40.6382668 -73.9455263
2684886.0
1402 Brooklyn Avenue - 1420 Brooklyn Avenue Brooklyn 11210
40.638445 -73.942646
2684981.0
1405,1421,1425 Brooklyn Avenue Brooklyn 11210
40.637969 -73.94221069999999
2665243.0
225-227 Naples Avenue Bronx 10463
40.87989899999999 -73.90485989999999
2665258.0
55 East Mosholu Parkway Bronx 10467
40.8790944 -73.88272549999999
8704854.0
Avenue. New York 10031
40.8270209 -73.9506774
2794511.0
6838 Yellowstone Queens 11375
40.7253422 -73.848046
2951558.0
224-01 Springfield blvd Queens 11364
40.737955 -73.745687
2961210.0
8215-4th Ave Brooklyn 11209
40.62505549999999 -74.0270286
4405228.0
404-408-412 Audubon Ave New York 10033
40.851648 -73.9305679
4407833.0
1505 Towsend Ave Bronx 10452
40.842327 -73.91537199999999
4407834.0
1565 Towsend Ave Bronx 10452
40.8436518 -73.9144001
5785936.0
32-15/32-25 93 street Queens 11212
Split Addy: 32-25 93 street Queens 11212
40.6639181 -73.9154069
5871141.0
8801-09 35th Ave Queens 11372
40.7526726 -73.8787519
5871168.0
8802-10 35th Ave Queens 11372
40.7521552 -73.87857129999999
6055221.0
165 Pinehurst Avenue New York 11022
40.853765 -73.9382035
6793544.0
750 LEFFERS AVE Brooklyn 11203
40.6630381 -73.9358823
6821689.0
10 Manhatttan ave New York 10025
40.79515 -73.96372869999999
10865533.0
2-14 Beach 96th Queens 11693
40.585817 -73.81808099999999
15735635.0
Samuel Bodenheim Management - Bronx 10452
40.8376318 -73.92128579999999
2813129.0
211 Bedford Park Bronx 10458
40.8719709 -73.8870455
2669920.0
960 Fifth Ave/3 East 77th St New York 10075
Split Addy: 3 East 77th St New York 10075
40.77547819999999 -73.96396969999999
2669925.0
115 East 67th & 116 East 68th St New York 10065
40.7677372 -73.96522929999999
2670039.0
765/775 Park Ave New York 10021
Split Addy: 775 Park Ave New York 10021
40.7713453 -73.963233
10867651.0
30 East 63nd Street New York 10065
40.7657046 -73.969261
6310927.0
c/o Fleisher Group, LLC New York 10005
Split Addy: o Fleisher Group, LLC New York 10005
40.7064363 -74.0094562
2664815.0
P.O. BOX 300513 BROOKLYN 11230
40.6190629 -73.96537150000002
3108125.0
P.O. BOX 190316 BROOKLYN 11219
40.6310753 -73.9976946
4414756.0
2340 Adam Clayton Powell Boulevard New York 10030
40.8170255 -73.9430084
6387183.0
400 East Mosholu Parkway Bronx 10458
40.868862 -73.88166199999999
7060853.0
Bay Hill Gardens (7644/2) Flushing 11364
Split Addy: 2) Flushing 11364
40.7469886 -73.7536695
7060857.0
Bay Hill Gardens (7658/2) Flushing 11364
Split Addy: 2) Flushing 11364
40.7469886 -73.7536695
7060867.0
Bay Hill Gardens (7660/2) Flushing 11364
Split Addy: 2) Flushing 11364
40.7469886 -73.7536695
15144830.0
1821 University Avenue/1821 Dr Martin L King Jr Blvd Bronx 10453
Split Addy: 1821 Dr Martin L King Jr Blvd Bronx 10453
40.8447819 -73.8648268
15144913.0
824 E. 181st St.- 2125 Southern Blvd Bronx 10460
40.8466765 -73.8841889
2676892.0
62-64 Saunder Street Rego Park 11374
40.730571 -73.866925
4403597.0
45-35 Kissena Ave Flushing 11355
40.7516246 -73.8194771
5870063.0
369, 373, 379 Washington Avenue & 76, 80, 84 St James Place Brooklyn 11238
40.6874337 -73.9647426
2782379.0
43-15/43-33 46 St Queens 11104
Split Addy: 43-33 46 St Queens 11104
40.7438807 -73.91826569999999
6791667.0
488	ROCKAWAY PKWY BROOKLYN 11212
40.6565584 -73.9153628
6882510.0
620 West 190 St - 329 Wadsworth Ave New York 10040
40.8551915 -73.93079829999999
6376844.0
11 & 21 De Sales Place Brooklyn 11207
40.680965 -73.906106
6455500.0

In [61]:
results_df3 = pd.concat(results)
failed_df3= pd.concat(failed)

In [69]:
need_coords = need_coords.drop(columns=["latitude","longitude"])
without_coord_enr2 = need_coords.merge(results_df3, on=["property_id","address_1","city","postal_code"],how='left')
print(without_coord_enr2.shape)
print(without_coord_enr2[without_coord_enr2["latitude"].isnull()].shape)

(4113, 362)
(48, 362)

In [81]:
print("initial Total",residential3.shape)
with_coord3 = pd.concat([with_coord2,without_coord_enr2[~without_coord_enr2["latitude"].isnull()]]).drop_duplicates()
print("with coords:",with_coord3.shape)
need_coords2 = pd.concat([need_coords[need_coords["property_id"].isin(failed_df3['property_id'].unique())],
                         without_coord_enr2[without_coord_enr2["latitude"].isnull()]]).drop_duplicates()
print("need_coords:",need_coords2.shape)

initial Total (134698, 362)
with coords: (133885, 362)
need_coords: (57, 362)

0.6

In [96]:
### Making the decision to drop these and not deal with them, mostly corrupt address values. 
need_coords2[["property_id", 'address_1','address_2',
 'city',
 'postal_code']].drop_duplicates()

        property_id                  address_1 address_2      city postal_code
122015    3128085.0                        NaN       NaN       NaN         NaN
122016    3128086.0                        NaN       NaN       NaN         NaN
122018    3128108.0                        NaN       NaN       NaN         NaN
122019    3128109.0                        NaN       NaN       NaN         NaN
122020    3128110.0                        NaN       NaN       NaN         NaN
122021    3128111.0                        NaN       NaN       NaN         NaN
122022    3128112.0                        NaN       NaN       NaN         NaN
122026    3128116.0                        NaN       NaN       NaN         NaN
122027    3128117.0                        NaN       NaN       NaN         NaN
122028    3128118.0                        NaN       NaN       NaN         NaN
122029    3128119.0                        NaN       NaN       NaN         NaN
122030    3128120.0                        NaN       NaN       NaN         NaN
122031    3128121.0                        NaN       NaN       NaN         NaN
122032    3128122.0                        NaN       NaN       NaN         NaN
122033    3128123.0                        NaN       NaN       NaN         NaN
122034    3128124.0                        NaN       NaN       NaN         NaN
122035    3128125.0                        NaN       NaN       NaN         NaN
122036    3128126.0                        NaN       NaN       NaN         NaN
122037    3128127.0                        NaN       NaN       NaN         NaN
221       7060853.0  Bay Hill Gardens (7644/2)       NaN  Flushing       11364
222       7060857.0  Bay Hill Gardens (7658/2)       NaN  Flushing       11364
223       7060867.0  Bay Hill Gardens (7660/2)       NaN  Flushing       11364
801       7060853.0  Bay Hill Gardens (7644/2)       NaN  Flushing       11364
802       7060857.0  Bay Hill Gardens (7658/2)       NaN  Flushing       11364
1322      7060853.0  Bay Hill Gardens (7644/2)       NaN  Flushing         NaN
1323      7060857.0  Bay Hill Gardens (7658/2)       NaN  Flushing         NaN
1324      7060867.0  Bay Hill Gardens (7660/2)       NaN  Flushing         NaN
1619      6282958.0             48-1045 STREET       NaN  Woodside         NaN

In [ ]:
round(((134698 - 133885)/134698)*100,2) 
### DROPPING 0.6% of the data becaue not able to successfgully geocode

### saving geocoded cleaned data for now

In [84]:
working_residential_geo = with_coord3.copy()
# working_residential_geo.to_csv("working_residential_geo.csv",index=False)

### Spatial joinign with CT to pull ct into the buildings data.

In [85]:
working_residential_geo

,report_year,property_id,property_name,year_ending,nyc_borough_block_and_lot,nyc_building_identification,address_1,city,postal_code,largest_property_use_type_1,...,energy_current_date,electricity_onsite_renewable,electricity_sourced_from,onsite_renewable_system,target_site_eui_kbtu_ft,other_use_kbtu,estimated_data_flag_other,bin,bbl,year_ending_year
0,2022.0,9793770.0,1870 Pelham Parkway South,2022-12-31,2042500026,2047795,1870 Pelham Parkway South,Bronx,10461,52941.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
1,2022.0,14377690.0,1680 Ocean Ave,2022-12-31,3067300001,3180535,1680 Ocean Ave,Brooklyn,11230,68400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
2,2022.0,15176247.0,88-24 Merrick Blvd,2022-12-31,4098150067,4210063,88-24 Merrick Blvd,Jamaica,11432,82576.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
3,2022.0,15176327.0,90-11 149th Street,2022-12-31,4096790052,4206819,90-11 149 str,Jamaica,11435,136000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
4,2022.0,15176328.0,148-25 89th Ave,2022-12-31,4096930051,4207100,148-25 89 Ave,Jamaica,11435,127200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4108,NaN,2676297.0,(7226) - The Howard Owners Corp,2013-12-31,4-02118-7501,4432024;4432026;4432028;4432025;4432027;4432029,99-32 - 99-72 66 Rd,New York,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
4109,NaN,2718861.0,213-02 42nd Ave,2013-12-31,4-06284-7501,4433427,213-02 42nd Ave,Queens,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
4110,NaN,2917501.0,325 East 79 Street Owners,2013-12-31,1-01542-0014,1049250,325 East 79th Streeet,New York,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
4111,NaN,3956379.0,Carr Properties Inc,2013-12-31,NaN,2008621,25-29 West Tremont,Bronx,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
4112,NaN,3622340.0,15 W Mosholu - 32695,2012-12-31,NaN,NaN,15 W Mosholu Parkway S,Bronx,NaN,NaN,...,2012-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012

In [ ]:
### pulling in ct shapefile

In [86]:
import io, requests, geopandas as gpd

CT2010_URL = "https://data.cityofnewyork.us/resource/bmjq-373p.geojson?$limit=50000"
SOCRATA_APP_TOKEN = None  # put your token string here if you have one

headers = {"X-App-Token": SOCRATA_APP_TOKEN} if SOCRATA_APP_TOKEN else {}
resp = requests.get(CT2010_URL, headers=headers, timeout=60)
resp.raise_for_status()

ct2010 = gpd.read_file(io.BytesIO(resp.content)).to_crs(2263)
ct2010.head()

,ntacode,shape_area,ntaname,shape_leng,boroname,puma,boroct2010,ct2010,borocode,cdeligibil,ctlabel,geometry
0,SI22,2497009.71359,West New Brighton-New Brighton-St. George,7729.01679383,Staten Island,3903,5000900,000900,5,E,9,"MULTIPOLYGON (((962269.126 173705.5, 962288.72..."
1,MN17,1860992.68163,Midtown-Midtown South,5687.80243891,Manhattan,3807,1010200,010200,1,I,102,"MULTIPOLYGON (((992216.539 216507.687, 992091...."
2,MN17,1864600.43538,Midtown-Midtown South,5693.03636707,Manhattan,3807,1010400,010400,1,I,104,"MULTIPOLYGON (((991325.882 217001.689, 991199...."
3,MN17,1890907.25105,Midtown-Midtown South,5699.86064037,Manhattan,3807,1011300,011300,1,I,113,"MULTIPOLYGON (((988650.277 214286.402, 988517...."
4,MN40,1918144.56374,Upper East Side-Carnegie Hill,5807.97295649,Manhattan,3805,1013000,013000,1,I,130,"MULTIPOLYGON (((994920.11 221386.27, 994791.85..."

In [87]:
import geopandas as gpd

# --- 1) Points from your geocoded table ---
# assumes working_residential_geo has columns: property_id, latitude, longitude
pts = gpd.GeoDataFrame(
    working_residential_geo[["property_id", "latitude", "longitude"]].copy(),
    geometry=gpd.points_from_xy(
        working_residential_geo["longitude"], working_residential_geo["latitude"]
    ),
    crs=4326  # your geocodes are WGS84
)

# project points to match the CT layer (your CT layer is already to_crs(2263))
pts_2263 = pts.to_crs(2263)

# --- 2) Keep only what you need from the CT layer ---
# 'ct2010' and/or 'boroct2010' are the usual tract IDs in that NYC layer
ct_keep = ct2010[["ct2010", "boroct2010", "boroname", "geometry"]].copy()

# --- 3) Spatial join: which tract polygon contains each point ---
joined = gpd.sjoin(
    pts_2263,
    ct_keep,
    how="left",
    predicate="within"   # points that fall inside a tract polygon
)

# If a property_id appears multiple times (duplicates), keep the first tract hit
joined = joined.sort_index().drop_duplicates(subset=["property_id"])

# --- 4) Bring tract columns back to your original dataframe ---
cols_to_add = ["ct2010", "boroct2010", "boroname"]
working_residential_tract = working_residential_geo.merge(
    joined[["property_id"] + cols_to_add],
    on="property_id",
    how="left"
)

# working_with_tract now has ct2010 / boroct2010 for each row

In [18]:
## Saving information to Csv 
# working_residential_tract.to_csv("working_residential_tract.csv",index=False)
working_residential_tract = pd.read_csv("working_residential_tract.csv")

C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\1074909641.py:3: DtypeWarning: Columns (4,5,8,14,18,19,20,43,44,45,46,47,53,54,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,98,112,118,126,127,128,129,130,131,132,133,138,139,140,146,147,148,151,154,155,156,160,163,172,173,175,176,177,178,179,180,181,183,185,188,189,190,210,211,231,245,247,248,249,250,251,252,253,254,255,256,257,258,259,260,272,273,274,275,276,277,281,282,286,289,295,296,303,304,305,306,307,308,309,318,319,333,334,335,336,337,339,342,345,347,348,352) have mixed types. Specify dtype option on import or set low_memory=False.
  working_residential_tract = pd.read_csv("working_residential_tract.csv")

In [ ]:
## limiting to certain 2010 and 2017?

In [19]:
working_residential_tract.groupby(['year_ending_year']).agg({"year_ending":"count"}).reset_index()

    year_ending_year  year_ending
0               2012           32
1               2013         9256
2               2014         9064
3               2015         6882
4               2016         7050
5               2017        15657
6               2018        13474
7               2019        14265
8               2020        17240
9               2021        13114
10              2022        13400
11              2023        14451

In [20]:
working_residential_tract[["report_year","year_ending","year_ending_year"]].drop_duplicates()

        report_year year_ending  year_ending_year
0            2022.0  2022-12-31              2022
13091        2023.0  2023-12-31              2023
27197           NaN  2021-12-31              2021
40000           NaN  2020-12-31              2020
56796           NaN  2019-12-31              2019
70692           NaN  2018-12-31              2018
83801           NaN  2017-12-31              2017
98974           NaN  2016-12-31              2016
105745          NaN  2015-12-31              2015
112339          NaN  2014-12-31              2014
120861          NaN  2013-12-31              2013
129547          NaN  2012-12-31              2012

In [22]:
buildings_2012_2013_ids = working_residential_tract_2012_2017[working_residential_tract_2012_2017["year_ending_year"].isin([2012,2013])]["property_id"].unique()
working_residential_tract_2012_2017[working_residential_tract_2012_2017['property_id'].isin(buildings_2012_2013_ids)].groupby(['year_ending_year']).agg({"year_ending":"count"}).reset_index()

   year_ending_year  year_ending
0              2012           32
1              2013         9256
2              2014         7456
3              2015         4429
4              2016         3908
5              2017         4906

In [23]:
### Limtiing to 2017 and before 
working_residential_tract_2012_2017 = working_residential_tract[working_residential_tract["year_ending_year"]<2018]
working_residential_tract_2012_2017['year_ending_year'].unique()
working_residential_tract_2012_2017[working_residential_tract_2012_2017['property_id'].isin(buildings_2012_2013_ids)]
# working_residential_tract_2012_2017.to_csv("working_residential_tract_2012_2017.csv",index=False)

,report_year,property_id,property_name,year_ending,nyc_borough_block_and_lot,nyc_building_identification,address_1,city,postal_code,largest_property_use_type_1,...,onsite_renewable_system,target_site_eui_kbtu_ft,other_use_kbtu,estimated_data_flag_other,bin,bbl,year_ending_year,ct2010,boroct2010,boroname
83802,NaN,2707907.0,2626 Homecrest Avenue,2017-12-31,3-07456-0006,3204886,2626 Homecrest Avenue,Brooklyn,NaN,127500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2017,60600.0,3060600.0,Brooklyn
83814,NaN,3521602.0,3240 Henry Hudson parkway LLC,2017-12-31,2-05789-0024,2084124,3240 Henry Hudson parkway,Bronx,NaN,163197.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2017,29700.0,2029700.0,Bronx
83815,NaN,3521883.0,900 Avenue H LLC,2017-12-31,3-06512-0001,3170547,900 Avenue H,Brooklyn,NaN,77000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2017,45600.0,3045600.0,Brooklyn
83816,NaN,3522892.0,1561 E. 13th Street LLC,2017-12-31,3-06760-0062,3181781,1561 E. 13th Street,Brooklyn,NaN,71000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2017,54200.0,3054200.0,Brooklyn
83817,NaN,4047231.0,Justin - 115 West 30th Street,2017-12-31,1-00806-0026,1015161,115 West 35th Street,new York,NaN,151525.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2017,10900.0,1010900.0,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133880,NaN,2676297.0,(7226) - The Howard Owners Corp,2013-12-31,4-02118-7501,4432024;4432026;4432028;4432025;4432027;4432029,99-32 - 99-72 66 Rd,New York,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2013,71304.0,4071304.0,Queens
133881,NaN,2718861.0,213-02 42nd Ave,2013-12-31,4-06284-7501,4433427,213-02 42nd Ave,Queens,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2013,146700.0,4146700.0,Queens
133882,NaN,2917501.0,325 East 79 Street Owners,2013-12-31,1-01542-0014,1049250,325 East 79th Streeet,New York,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2013,13800.0,1013800.0,Manhattan
133883,NaN,3956379.0,Carr Properties Inc,2013-12-31,NaN,2008621,25-29 West Tremont,Bronx,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2013,24300.0,2024300.0,Bronx
133884,NaN,3622340.0,15 W Mosholu - 32695,2012-12-31,NaN,NaN,15 W Mosholu Parkway S,Bronx,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2012,42100.0,2042100.0,Bronx

In [24]:
working_continuous_final = working_residential_tract_2012_2017[working_residential_tract_2012_2017['property_id'].isin(buildings_2012_2013_ids)]

# working_continuous_final.to_csv("working_continuous_final_2012_2017.csv",index=False)

In [25]:
# Path to your geodatabase (.gdb)
gdb_path = r"C:\Users\johnf\Downloads\Tree_Canopy_Change (1)\Tree_Canopy_Change\NYC_TreeCanopyChange_2010_2017.gdb"

# List all layers in the geodatabase
layers = fiona.listlayers(gdb_path)
print("Layers available:", layers)

# Read a specific layer into a GeoDataFrame
gdf = gpd.read_file(gdb_path, layer=layers[0])  # Replace [0] with your desired layer
print(gdf.head())

# Optional: save as shapefile or GeoJSON
#gdf.to_file("output.shp") 
#gdf.to_file("output.geojson", driver="GeoJSON")

canopy_change = gdf.copy()
canopy_change

Layers available: ['NYC_TreeCanopyChange_2010_2017']

C:\Python310\lib\site-packages\pyogrio\raw.py:198: RuntimeWarning: organizePolygons() received a polygon with more than 100 parts. The processing may be really slow.  You can skip the processing by setting METHOD=SKIP, or only make it analyze counter-clock wise parts by setting METHOD=ONLY_CCW if you can assume that the outline of holes is counter-clock wise defined
  return ogr_read(

       Class  Shape_Length    Shape_Area  \
0  No Change    732.955182   5800.500001
1  No Change   2079.456465  35005.875002
2  No Change    228.557599   1984.500000
3  No Change    125.726893    617.750000
4  No Change     41.031601     90.750000

                                            geometry
0  MULTIPOLYGON (((1008879.93 272372.3, 1008878.4...
1  MULTIPOLYGON (((1008749.43 271870.8, 1008748.9...
2  MULTIPOLYGON (((1008704.43 272105.3, 1008701.9...
3  MULTIPOLYGON (((1009015.43 272757.3, 1009013.4...
4  MULTIPOLYGON (((1008794.93 270669.8, 1008781.4...

,Class,Shape_Length,Shape_Area,geometry
0,No Change,732.955182,5800.500001,"MULTIPOLYGON (((1008879.93 272372.3, 1008878.4..."
1,No Change,2079.456465,35005.875002,"MULTIPOLYGON (((1008749.43 271870.8, 1008748.9..."
2,No Change,228.557599,1984.500000,"MULTIPOLYGON (((1008704.43 272105.3, 1008701.9..."
3,No Change,125.726893,617.750000,"MULTIPOLYGON (((1009015.43 272757.3, 1009013.4..."
4,No Change,41.031601,90.750000,"MULTIPOLYGON (((1008794.93 270669.8, 1008781.4..."
...,...,...,...,...
5692504,Loss,63.798210,286.735284,"MULTIPOLYGON (((1014610.46 188155.382, 1014610..."
5692505,Loss,63.429348,314.238467,"MULTIPOLYGON (((1014606.12 187969.835, 1014605..."
5692506,Loss,223.829388,2467.258600,"MULTIPOLYGON (((1014946.295 187646.6, 1014944...."
5692507,Loss,96.181802,538.668512,"MULTIPOLYGON (((1014656.958 187618.818, 101465..."
5692508,Loss,150.926364,899.581216,"MULTIPOLYGON (((981350.628 186523.602, 981350...."

### Shaptial Join for LiDar Canopy and Buildings Lat Long for those in thwe Data from 2012/2013 through 2017

In [26]:
# --- 1) Points from your buildings (WGS84) ---
shape_bldg = gpd.GeoDataFrame(
    working_continuous_final[["property_id", "latitude", "longitude"]].copy(),
    geometry=gpd.points_from_xy(
        working_continuous_final["longitude"], working_continuous_final["latitude"]
    ),
    crs=4326
)

# --- 2) Put both layers in the SAME CRS (use the canopy CRS) ---
canopy = canopy_change[["Class", "geometry"]].copy()
if canopy.crs is None:
    # set if your canopy file didnâ€™t come with a CRS; adjust if needed
    canopy = canopy.set_crs(2263)  # NYC StatePlane ft; change if different

shape_bldg = shape_bldg.to_crs(canopy.crs)

# (optional but recommended) fix invalid polygon rings that can break joins
canopy["geometry"] = canopy.buffer(0)

In [27]:
# --- 3) Spatial join: which canopy polygon contains each building point? ---
joined = gpd.sjoin(
    shape_bldg[["property_id", "geometry"]],
    canopy,
    how="left",
    predicate="within"
)

In [28]:
# If canopy polygons overlap and produce duplicates, keep the polygon with the largest area
if joined.duplicated("property_id").any():
    canopy_area = canopy.assign(_poly_area=canopy.area)
    joined = gpd.sjoin(
        shape_bldg[["property_id", "geometry"]],
        canopy_area,
        how="left",
        predicate="within"
    )
    joined = (joined
              .sort_values(["property_id", "_poly_area"], ascending=[True, False])
              .drop_duplicates(subset=["property_id"]))

In [31]:
# --- 4) Bring the canopy class back to your original table ---
working_with_canopy = working_continuous_final.merge(
    joined[["property_id", "Class"]].rename(columns={"Class": "canopy_change_class"}),
    on="property_id",
    how="left"
)

In [32]:
working_with_canopy["canopy_change_class"].unique()

array([nan, 'Gain', 'No Change', 'Loss'], dtype=object)

In [33]:
working_with_canopy.to_csv("working_with_canopy.csv",index=False)

In [34]:
### Before snapping seeing how many data poitns are null , not have a canopy value
working_with_canopy.groupby(["canopy_change_class"]).agg({"property_id":"nunique"})

                     property_id
canopy_change_class
Gain                         700
Loss                         154
No Change                    976

In [35]:
# --- 5) (Optional) fill misses by snapping to nearest polygon within 50 ft ---
# This helps when a point lands just outside a sliver polygon.
miss_ids = working_with_canopy.loc[working_with_canopy["canopy_change_class"].isna(), "property_id"]
if len(miss_ids):
    nearest = gpd.sjoin_nearest(
        shape_bldg[shape_bldg["property_id"].isin(miss_ids)],
        canopy,
        how="left",
        max_distance=50  # units = CRS units; 50ft if CRS=2263
    )[["property_id", "Class"]].rename(columns={"Class": "canopy_change_class_nearest"})

    working_with_canopy_50ft = working_with_canopy.merge(nearest, on="property_id", how="left")
    working_with_canopy_50ft["canopy_change_class"] = (
        working_with_canopy_50ft["canopy_change_class"]
        .fillna(working_with_canopy_50ft["canopy_change_class_nearest"])
    )
    working_with_canopy_50ft.drop(columns=["canopy_change_class_nearest"], inplace=True)

In [36]:
working_with_canopy_50ft.groupby(["canopy_change_class"]).agg({"property_id":"nunique"})

                     property_id
canopy_change_class
Gain                        6307
Loss                        1101
No Change                   1461

In [37]:
working_with_canopy_50ft.shape

(109537, 366)

In [38]:
working_with_canopy_50ft = working_with_canopy_50ft.dropna(how='all', axis=1)
working_with_canopy_50ft.to_csv("working_with_canopy_50ft.csv",index=False)

In [39]:
 working_with_canopy_50ft[['investment_in_energy_projects', 'investment_in_energy_projects_1']].drop_duplicates()

       investment_in_energy_projects  investment_in_energy_projects_1
0                                NaN                              NaN
56633                            0.0                             0.00
56830                       575000.0                             0.65
60649                        20000.0                             0.25

In [42]:
working_with_canopy_50ft[["green_power_onsite_kwh"]].drop_duplicates()

        green_power_onsite_kwh
0                          NaN
248                    56620.0
261                    38580.0
631                    45420.0
36766                  56900.0
36778                  38000.0
57140                 202815.0
79671                 195375.5
104264                 50990.0
105738                 45100.0

In [52]:
noEnergy_investments = working_with_canopy_50ft[(working_with_canopy_50ft['investment_in_energy_projects'].isnull() 
                                                 & working_with_canopy_50ft['investment_in_energy_projects_1'].isnull()
                                                &working_with_canopy_50ft['green_power_onsite_kwh'].isnull())]
print(noEnergy_investments.groupby(["canopy_change_class"]).agg({"property_id":"nunique"}))
noEnergy_investments['borough'] =  noEnergy_investments['county'].combine_first(noEnergy_investments['borough']).astype(str).str.lower()
# noEnergy_investments = noEnergy_investments.drop(column=['city'])
# noEnergy_investments.to_csv("noEnergy_investments.csv",index=False)

                     property_id
canopy_change_class
Gain                        3192
Loss                         563
No Change                    742

C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2172788206.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noEnergy_investments['borough'] =  noEnergy_investments['county'].combine_first(noEnergy_investments['borough']).astype(str).str.lower()

In [66]:
pd.options.display.max_rows = 500

In [71]:

## Cleaning
noEnergy_investments[['city','borough']][(noEnergy_investments['borough']=='usa')].drop_duplicates()

noEnergy_investments['borough'][((noEnergy_investments['borough']=='usa')
                                          &(noEnergy_investments['city'].astype(str).str.upper()=='BRONX'))]='bronx'
noEnergy_investments['borough'][((noEnergy_investments['borough']=='usa')
                                          &(noEnergy_investments['city'].astype(str).str.upper()=='BROOKLYN'))]='brooklyn'
noEnergy_investments['borough'][((noEnergy_investments['borough']=='usa')
                                          &(noEnergy_investments['city'].astype(str).str.upper()=='NEW YORK'))]='manhattan'
noEnergy_investments['borough'][((noEnergy_investments['borough']=='usa')
                                          &(noEnergy_investments['city'].astype(str).str.title().isin(['Elmhurst','Sunnyside'])))]='queens'
noEnergy_investments['borough'][((noEnergy_investments['borough']=='usa')
                                          &(noEnergy_investments['city'].astype(str).str.title().isin(['Riverdale'])))]='queens'
noEnergy_investments['borough'][((noEnergy_investments['borough']=='nan')
                                          &(noEnergy_investments['city'].astype(str).str.upper().isin([
                                              "SUNNYSIDE","ASTORIA","JACKSON HEIGHTS","FLUSHING","QUEENS","REGO PARK",
                                              "OAKLAND GARDENS","FOREST HILLS","BAYSIDE","KEW GARDENS"])))]="queens"

noEnergy_investments['borough'][((noEnergy_investments['borough']=='nan')
                                          &(noEnergy_investments['city'].astype(str).str.upper().isin([
                                              "NEW YORK","NY","MANHATTAN"
                                              ])))]="manhattan"
noEnergy_investments['borough'][((noEnergy_investments['borough']=='nan')
                                          &(noEnergy_investments['city'].astype(str).str.upper().isin([
                                              "BROOKLYN"
                                              ])))]="brooklyn"
noEnergy_investments['borough'][((noEnergy_investments['borough']=='nan')
                                          &(noEnergy_investments['city'].astype(str).str.upper().isin([
                                              "BRONX"
                                              ])))]="bronx"
noEnergy_investments['borough'][((noEnergy_investments['borough']=='nan')
                                          &(noEnergy_investments['city'].astype(str).str.upper().isin([
                                              "STATEN ISLAND"
                                              ])))]="staten island"
# noEnergy_investments[['city','borough']][(noEnergy_investments['borough']=='usa')].drop_duplicates()

C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\4279012037.py:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  noEnergy_investments['borough'][((noEnergy_investments['borough']=='usa')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\4279012037.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noEnergy_investments['borough'][((noEnergy_investments['borough']=='usa')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\4279012037.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noEnergy_investments['borough'][((noEnergy_investments['borough']=='usa')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\4279012037.py:8: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  noEnergy_investments['borough'][((noEnergy_investments['borough']=='usa')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\4279012037.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noEnergy_investments['borough'][((noEnergy_investments['borough']=='usa')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\4279012037.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noEnergy_investments['borough'][((noEnergy_investments['borough']=='usa')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\4279012037.py:10: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  noEnergy_investments['borough'][((noEnergy_investments['borough']=='usa')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\4279012037.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noEnergy_investments['borough'][((noEnergy_investments['borough']=='usa')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\4279012037.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noEnergy_investments['borough'][((noEnergy_investments['borough']=='usa')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\4279012037.py:12: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  noEnergy_investments['borough'][((noEnergy_investments['borough']=='usa')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\4279012037.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noEnergy_investments['borough'][((noEnergy_investments['borough']=='usa')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\4279012037.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noEnergy_investments['borough'][((noEnergy_investments['borough']=='usa')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\4279012037.py:14: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  noEnergy_investments['borough'][((noEnergy_investments['borough']=='usa')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\4279012037.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noEnergy_investments['borough'][((noEnergy_investments['borough']=='usa')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\4279012037.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noEnergy_investments['borough'][((noEnergy_investments['borough']=='usa')

Empty DataFrame
Columns: [city, borough]
Index: []

In [131]:
noEnergy_investments[['county','borough']].drop_duplicates()

                 county        borough
0                   NaN       brooklyn
5                   NaN          bronx
20                  NaN      manhattan
36                  NaN         queens
56                kings       brooklyn
99                Kings       brooklyn
164            NEW YORK      manhattan
195               Bronx          bronx
740              Queens         queens
1418           New York      manhattan
1828                USA         queens
1844          Manhattan      manhattan
1845                NaN  staten island
1854              BRONX          bronx
2331              BRONC          bronx
2380             QUEENS         queens
2697                USA      manhattan
3900                USA       brooklyn
4131              10025      manhattan
4509                USA          bronx
5293             queens         queens
7754           New York          bronx
8585           Richmond  staten island
8973              KINGS       brooklyn
10376          Brooklyn       brooklyn
11413          Elmhurst         queens
11456          New York         queens
12073     United States       brooklyn
15195     United States      manhattan
15968               Bx.          bronx
18927                US          bronx
18928                US       brooklyn
18938                US      manhattan
19498     Staten Island  staten island
19891          New York       brooklyn
21241                US         queens
23692   New York County      manhattan
28943              King       brooklyn
29557            Oueens         queens
33503             11368         queens
34938               Man      manhattan
43797     New York City          bronx
104906      Kew Gardens         queens
105754     Kings County       brooklyn

In [125]:
noEnergy_investments[['city','borough',"county"]][~noEnergy_investments['borough'].astype(str).str.lower().str.strip().isin([
    'brooklyn', 'bronx', 'manhattan', 'queens','staten island'])].drop_duplicates()
##### BROOKLYN
# noEnergy_investments['borough'][((noEnergy_investments['city'].astype(str).str.upper().isin([
#                                               "KINGS","BROOKLYN"]))
#                                 &(noEnergy_investments["borough"].astype(str).str.upper().isin([
#                                     "KINGS","US","NEW YORK","KING","KINGS COUNTY","UNITED STATES"
#                                 ]))
#                                 )]="brooklyn"
# noEnergy_investments['borough'][((noEnergy_investments["city"]=="New York")
#                                  &(noEnergy_investments["borough"]=="kings"))]="brooklyn"
# noEnergy_investments['city'][((noEnergy_investments["city"].astype(str).str.lower()!="brooklyn")
#                                  &(noEnergy_investments["borough"]=="brooklyn"))]="brooklyn"

##### BRONX
# noEnergy_investments['borough'][((noEnergy_investments['city'].astype(str).str.upper().isin([
#                                               "BRONX"]))
#                                 &(noEnergy_investments["borough"].astype(str).str.upper().isin([
#                                     "BRONC","NEW YORK","BX.","US","NEW YORK CITY"
#                                 ]))
#                                 )]="bronx"

##### STATEN ISLAND
# noEnergy_investments['borough'][((noEnergy_investments['city'].astype(str).str.upper().isin([
#                                               "STATEN ISLAND","STATEN"]))
#                                 &(noEnergy_investments["borough"].astype(str).str.upper().isin([
#                                     "STATEN IS","RICHMOND"
#                                 ]))
#                                 )]="staten island"

## Manhattan
# noEnergy_investments['borough'][((noEnergy_investments['city'].astype(str).str.upper().isin([
#                                               "NEW YORK","MANHATTAN","NY"]))
#                                 &(noEnergy_investments["borough"].astype(str).str.upper().isin([
#                                     "10025","NEW YORK","UNITED STATES","US","NEW YORK COUNTY","MAN"
#                                 ]))
#                                 )]="manhattan"

### QUEENS
# noEnergy_investments['borough'][((noEnergy_investments['city'].astype(str).str.upper().isin([
#                                               "QUEENS","REGO PARK","ELMHURST","GLEN OAKS","CORONA"]))
#                                 &(noEnergy_investments["borough"].astype(str).str.upper().isin([
#                                     "ELMHURST","NEW YORK","OUEENS","US","11368","KEW GARDENS"
#                                 ]))
#                                 )]="queens"
# noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
#                       &(noEnergy_investments['borough']=='kings')
                     &(noEnergy_investments['city']=='Queens'))]="queens"

C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noEnergy_investments['borough'][((noEnergy_investments['city'].astype(str).str.upper().isin([
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noEnergy_investments['borough'][((noEnergy_investments['city'].astype(str).str.upper().isin([
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')
C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2164682890.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'queens' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  noEnergy_investments[((noEnergy_investments['address_1']=='7-11 Seagirt Ave')

Empty DataFrame
Columns: [city, borough, county]
Index: []

In [ ]:
noEnergy_investments[['city','borough',"county"]][~noEnergy_investments['borough'].astype(str).str.lower().str.strip().isin([
    'brooklyn', 'bronx', 'manhattan', 'queens','staten island'])].drop_duplicates()

In [124]:
noEnergy_investments['address_1'][(noEnergy_investments['city']=="Queens") &( noEnergy_investments['borough']=="kings")]

34590    7-11 Seagirt Ave
34591    7-11 Seagirt Ave
34592    7-11 Seagirt Ave
34593    7-11 Seagirt Ave
43437    7-11 Seagirt Ave
43438    7-11 Seagirt Ave
43439    7-11 Seagirt Ave
43440    7-11 Seagirt Ave
Name: address_1, dtype: object

In [129]:
noEnergy_investments[["borough","county"]].drop_duplicates()

              borough           county
0            brooklyn              NaN
5               bronx              NaN
20          manhattan              NaN
36             queens              NaN
56           brooklyn            kings
99           brooklyn            Kings
164         manhattan         NEW YORK
195             bronx            Bronx
740            queens           Queens
1418        manhattan         New York
1828           queens              USA
1844        manhattan        Manhattan
1845    staten island              NaN
1854            bronx            BRONX
2331            bronx            BRONC
2380           queens           QUEENS
2697        manhattan              USA
3900         brooklyn              USA
4131        manhattan            10025
4509            bronx              USA
5293           queens           queens
7754            bronx         New York
8585    staten island         Richmond
8973         brooklyn            KINGS
10376        brooklyn         Brooklyn
11413          queens         Elmhurst
11456          queens         New York
12073        brooklyn    United States
15195       manhattan    United States
15968           bronx              Bx.
18927           bronx               US
18928        brooklyn               US
18938       manhattan               US
19498   staten island    Staten Island
19891        brooklyn         New York
21241          queens               US
23692       manhattan  New York County
28943        brooklyn             King
29557          queens           Oueens
33503          queens            11368
34938       manhattan              Man
43797           bronx    New York City
104906         queens      Kew Gardens
105754       brooklyn     Kings County

In [128]:

noEnergy_investments[["property_id","address_1","address_2","city","borough","county","postcode"]][~noEnergy_investments["address_2"].isnull()].drop_duplicates()

,property_id,address_1,address_2,city,borough,county,postcode
1233,2609529.0,3510 Bainbridge Avenue,Bronx,NY,bronx,Bronx,10467
1339,3286981.0,2609 Aqueduct Avenue,2610 University Avenue,Bronx,bronx,NaN,10468
1844,3422658.0,2130 Adam C. Powell Jr. Blvd,Attn: Management,New York,manhattan,Manhattan,10027
3094,3280103.0,85-15 139th Street,Briarwood,Queens,queens,NaN,11435
3189,2787415.0,221-229 Seaman Avenue,"31-41 Park Terrace West, NY, NY",New York,manhattan,NaN,10034
3236,2716189.0,2190 Brigham St; 2170 Brigham St;,2171 Bragg St,Brooklyn,brooklyn,NaN,11229
3237,2673740.0,3105 Ave V; 2140 Knapp St;,2165 Brigham St,Brooklyn,brooklyn,NaN,11229
3686,3121027.0,319 E. 24th St,320 E. 25th St,New York,manhattan,NaN,10010
4258,2977466.0,410 West 118th Street,B-230,New York,manhattan,NaN,10027
4279,2977455.0,410 West 118th Street,B-230,New York,manhattan,NaN,10027
4676,2715840.0,10 Bay Street Landings,20 Bay Street Lamdomgs,Staten Island,staten island,NaN,10301
5055,4037237.0,2280 Frederick Douglass Blvd,2280 West 133 Street,New York,manhattan,NaN,10027
5678,2667367.0,860 United Nations Plaza,West Tower,New York,manhattan,New York,10017
5696,2710964.0,820 Colgate Ave.,880 Colgate Avenue,Bronx,bronx,Bronx,10473
5707,2711028.0,875 Boynton Ave.,825 Boynton Ave.,Bronx,bronx,NaN,10473
6184,3579625.0,1 Junius Street,11-13-23-25,Brooklyn,brooklyn,NaN,11212
7564,3512717.0,600 West 161 Street,aka/3851 Broadway,New York,manhattan,Manhattan,10032
7574,3513155.0,600 West 164 Street,aka/ 3915 Broadway,New York,manhattan,Manhattan,10032
7595,3513214.0,600 West 163 Street,aka/ 3885 Broadway,New York,manhattan,Manhattan,10032
8253,2816468.0,157-58 17 Rd.,Multiple Addresses-See Unique Bldg ID,New York,queens,NaN,11357
8771,2746846.0,13921 85 DR,140-10 84 DR,QUEENS,queens,NaN,11435
9166,2711021.0,98 09 64th Road,98 10 64th Avenue,Rego Park,queens,NaN,11374
9173,2711027.0,98 25 64th Road,98-26 64th Avenue,Rego Park,queens,NaN,11374
9179,2740390.0,98 50 63rd Drive,98 51 64th Avenue,Queens,queens,NaN,11375
9180,2740504.0,98-19 64th Avenue,98-22 63rd Drive,Queens,queens,NaN,11374
9186,2740560.0,98 33 64th Avenue,98 34 63rd Drive,Queens,queens,NaN,11374
9187,2740591.0,98 40 64th Avenue,98 41 64th Road,Queens,queens,NaN,11374
9231,2684187.0,50 West 72nd Street,Ruxton,New York,manhattan,NaN,10023
9337,2784309.0,3901 NOSTRAND AVE,3903 NOSTRAND AVE,BROOKLYN,brooklyn,Kings,11235
9438,2787386.0,14135 85 RD,"141-35, 41, 45 85th Road 141-55, 59, 65",QUEENS,queens,NaN,11435
9439,2787390.0,14148 85 RD,"141-48, 50, 52 85th Road",QUEENS,queens,NaN,11435
9445,2815518.0,13960 85 DR,"13976,13980 85 DR",QUEENS,queens,NaN,11435
10772,2684696.0,1351-1355 New York Avenue,3301-3505 Foster Avenue,Brooklyn,brooklyn,NaN,11203
10777,2684780.0,3102 - 3104 Newkirk Avenue,3101 - 3103 Foster Avenue,Brooklyn,brooklyn,NaN,11210
11382,2812001.0,2621 Palisades Avenue,River Terrace Apartments,Bronx,bronx,Bronx,10463
20083,3529363.0,428 East 137th Street,461 East 136th Street,Bronx,bronx,NaN,10454
20113,3529385.0,599 Morris Avenue,601 & 603 Morris Avenue,Bronx,bronx,NaN,10451
20143,3529399.0,601-609 East 156th Street,756-820 St. Anns Avenue,Bronx,bronx,NaN,10455
21186,2682288.0,426-434 East 118th Street,441 East 117 Street,New York,manhattan,NaN,10035
23704,3991234.0,2460-2470 University Avenue,West 188th Street,Bronx,bronx,NaN,10468
23708,3998618.0,2575 Jerome Avenue,2-4 W 192nd Street,Bronx,bronx,NaN,10468
24539,4035686.0,98-32 57th Avenue,Default Info,Corona,queens,NaN,11368
25261,2677911.0,530 Grand Street,550 Grand Street,New York,manhattan,New York,10002
25964,2682106.0,170 Riverdale Avenue,446 Chester Street,Brooklyn,brooklyn,NaN,11212
26164,3506173.0,252 East 61st Street,1143 Second Avenue,New York,manhattan,NaN,10065
28831,4035674.0,102-40 62nd Avenue,Default Info,Forest Hills,queens,NaN,11375
28832,4035675.0,102-45 62nd Road,Default Info,Forest Hills,queens,NaN,11375
28837,4035676.0,2411 East 3rd Street,Default Info,Brooklyn,brooklyn,NaN,11223
28838,4035677.0,2625 East 13th Street,Default Info,brooklyn,brooklyn,NaN,11235
28843,4035679.0,96-10 57th Avenue,Default Info,Corona,queens,NaN,11368
28847,4035681.0,97-11 Horace Harding Expressway,Default Info,Flushing,queens,NaN,11368
28851,4035682.0,97-22 57th Avenue,Default Info,Corona,queens,NaN,11368
28855,4035683.0,97-28 57th Avenue,Default Info,Flushing,queens,NaN,11368
28859,4035684.0,98-17 Horace Harding Expressway,Default Info,Flushing,queens,NaN,11368
28863,4035685.0,98-23 Horace Harding Expressway,Default Info,Corona,queens,NaN,11368
29084,2771955.0,104-25 195 Street,aka 104-36 196 Street,Hollis,queens,NaN,11412
29124,4046188.0,"940 Simpson street , 941 Simpson Street,","940 Fox Street, 999 E 163rd St",Bronx,bronx,NaN,10459
29851,2710964.0,820 Colgate Ave.,825 & 875 Boynton Avenue; 880 Colgate Avenue,Bronx,bronx,Bronx,10473
30453,2740390.0,98 50 63rd Drive,98 51 64th Avenue,Queens,queens,NaN,11374
31325,2815518.0,139-60 85th Drive,"139-76,80 85th Drive",Queens,queens,NaN,11435
32845,2746846.0,139-21 85th Drive,140-10 84th Drive,Queens,queens,NaN,11435
34590,queens,queens,queens,queens,queens,queens,queens
37221,2721423.0,8600 Shore Front Parkway; 8400 Shore Front Par...,8800 Shore Front Parkway,Rockaway Beach,queens,NaN,11693
38651,2821049.0,15 West 39th Street,7th Floor,New York,manhattan,USA,10018
49436,4039448.0,2913 Foster Avenue,New Bedford Mgmt/GEMS,Brooklyn,brooklyn,NaN,11210
49931,3513107.0,701 West 175 Street,aka/4141 Broadway,New York,manhattan,Manhattan,10033
54801,2666530.0,"15 W 139th Street, 30 West 141st Street",2300 Fifth Avenue,New York,manhattan,NaN,10037
55098,2721680.0,1110 Stadium Avenue,1130 Stadium Avenue,Bronx,bronx,NaN,10465
104280,3531923.0,333 EAST MOSHOLU PARKWAY,NORTH,BRONX,bronx,NaN,10467
104425,2817268.0,15/25/35 Oliver St,9255/9265 Shore Road,Brooklyn,brooklyn,NaN,11209
104435,2671382.0,61-15 98th Street; 61-25 98th St;,61-35 98th St,Queens,queens,NaN,11374
104490,3539873.0,401 1ST AVE; 400 2ND AVE;,311 E. 23RD ST; 333 E. 23RD ST,New York,manhattan,USA,10010
104667,2820885.0,c/o Norwax Associates Inc.,858-860 Southern Blvd.,New York,manhattan,NaN,10459
104672,2820887.0,c/o Norwax Associates Inc.,2090 Crotona Parkway,New York,manhattan,NaN,10460
105127,2775083.0,2640 Frederick Douglass,"New York, NY 10030",New York,manhattan,NaN,10030
105449,2787386.0,"141-35, 41, 45 85th Road","141-55, 59, 65",Queens,queens,NaN,11435
105754,3498605.0,2630 Cropsey Avenue/,1935 Shore Pkwy,Brooklyn,brooklyn,Kings County,11214

In [126]:
## CLean Building Specific Dataframe for Tax Data 
info_buildings = noEnergy_investments[["property_id","address_1","address_2","city","borough","county","postcode"]].drop_duplicates()
info_buildings

,property_id,address_1,address_2,city,borough,county,postcode
0,2707907.0,2626 Homecrest Avenue,NaN,Brooklyn,brooklyn,NaN,11235
5,3521602.0,3240 Henry Hudson parkway,NaN,Bronx,bronx,NaN,10463
10,3521883.0,900 Avenue H,NaN,Brooklyn,brooklyn,NaN,11230
15,3522892.0,1561 E. 13th Street,NaN,Brooklyn,brooklyn,NaN,11230
20,4047231.0,115 West 35th Street,NaN,new York,manhattan,NaN,10001
...,...,...,...,...,...,...,...
106521,2817031.0,3845 Sedgwick,NaN,Bronx,bronx,NaN,10463
106555,4044352.0,3310-3320-3420-3510 Avenue H,NaN,Brooklyn,brooklyn,NaN,11210
106619,2711572.0,126 WEST FORDHAM,NaN,BRONX,bronx,BRONC,10468
106717,2721640.0,160 Beach 177th Street,NaN,Queens,queens,NaN,11694
106743,4039202.0,3115 - 3125 Tibbett Ave / 3130 Irwin Ave,NaN,Bronx,bronx,NaN,10463

In [46]:
list(noEnergy_investments.columns)

['property_id',
 'property_name',
 'year_ending',
 'nyc_borough_block_and_lot',
 'nyc_building_identification',
 'address_1',
 'city',
 'largest_property_use_type_1',
 'year_built',
 'number_of_buildings',
 'occupancy',
 'metered_areas_energy',
 'metered_areas_water',
 'energy_star_score',
 'national_median_energy_star',
 'energy_star_certification',
 'energy_star_certification_1',
 'site_eui_kbtu_ft',
 'weather_normalized_site_eui',
 'national_median_site_eui',
 'site_energy_use_kbtu',
 'weather_normalized_site_energy',
 'source_eui_kbtu_ft',
 'weather_normalized_source',
 'national_median_source_eui',
 'source_energy_use_kbtu',
 'weather_normalized_source_1',
 'fuel_oil_1_use_kbtu',
 'fuel_oil_2_use_kbtu',
 'fuel_oil_4_use_kbtu',
 'fuel_oil_5_6_use_kbtu',
 'diesel_2_use_kbtu',
 'district_steam_use_kbtu',
 'natural_gas_use_kbtu',
 'electricity_use_grid_purchase',
 'electricity_use_grid_purchase_1',
 'electricity_use_grid_purchase_2',
 'electricity_use_generated',
 'electricity_use_generated_1',
 'electricity_use_generated_2',
 'annual_maximum_demand_kw',
 'annual_maximum_demand_mm',
 'annual_maximum_demand_meter',
 'green_power_onsite_kwh',
 'green_power_offsite_kwh',
 'direct_ghg_emissions_metric',
 'net_emissions_metric_tons',
 'avoided_emissions_onsite',
 'avoided_emissions_offsite',
 'percent_of_electricity_that',
 'percent_of_recs_retained',
 'percent_of_total_electricity',
 'leed_us_project_id',
 'default_values',
 'temporary_values',
 'estimated_values_energy',
 'estimated_values_water',
 'alert_energy_meter_has_less',
 'alert_energy_meter_has_gaps',
 'alert_energy_meter_has',
 'alert_energy_no_meters',
 'alert_energy_meter_has_single',
 'alert_property_has_no_uses',
 'alert_data_center_issue_with',
 'alert_gross_floor_area_is',
 'estimated_data_flag',
 'estimated_data_flag_natural',
 'estimated_data_flag_district',
 'estimated_data_flag_1',
 'estimated_data_flag_fuel',
 'estimated_data_flag_fuel_1',
 'estimated_data_flag_fuel_2',
 'outpatient_rehabilitation',
 'pre_school_daycare_gross',
 'multifamily_housing_government',
 'multifamily_housing_gross',
 'multifamily_housing_number',
 'multifamily_housing_number_1',
 'multifamily_housing_number_2',
 'multifamily_housing_number_3',
 'multifamily_housing_number_4',
 'multifamily_housing_percent',
 'multifamily_housing_percent_1',
 'multifamily_housing_total',
 'multifamily_housing_total_1',
 'multifamily_housing_number_5',
 'multifamily_housing_number_6',
 'multifamily_housing_number_7',
 'multifamily_housing_resident',
 'other_gross_floor_area_ft',
 'property_gfa_self_reported',
 'property_gfa_calculated',
 'property_gfa_calculated_1',
 'water_use_all_water_sources',
 'indoor_water_use_all_water',
 'outdoor_water_use_all_water',
 'municipally_supplied_potable',
 'municipally_supplied_potable_1',
 'municipally_supplied_potable_2',
 'municipally_supplied_potable_3',
 'last_modified_date_property',
 'last_modified_date_electric',
 'last_modified_date_gas_meters',
 'last_modified_date_water',
 'borough',
 'latitude',
 'longitude',
 'community_board',
 'council_district',
 'last_modified_date_non',
 'source_years',
 'source_api_url',
 'source_info_url',
 'energy_star_certification_2',
 'weather_normalized_site',
 'weather_normalized_site_1',
 'natural_gas_use_therms',
 'weather_normalized_site_2',
 'weather_normalized_site_3',
 'total_ghg_emissions_metric',
 'indirect_ghg_emissions_metric',
 'national_median_total_ghg',
 'egrid_output_emissions_rate',
 'generation_date',
 'census_tract',
 'nta',
 'postcode',
 'release_date',
 'address_2',
 'difference_from_national',
 'difference_from_national_1',
 'costar_property_id',
 'data_quality_checker_date',
 'indoor_water_use_intensity',
 'water_use_intensity_all_water',
 'county',
 'source_energy_use_adjusted',
 'other_weekly_operating_hours',
 'other_number_of_computers',
 'other_number_of_workers_on',
 'repair_services_vehicle_shoe',
 'data_quality_checker_run',
 'water_current_date',
 'water_score_multifamily_only',
 'irrigated_area_ft',
 'account_id',
 'property_id_1',
 'national_median_site_energy',
 'national_median_source_energy',
 'date_property_last_modified',
 'alert_data_center_does_not',
 'alert_individual_monthly',
 'alert_meter_has_overlaps',
 'alert_meter_has_gaps',
 'alert_meter_has_less_than',
 'alert_no_meters_are_associated',
 'source_eui_adjusted_to_current',
 'count_of_buildings',
 'personal_services_health',
 'property_gfa_epa_calculated',
 'property_gfa_epa_calculated_1',
 'property_gfa_epa_calculated_2',
 'indoor_water_intensity_all',
 'property_floor_area_building',
 'energy_star_certification_3',
 'energy_star_certification_5',
 'energy_cost',
 'energy_cost_intensity_ft',
 'national_median_energy_cost',
 'investment_in_energy_projects',
 'investment_in_energy_projects_1',
 'estimated_savings_from_energy',
 'estimated_savings_from_energy_1',
 'electricity_grid_purchase',
 'natural_gas_cost',
 'fuel_oil_no_2_cost',
 'fuel_oil_no_4_cost',
 'fuel_oil_no_5_and_no_6_cost',
 'district_steam_cost',
 'estimated_values',
 'custom_property_id_1_name',
 'custom_property_id_1_id',
 'energy_alerts',
 'property_use_detail_alerts',
 'other_water_sources_combined',
 'water_alerts',
 'multifamily_housing_maximum',
 'multifamily_housing_percent_2',
 'multifamily_housing_primary',
 'other_water_sources_combined_1',
 'municipally_supplied_potable_4',
 'state_province',
 'property_floor_area_buildings',
 'service_and_product_provider',
 'space_alerts',
 'direct_ghg_emissions_mtco2e',
 'indirect_ghg_emissions_mtco2e',
 'total_ghg_emissions_mtco2e',
 'energy_current_date',
 'bin',
 'bbl',
 'year_ending_year',
 'ct2010',
 'boroct2010',
 'boroname',
 'canopy_change_class']

In [48]:
import re, time, requests, pandas as pd

BASE = "https://geoservice.planning.nyc.gov"

# Map borough/city variants to API values
BORO_NORM = {
    "manhattan":"Manhattan","new york":"Manhattan","mn":"Manhattan","1":"Manhattan",
    "bronx":"Bronx","bx":"Bronx","2":"Bronx",
    "brooklyn":"Brooklyn","kings":"Brooklyn","bk":"Brooklyn","3":"Brooklyn",
    "queens":"Queens","qn":"Queens","4":"Queens",
    "staten island":"Staten Island","richmond":"Staten Island","si":"Staten Island","5":"Staten Island",
}

def _clean_addr(addr):
    if pd.isna(addr): return None, None
    s = str(addr).strip()
    # strip trailing ", NY", zip, etc.
    s = re.sub(r",?\s*(NY|New York|USA|\d{5}(?:-\d{4})?)\s*$", "", s, flags=re.I)
    # remove unit/suite after a separator (e.g., "123 Main St Apt 4B" -> keep "123 Main St")
    s = re.split(r"\b(apt|suite|ste|unit|#)\b", s, flags=re.I)[0].strip()
    m = re.match(r"^\s*(\d[\d-]*)\s+(.*)$", s)
    if not m: return None, None
    return m.group(1), m.group(2)

def _norm_boro(boro, city=None):
    # prefer explicit borough; else use city
    for x in (boro, city):
        if x and not pd.isna(x):
            key = str(x).strip().lower()
            if key in BORO_NORM: return BORO_NORM[key]
    return None

def _fetch_bbl(row):
    hn, st = _clean_addr(row.get("address_1"))
    bor = _norm_boro(row.get("borough"), row.get("city"))
    if not (hn and st and bor):
        return pd.Series({"bbl": None, "borough_code": None, "tax_block": None, "tax_lot": None})
    try:
        r = requests.get(f"{BASE}/Function_1A",
                         params={"HouseNumber": hn, "Street": st, "Borough": bor, "DisplayFormat": "true"},
                         timeout=20)
        r.raise_for_status()
        j = r.json()
        # tiny finder
        def find(d, pat):
            if isinstance(d, dict):
                for k,v in d.items():
                    if re.search(pat, str(k), re.I): return v
                    out = find(v, pat)
                    if out is not None: return out
            elif isinstance(d, list):
                for x in d:
                    out = find(x, pat)
                    if out is not None: return out
            return None
        bor_code = find(j, r"^borough(code)?$") or find(j, r"^boro$")
        block    = find(j, r"^block$")
        lot      = find(j, r"^lot$")
        if bor_code is None or block is None or lot is None:
            return pd.Series({"bbl": None, "borough_code": None, "tax_block": None, "tax_lot": None})
        bbl = f"{int(bor_code)}{int(block):05d}{int(lot):04d}"
        return pd.Series({
            "bbl": bbl,
            "borough_code": str(int(bor_code)),
            "tax_block": str(int(block)),
            "tax_lot": str(int(lot)),
        })
    except Exception:
        return pd.Series({"bbl": None, "borough_code": None, "tax_block": None, "tax_lot": None})
    finally:
        time.sleep(0.1)  # be polite

# ðŸ”§ Inline â€œloopâ€ over your df:
noEnergy_investments[["bbl","borough_code","tax_block","tax_lot"]] = (
    noEnergy_investments.apply(_fetch_bbl, axis=1)
)

KeyboardInterrupt:

In [152]:
### Limiting to the columns we need for the analysis
[["property_id","property_name","year_ending_year","address_1","city","borough","bbl","bin","census_tract","ct2010","nta","latitude","longitude",

 ]]

NameError: name 'nta' is not defined

In [43]:
working_with_canopy_50ft["number_of_buildings"].unique()

array([  1.,   6.,   8.,   2.,   5.,  10.,  52.,  11.,   4.,  35.,   3.,
        45., 107.,  22.,  32.,  12.,  26.,   7.,  14.,  16.,  19.,  15.,
        24.,  30.,  18.,  42.,  13.,   9.,  25.,  91., 140., 131., 126.,
         0.,  31.,  20.,  28.,  23.,  21.,  nan, 161.,  27.])

In [156]:
working_with_canopy_50ft[["property_gfa_calculated","number_of_buildings","property_gfa_epa_calculated",
                          "multifamily_housing_number","multifamily_housing_total","occupancy"]]

,property_gfa_calculated,number_of_buildings,property_gfa_epa_calculated,multifamily_housing_number,multifamily_housing_total,occupancy
0,127500.0,1.0,NaN,185.0,139.0,100.0
1,127500.0,1.0,NaN,185.0,139.0,100.0
2,127500.0,1.0,NaN,185.0,139.0,100.0
3,127500.0,1.0,NaN,185.0,139.0,100.0
4,127500.0,1.0,NaN,185.0,139.0,100.0
...,...,...,...,...,...,...
109532,NaN,NaN,NaN,0.0,NaN,NaN
109533,NaN,NaN,NaN,0.0,NaN,NaN
109534,NaN,NaN,NaN,0.0,NaN,NaN
109535,NaN,NaN,NaN,0.0,NaN,NaN
109536,NaN,NaN,NaN,0.0,NaN,NaN

In [153]:
"year_built","number_of_buildings","property_gfa_calculated"   # or property_gfa_epa_calculated if cleaner
multifamily_housing_number
multifamily_housing_total
occupancy

NameError: name 'multifamily_housing_number' is not defined

In [17]:
working_with_canopy_50ft

NameError: name 'working_with_canopy_50ft' is not defined

In [148]:
list(noEnergy_investments.dropna(how='all',axis=1).columns)

['property_id',
 'property_name',
 'year_ending',
 'nyc_borough_block_and_lot',
 'nyc_building_identification',
 'address_1',
 'city',
 'largest_property_use_type_1',
 'year_built',
 'number_of_buildings',
 'occupancy',
 'metered_areas_energy',
 'metered_areas_water',
 'energy_star_score',
 'national_median_energy_star',
 'energy_star_certification',
 'energy_star_certification_1',
 'site_eui_kbtu_ft',
 'weather_normalized_site_eui',
 'national_median_site_eui',
 'site_energy_use_kbtu',
 'weather_normalized_site_energy',
 'source_eui_kbtu_ft',
 'weather_normalized_source',
 'national_median_source_eui',
 'source_energy_use_kbtu',
 'weather_normalized_source_1',
 'fuel_oil_1_use_kbtu',
 'fuel_oil_2_use_kbtu',
 'fuel_oil_4_use_kbtu',
 'fuel_oil_5_6_use_kbtu',
 'district_steam_use_kbtu',
 'natural_gas_use_kbtu',
 'electricity_use_grid_purchase',
 'electricity_use_grid_purchase_1',
 'electricity_use_grid_purchase_2',
 'annual_maximum_demand_kw',
 'annual_maximum_demand_mm',
 'annual_maximum_demand_meter',
 'green_power_offsite_kwh',
 'direct_ghg_emissions_metric',
 'net_emissions_metric_tons',
 'avoided_emissions_offsite',
 'percent_of_electricity_that',
 'default_values',
 'temporary_values',
 'estimated_values_energy',
 'estimated_values_water',
 'alert_energy_meter_has_less',
 'alert_energy_meter_has_gaps',
 'alert_energy_meter_has',
 'alert_energy_no_meters',
 'alert_energy_meter_has_single',
 'alert_property_has_no_uses',
 'alert_data_center_issue_with',
 'alert_gross_floor_area_is',
 'estimated_data_flag',
 'estimated_data_flag_natural',
 'estimated_data_flag_district',
 'estimated_data_flag_1',
 'estimated_data_flag_fuel',
 'estimated_data_flag_fuel_1',
 'estimated_data_flag_fuel_2',
 'multifamily_housing_government',
 'multifamily_housing_gross',
 'multifamily_housing_number',
 'multifamily_housing_number_1',
 'multifamily_housing_number_2',
 'multifamily_housing_number_3',
 'multifamily_housing_number_4',
 'multifamily_housing_percent',
 'multifamily_housing_percent_1',
 'multifamily_housing_total',
 'multifamily_housing_total_1',
 'multifamily_housing_number_5',
 'multifamily_housing_number_6',
 'multifamily_housing_number_7',
 'multifamily_housing_resident',
 'property_gfa_self_reported',
 'property_gfa_calculated',
 'property_gfa_calculated_1',
 'water_use_all_water_sources',
 'indoor_water_use_all_water',
 'outdoor_water_use_all_water',
 'municipally_supplied_potable',
 'municipally_supplied_potable_1',
 'municipally_supplied_potable_2',
 'municipally_supplied_potable_3',
 'last_modified_date_property',
 'last_modified_date_electric',
 'last_modified_date_gas_meters',
 'last_modified_date_water',
 'borough',
 'latitude',
 'longitude',
 'community_board',
 'council_district',
 'last_modified_date_non',
 'source_years',
 'source_api_url',
 'source_info_url',
 'energy_star_certification_2',
 'weather_normalized_site',
 'weather_normalized_site_1',
 'natural_gas_use_therms',
 'weather_normalized_site_2',
 'weather_normalized_site_3',
 'total_ghg_emissions_metric',
 'indirect_ghg_emissions_metric',
 'national_median_total_ghg',
 'egrid_output_emissions_rate',
 'generation_date',
 'census_tract',
 'nta',
 'postcode',
 'release_date',
 'address_2',
 'difference_from_national',
 'difference_from_national_1',
 'data_quality_checker_date',
 'indoor_water_use_intensity',
 'water_use_intensity_all_water',
 'county',
 'source_energy_use_adjusted',
 'data_quality_checker_run',
 'water_current_date',
 'water_score_multifamily_only',
 'irrigated_area_ft',
 'account_id',
 'property_id_1',
 'national_median_site_energy',
 'national_median_source_energy',
 'date_property_last_modified',
 'alert_data_center_does_not',
 'alert_individual_monthly',
 'alert_meter_has_overlaps',
 'alert_meter_has_gaps',
 'alert_meter_has_less_than',
 'alert_no_meters_are_associated',
 'source_eui_adjusted_to_current',
 'count_of_buildings',
 'property_gfa_epa_calculated',
 'property_gfa_epa_calculated_1',
 'property_gfa_epa_calculated_2',
 'indoor_water_intensity_all',
 'custom_property_id_1_id',
 'energy_alerts',
 'water_alerts',
 'multifamily_housing_maximum',
 'multifamily_housing_primary',
 'state_province',
 'property_floor_area_buildings',
 'service_and_product_provider',
 'space_alerts',
 'direct_ghg_emissions_mtco2e',
 'indirect_ghg_emissions_mtco2e',
 'total_ghg_emissions_mtco2e',
 'energy_current_date',
 'bin',
 'bbl',
 'year_ending_year',
 'ct2010',
 'boroct2010',
 'boroname',
 'canopy_change_class']

In [47]:
noEnergy_investments.head(n=10).to_csv("sample.csv",index=False)

In [ ]:
### Reading in Tax Zoning

In [160]:
tax_zoning = {
    "ALL":{
        "api":"https://data.cityofnewyork.us/resource/fdkv-4t4z.json",
        "info":"https://data.cityofnewyork.us/City-Government/NYC-Zoning-Tax-Lot-Database/fdkv-4t4z/about_data"
}}

In [162]:
def fetch_all_rows_1k(api_url: str, source_years: str, source_info_url: str) -> pd.DataFrame:
    offset = 0
    frames = []

    while True:
        params = {"$limit": PAGE, "$offset": offset}

        for attempt in range(1, MAX_RETRIES + 1):
            try:
                resp = session.get(api_url, params=params, headers=headers, timeout=TIMEOUT)
                if resp.status_code in (429, 502, 503, 504):
                    time.sleep(BACKOFF_BASE ** attempt * (0.1 * attempt))
                    continue
                resp.raise_for_status()

                if "json" not in resp.headers.get("Content-Type", "").lower():
                    preview = resp.text[:200]
                    raise ValueError(f"Non-JSON response (status {resp.status_code}): {preview}")

                data_chunk = resp.json()
                if not data_chunk:
                    return pd.concat(frames, ignore_index=True) if frames else pd.DataFrame()

                # Create DataFrame
                df = pd.DataFrame(data_chunk)

                # ðŸ”‘ Add your metadata columns here
                df["source_years"] = source_years
                df["source_api_url"] = api_url
                df["source_info_url"] = source_info_url

                frames.append(df)

                # If less than PAGE, stop; otherwise keep paginating
                if len(data_chunk) < PAGE:
                    return pd.concat(frames, ignore_index=True)

                offset += PAGE
                break  # Success, go to next page

            except (requests.RequestException, JSONDecodeError, ValueError) as e:
                if attempt == MAX_RETRIES:
                    print(f"âš ï¸ Failed fetching {api_url} at offset {offset}: {e}")
                    return pd.concat(frames, ignore_index=True) if frames else pd.DataFrame()
                time.sleep(BACKOFF_BASE ** attempt * (0.1 * attempt))

In [163]:
PAGE = 1000               # <-- enforce 1,000 rows per page
TIMEOUT = 30
MAX_RETRIES = 5
BACKOFF_BASE = 1.5

session = requests.Session()
headers = {}

agg_running_list = []
for k, v in tax_zoning.items():
    print(f"Fetching {k} -> {v['api']}")
    df = fetch_all_rows_1k(v["api"], k, v["info"])
    if not df.empty:
        agg_running_list.append(df)
    else:
        print(f"Warning: no rows returned for {k} ({v['api']}).")

nyc_tax_zoning = pd.concat(agg_running_list, ignore_index=True) if agg_running_list else pd.DataFrame()
print(f"Total rows: {len(nyc_tax_zoning)}")

Fetching ALL -> https://data.cityofnewyork.us/resource/fdkv-4t4z.json
Total rows: 857969

In [2]:
# nyc_tax_zoning.to_csv("nyc_tax_zoning.csv", index=False )
nyc_tax_zoning = pd.read_csv("nyc_tax_zoning.csv")
# https://www.nyc.gov/content/planning/pages/zoning/zoning-districts-guide/residence-districts

C:\Users\johnf\AppData\Local\Temp\ipykernel_42220\2130274155.py:2: DtypeWarning: Columns (6,13,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  nyc_tax_zoning = pd.read_csv("nyc_tax_zoning.csv")

In [11]:
nyc_tax_zoning

,borough_code,tax_block,tax_lot,bbl,zoning_district_1,zoning_district_2,special_district_1,zoning_map_number,zoning_map_code,commercial_overlay_1,source_years,source_api_url,source_info_url,commercial_overlay_2,zoning_district_3,special_district_2,limited_height_district,zoning_district_4
0,1,1,10,1000010010,R3-2,C4-1,GI,16A,Y,NaN,ALL,https://data.cityofnewyork.us/resource/fdkv-4t...,https://data.cityofnewyork.us/City-Government/...,NaN,NaN,NaN,NaN,NaN
1,1,1,101,1000010101,R3-2,NaN,NaN,16A,NaN,NaN,ALL,https://data.cityofnewyork.us/resource/fdkv-4t...,https://data.cityofnewyork.us/City-Government/...,NaN,NaN,NaN,NaN,NaN
2,1,1,111,1000010111,R3-2,NaN,GI,16A,NaN,NaN,ALL,https://data.cityofnewyork.us/resource/fdkv-4t...,https://data.cityofnewyork.us/City-Government/...,NaN,NaN,NaN,NaN,NaN
3,1,1,112,1000010112,R3-2,NaN,GI,16A,NaN,NaN,ALL,https://data.cityofnewyork.us/resource/fdkv-4t...,https://data.cityofnewyork.us/City-Government/...,NaN,NaN,NaN,NaN,NaN
4,1,1,150,1000010150,R3-2,NaN,GI,16A,NaN,NaN,ALL,https://data.cityofnewyork.us/resource/fdkv-4t...,https://data.cityofnewyork.us/City-Government/...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857964,5,8050,83,5080500083,R1-2,NaN,SRD,35A,NaN,NaN,ALL,https://data.cityofnewyork.us/resource/fdkv-4t...,https://data.cityofnewyork.us/City-Government/...,NaN,NaN,NaN,NaN,NaN
857965,5,8050,86,5080500086,R1-2,NaN,SRD,35A,NaN,NaN,ALL,https://data.cityofnewyork.us/resource/fdkv-4t...,https://data.cityofnewyork.us/City-Government/...,NaN,NaN,NaN,NaN,NaN
857966,5,8050,89,5080500089,R1-2,NaN,SRD,35A,NaN,NaN,ALL,https://data.cityofnewyork.us/resource/fdkv-4t...,https://data.cityofnewyork.us/City-Government/...,NaN,NaN,NaN,NaN,NaN
857967,5,8050,92,5080500092,R1-2,NaN,SRD,35A,NaN,NaN,ALL,https://data.cityofnewyork.us/resource/fdkv-4t...,https://data.cityofnewyork.us/City-Government/...,NaN,NaN,NaN,NaN,NaN
857968,5,8050,94,5080500094,R1-2,NaN,SRD,35A,NaN,NaN,ALL,https://data.cityofnewyork.us/resource/fdkv-4t...,https://data.cityofnewyork.us/City-Government/...,NaN,NaN,NaN,NaN,NaN

In [10]:
list(nyc_tax_zoning["zoning_district_1"][nyc_tax_zoning["zoning_district_1"].astype(str).str.contains('R')].unique()) #,	"zoning_district_2"

['R3-2',
 'PARK',
 'R8',
 'R7-2',
 'M1-5/R10',
 'M1-5/R9X',
 'M1-5/R7X',
 'R7A',
 'R8A',
 'R9-1',
 'R8B',
 'R7B',
 'R8X',
 'M1-6/R10',
 'M1-5/R7D',
 'R6',
 'M1-5/R9A',
 'R10',
 'R6A',
 'R9X',
 'R9A',
 'R9',
 'R10H',
 'R10A',
 'R7D',
 'R7X',
 'M1-6/R9',
 'M1-3/R8',
 'M1-5/R7-2',
 'M1-4/R9A',
 'M1-4/R7A',
 'R7-1',
 'R5',
 'R1-2',
 'M1-5/R8A',
 'M1-2/R6A',
 'M1-4/R7X',
 'M1-4/R6A',
 'M1-4/R8A',
 'M1-1/R7-2',
 'M1-4/R7D',
 'M1-2/R7-2',
 'R7-3',
 'R4A',
 'R6B',
 'R5B',
 'R5A',
 'R5D',
 'R3A',
 'R4',
 'R6-1',
 'M1-1A/R7-3',
 'R4-1',
 'R3-1',
 'R3X',
 'R2',
 'R1-1',
 'M1-6/R8X',
 'M1-2/R8',
 'M1-2/R8A',
 'M1-5/R9-1',
 'M1-2/R6',
 'M1-4/R6B',
 'M1-4/R7-2',
 'M1-1/R5',
 'M1-3/R7D',
 'M1-2A/R6A',
 'M1-3A/R7D',
 'M1-4A/R9A',
 'M1-1/R7D',
 'M1-1A/R6B',
 'M1-2/R7A',
 'M1-2/R6B',
 'M1-1/R6A',
 'R4B',
 'R2X',
 'M1-5/R7-3',
 'R6D',
 'M1-5/R9',
 'M1-5/R6A',
 'M1-2/R5D',
 'M1-2/R5B',
 'M1-3/R7X',
 'M1-4/R9',
 'M1-4/R7-3',
 'R2A',
 'R1-2A',
 'M1-2/R7-1']

In [12]:
import os
import re
import time
import json
import math
import requests
import pandas as pd
from concurrent.futures import ThreadPoolExecutor, as_completed

GEOSERVICE_BASE = "https://geoservice.planning.nyc.gov"
API_KEY = os.getenv("GEOSERVICE_KEY")  # set this in your environment

# Acceptable borough inputs include 1â€“5 or names like "mn", etc. We'll normalize from codes & BBL strings.
BORO_CODE_TO_NUM = {
    1: "1", 2: "2", 3: "3", 4: "4", 5: "5"
}
BORO_NUM_FROM_NAME = {
    "1":"1","mn":"1","manhattan":"1","new york":"1",
    "2":"2","bx":"2","bronx":"2",
    "3":"3","bk":"3","kings":"3","brooklyn":"3",
    "4":"4","qn":"4","queens":"4",
    "5":"5","si":"5","richmond":"5","staten island":"5",
}

def _normalize_boro(v):
    if v is None or (isinstance(v, float) and math.isnan(v)):
        return None
    s = str(v).strip().lower()
    if s.isdigit():
        return s
    return BORO_NUM_FROM_NAME.get(s, s)

def parse_bbl(bbl_str):
    """
    BBL is 10 digits: B(1) + Block(5) + Lot(4)
    e.g. 1000010010 -> b=1, block=00001 -> 1, lot=0010 -> 10
    """
    s = str(bbl_str).strip().zfill(10)
    boro = s[0]
    block = str(int(s[1:6]))  # remove leading zeros
    lot = str(int(s[6:10]))
    return boro, block, lot

def call_geoservice(path, params, *, pause=0.1, timeout=30):
    params = {k: v for k, v in params.items() if v not in (None, "", float("nan"))}
    if API_KEY:
        params.setdefault("Key", API_KEY)
    # DisplayFormat true returns beautified JSON; false returns raw WA fields.
    params.setdefault("DisplayFormat", "true")
    url = f"{GEOSERVICE_BASE}/{path}"
    r = requests.get(url, params=params, timeout=timeout)
    time.sleep(pause)  # be polite
    r.raise_for_status()
    return r.json()

def find_first(d, *predicates):
    """
    Search nested dict/list and return first value whose key matches any predicate (case-insensitive).
    predicate can be a regex compiled with re.I.
    """
    stack = [d]
    while stack:
        cur = stack.pop()
        if isinstance(cur, dict):
            for k, v in cur.items():
                if any(p.search(str(k)) for p in predicates):
                    return v
            stack.extend(cur.values())
        elif isinstance(cur, list):
            stack.extend(cur)
    return None

# -------- BBL -> Address list --------
def bbl_to_addresses(boro, block, lot):
    resp = call_geoservice(
        "Function_BBL",
        {"Borough": _normalize_boro(boro), "Block": block, "Lot": lot, "TPAD": "N"}
    )
    # Try common locations for address arrays/strings in the pretty JSON
    # This works even if field names vary a bit across versions.
    addr_predicates = [
        re.compile(r"address(es)?$", re.I),
        re.compile(r"addressList", re.I),
        re.compile(r"list.*address", re.I),
        re.compile(r"house.*street", re.I),
    ]
    addresses = find_first(resp, *addr_predicates)
    # Normalize: a list of strings
    if isinstance(addresses, list):
        # Sometimes each element is dict with HouseNumber/StreetName
        def to_str(a):
            if isinstance(a, dict):
                hn = a.get("HouseNumber") or a.get("Housenumber") or a.get("House", "")
                st = a.get("StreetName") or a.get("Street", "")
                b = a.get("Borough") or ""
                return " ".join([str(hn), str(st), str(b)]).strip()
            return str(a)
        addresses = [to_str(a) for a in addresses if a]
    elif isinstance(addresses, str):
        addresses = [addresses]
    else:
        addresses = []

    # Grab BINs too (often useful)
    bins = find_first(resp, re.compile(r"BINs?$", re.I), re.compile(r"Building.*Identification.*Number", re.I))
    if isinstance(bins, list):
        bins = [str(b) for b in bins]
    elif bins is not None:
        bins = [str(bins)]
    else:
        bins = []

    return addresses, bins, resp

# -------- Address -> lat/long + Census Tract --------
def geocode_address(address, borough=None):
    """
    Try Function_1B first (has both geographic & property info incl. CT & lat/long),
    fall back to Function_AP (address point) if needed.
    """
    params = {}
    # If a "free form" string is easiest, pass it directly; otherwise split number/name.
    # We'll try 'FreeForm' (supported on 1A/1B/1E/AP pages).
    params["FreeForm"] = address
    if borough:
        params["Borough"] = _normalize_boro(borough)

    # 1) Function 1B
    try:
        r1b = call_geoservice("Function_1B", params)
        lat = find_first(r1b, re.compile(r"^lat(itude)?$", re.I))
        lon = find_first(r1b, re.compile(r"^lon(gitude)?$", re.I))
        ct = (find_first(r1b, re.compile(r"census.*tract.*2020", re.I)) or
              find_first(r1b, re.compile(r"census.*tract.*2010", re.I)) or
              find_first(r1b, re.compile(r"census.*tract", re.I)))
        if lat and lon and ct:
            return {"latitude": float(lat), "longitude": float(lon), "census_tract": str(ct), "source": "1B"}
        elif (lat and lon) or ct:
            return {"latitude": float(lat) if lat else None,
                    "longitude": float(lon) if lon else None,
                    "census_tract": str(ct) if ct else None,
                    "source": "1B"}
    except Exception:
        pass

    # 2) Function AP (address point)
    try:
        rap = call_geoservice("Function_AP", params)
        lat = find_first(rap, re.compile(r"^lat(itude)?$", re.I))
        lon = find_first(rap, re.compile(r"^lon(gitude)?$", re.I))
        # AP may not include CT; if missing, try 1E quickly for CT using same address
        if lat and lon:
            ct = (find_first(rap, re.compile(r"census.*tract.*2020", re.I)) or
                  find_first(rap, re.compile(r"census.*tract.*2010", re.I)) or
                  None)
            if not ct:
                try:
                    r1e = call_geoservice("Function_1E", params)
                    ct = (find_first(r1e, re.compile(r"census.*tract.*2020", re.I)) or
                          find_first(r1e, re.compile(r"census.*tract.*2010", re.I)) or
                          find_first(r1e, re.compile(r"census.*tract", re.I)))
                except Exception:
                    ct = None
            return {"latitude": float(lat), "longitude": float(lon), "census_tract": str(ct) if ct else None, "source": "AP(+1E)"}
    except Exception:
        pass

    return {"latitude": None, "longitude": None, "census_tract": None, "source": "NA"}

def enrich_with_addresses_and_geo(df, bbl_col="bbl", boro_col="borough_code", block_col="tax_block", lot_col="tax_lot", max_workers=5):
    """
    Adds columns:
      - 'addr_list' (list of strings)
      - 'bin_list'  (list of BINs)
      - 'addr_best' (first address, if any)
      - 'latitude', 'longitude', 'census_tract', 'geo_source'
    Works if you have either a full 'bbl' string or separate borough/block/lot.
    """
    work = []

    for idx, row in df.iterrows():
        if pd.notna(row.get(bbl_col, None)):
            boro, block, lot = parse_bbl(row[bbl_col])
        else:
            boro = _normalize_boro(row.get(boro_col))
            block = str(int(row.get(block_col))) if pd.notna(row.get(block_col)) else None
            lot = str(int(row.get(lot_col))) if pd.notna(row.get(lot_col)) else None
        work.append((idx, boro, block, lot))

    # 1) BBL -> addresses
    results = {}
    with ThreadPoolExecutor(max_workers=max_workers) as ex:
        futs = {ex.submit(bbl_to_addresses, b, bl, l): (i, b) for i, b, bl, l in work}
        for fut in as_completed(futs):
            i, boro = futs[fut]
            try:
                addrs, bins, raw = fut.result()
                results[i] = {"addr_list": addrs, "bin_list": bins, "raw_bbl_json": raw}
            except Exception as e:
                results[i] = {"addr_list": [], "bin_list": [], "raw_bbl_json": {"error": str(e)}}

    # 2) Address -> geo (lat/long & CT). Use the first address returned.
    with ThreadPoolExecutor(max_workers=max_workers) as ex:
        futs = {}
        for i, boro, _, _ in work:
            addr_list = results[i]["addr_list"]
            addr_best = addr_list[0] if addr_list else None
            results[i]["addr_best"] = addr_best
            futs[ex.submit(geocode_address, addr_best, boro)] = i if addr_best else None

        for fut in as_completed(futs):
            i = futs[fut]
            if i is None:
                continue
            try:
                g = fut.result()
            except Exception as e:
                g = {"latitude": None, "longitude": None, "census_tract": None, "source": f"error:{e}"}
            results[i].update({
                "latitude": g.get("latitude"),
                "longitude": g.get("longitude"),
                "census_tract": g.get("census_tract"),
                "geo_source": g.get("source")
            })

    # 3) Write back to dataframe
    out = df.copy()
    out["addr_list"]    = [results[i]["addr_list"] for i in out.index]
    out["bin_list"]     = [results[i]["bin_list"] for i in out.index]
    out["addr_best"]    = [results[i].get("addr_best") for i in out.index]
    out["latitude"]     = [results[i].get("latitude") for i in out.index]
    out["longitude"]    = [results[i].get("longitude") for i in out.index]
    out["census_tract"] = [results[i].get("census_tract") for i in out.index]
    out["geo_source"]   = [results[i].get("geo_source") for i in out.index]
    return out

In [13]:
# nyc_tax_zoning is your dataframe from the screenshot.
# It has both `bbl` and separate borough/block/lot columns, so either works.

df_enriched = enrich_with_addresses_and_geo(nyc_tax_zoning, bbl_col="bbl",
                                            boro_col="borough_code",
                                            block_col="tax_block",
                                            lot_col="tax_lot",
                                            max_workers=5)

# peek:
df_enriched[["bbl", "addr_best", "latitude", "longitude", "census_tract", "geo_source"]].head()

          bbl addr_best latitude longitude census_tract geo_source
0  1000010010      None     None      None         None       None
1  1000010101      None     None      None         None       None
2  1000010111      None     None      None         None       None
3  1000010112      None     None      None         None       None
4  1000010150      None     None      None         None       None

In [15]:
df_enriched

,borough_code,tax_block,tax_lot,bbl,zoning_district_1,zoning_district_2,special_district_1,zoning_map_number,zoning_map_code,commercial_overlay_1,...,special_district_2,limited_height_district,zoning_district_4,addr_list,bin_list,addr_best,latitude,longitude,census_tract,geo_source
0,1,1,10,1000010010,R3-2,C4-1,GI,16A,Y,NaN,...,NaN,NaN,NaN,[],[],None,None,None,None,None
1,1,1,101,1000010101,R3-2,NaN,NaN,16A,NaN,NaN,...,NaN,NaN,NaN,[],[],None,None,None,None,None
2,1,1,111,1000010111,R3-2,NaN,GI,16A,NaN,NaN,...,NaN,NaN,NaN,[],[],None,None,None,None,None
3,1,1,112,1000010112,R3-2,NaN,GI,16A,NaN,NaN,...,NaN,NaN,NaN,[],[],None,None,None,None,None
4,1,1,150,1000010150,R3-2,NaN,GI,16A,NaN,NaN,...,NaN,NaN,NaN,[],[],None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857964,5,8050,83,5080500083,R1-2,NaN,SRD,35A,NaN,NaN,...,NaN,NaN,NaN,[],[],None,None,None,None,None
857965,5,8050,86,5080500086,R1-2,NaN,SRD,35A,NaN,NaN,...,NaN,NaN,NaN,[],[],None,None,None,None,None
857966,5,8050,89,5080500089,R1-2,NaN,SRD,35A,NaN,NaN,...,NaN,NaN,NaN,[],[],None,None,None,None,None
857967,5,8050,92,5080500092,R1-2,NaN,SRD,35A,NaN,NaN,...,NaN,NaN,NaN,[],[],None,None,None,None,None
857968,5,8050,94,5080500094,R1-2,NaN,SRD,35A,NaN,NaN,...,NaN,NaN,NaN,[],[],None,None,None,None,None

In [14]:
df_enriched.to_csv("df_enriched.csv",index=False)

In [ ]:
import re, time, requests, pandas as pd

BASE = "https://geoservice.planning.nyc.gov"

# Normalize your 'borough' values to what the API expects
BORO_MAP = {
    "1":"Manhattan","mn":"Manhattan","manhattan":"Manhattan","new york":"Manhattan",
    "2":"Bronx","bx":"Bronx","bronx":"Bronx",
    "3":"Brooklyn","bk":"Brooklyn","kings":"Brooklyn","brooklyn":"Brooklyn",
    "4":"Queens","qn":"Queens","queens":"Queens",
    "5":"Staten Island","si":"Staten Island","richmond":"Staten Island","staten island":"Staten Island",
}

def _norm_boro(x):
    if pd.isna(x): return None
    s = str(x).strip().lower()
    return BORO_MAP.get(s, BORO_MAP.get(s.split(",")[0], None)) or (s.title() if s else None)

def _parse_addr(a):
    """Return (house_number, street) from a freeform address_1 string."""
    if pd.isna(a): return None, None
    a = str(a).strip()
    # number (handles Queens hyphen numbers like 31-12) + the rest
    m = re.match(r"^\s*(\d[\d-]*)\s+(.*)$", a)
    if not m: return None, None
    hn, street = m.group(1), m.group(2)
    # trim trailing city/state/zip if present
    street = re.sub(r",?\s*(NY|New York|USA|\d{5}(?:-\d{4})?)\s*$", "", street, flags=re.I).strip()
    return hn, street

def _row_to_bbl(row):
    hn, st = _parse_addr(row.get("address_1"))
    bor = _norm_boro(row.get("borough"))
    if not (hn and st and bor):
        return pd.Series({"bbl": None, "borough_code": None, "tax_block": None, "tax_lot": None})
    try:
        resp = requests.get(
            f"{BASE}/Function_1A",
            params={"HouseNumber": hn, "Street": st, "Borough": bor, "DisplayFormat": "true"},
            timeout=20,
        )
        resp.raise_for_status()
        j = resp.json()

        # tiny recursive finder to be robust to field-name tweaks
        def _find(d, pat):
            if isinstance(d, dict):
                for k,v in d.items():
                    if re.search(pat, str(k), re.I): return v
                    hit = _find(v, pat)
                    if hit is not None: return hit
            elif isinstance(d, list):
                for x in d:
                    hit = _find(x, pat)
                    if hit is not None: return hit
            return None

        boro_code = _find(j, r"^borough(code)?$") or _find(j, r"^boro$")
        block     = _find(j, r"^block$")
        lot       = _find(j, r"^lot$")

        if boro_code is None or block is None or lot is None:
            return pd.Series({"bbl": None, "borough_code": None, "tax_block": None, "tax_lot": None})

        bbl = f"{int(boro_code)}{int(block):05d}{int(lot):04d}"
        return pd.Series({
            "bbl": bbl,
            "borough_code": str(int(boro_code)),
            "tax_block": str(int(block)),
            "tax_lot": str(int(lot)),
        })
    except Exception:
        return pd.Series({"bbl": None, "borough_code": None, "tax_block": None, "tax_lot": None})
    finally:
        time.sleep(0.1)  # be polite to the API

# === Inline apply over your dataframe ===
noEnergy_investments[["bbl","borough_code","tax_block","tax_lot"]] = (
    noEnergy_investments.apply(_row_to_bbl, axis=1)
)

In [ ]:
###

In [248]:
import geopandas as gpd
import fiona

# 1) Point to the GDB folder (NOT an individual file)
GDB = r"C:\Users\johnf\Downloads\nyc_mappluto_25v3_fgdb\MapPLUTO25v3.gdb"  # adjust to your path

# 2) See what layers are inside (names vary by release)
print(fiona.listlayers(GDB))
# Typical: ["MapPLUTO"] or borough layers like ["BKMapPLUTO","MNMapPLUTO","QNMapPLUTO","BXMapPLUTO","SIMapPLUTO"]

# 3) Read the layer (pick "MapPLUTO" or your borough layer)
layer = "MapPLUTO"   # change if listlayers() shows borough layers
pluto = gpd.read_file(GDB, layer=layer)

# 4) Keep only what you need and set CRS
wanted = ["BBL","BIN","LandUse","NumFloors","UnitsRes","BldgClass","geometry"]
have = [c for c in wanted if c in pluto.columns] + ["geometry"]
pluto = pluto[have]
if pluto.crs is None or pluto.crs.to_epsg() != 4326:
    pluto = pluto.to_crs(4326)

# 5) (Optional) Save to something lighter/faster for repeated use
pluto.to_file("pluto.gpkg", layer="pluto", driver="GPKG")      # portable
pluto.to_parquet("pluto.parquet")                              # fastest for Python

['MapPLUTO_25v3_clipped']

DataLayerError: Layer 'MapPLUTO' could not be opened

In [ ]:
### REading in the pluta data i need. Total thing crashed the kernel, limiting by lat long in the

In [7]:
building_info_geocoded.longitude.min()

-74.171256

In [ ]:
building_info_geocoded

In [ ]:
## PLUTO

In [16]:
# SOURCE # https://www.nyc.gov/content/planning/pages/resources/datasets/mappluto-pluto-change#mappluto
import geopandas as gpd
import pyogrio
import pandas as pd
from shapely.geometry import box

SRC   = r"C:/Users/johnf/Downloads/nyc_mappluto_25v3_fgdb/MapPLUTO25v3.gdb"  # note forward slashes
LAYER = "MapPLUTO_25v3_clipped"

# 1) Prove we can read: take a tiny sample
pluto_head = gpd.read_file(SRC, layer=LAYER, rows=slice(0, 500))  # engine=pyogrio under the hood
print(pluto_head.shape, pluto_head.crs)          # e.g., EPSG:2263 or EPSG:4326
print(pluto_head.columns[:15])

# 2) Build a bbox from your LL84 points and transform it to the PLUTO CRS if needed
pad = 0.002  # ~200 m
bbox_4326 = (building_info_geocoded.longitude.min()-pad, building_info_geocoded.latitude.min()-pad,
        building_info_geocoded.longitude.max()+pad, building_info_geocoded.latitude.max()+pad)

if pluto_head.crs and pluto_head.crs.to_epsg() != 4326:
    # transform bbox to the dataset CRS
    g_bbox = gpd.GeoSeries([box(*bbox_4326)], crs=4326).to_crs(pluto_head.crs)
    minx, miny, maxx, maxy = g_bbox.geometry.iloc[0].bounds
    bbox = (minx, miny, maxx, maxy)
else:
    bbox = bbox_4326

# 3) Read ONLY the columns you need within that bbox (stable + light on memory)
cols = ["BBL","BIN","LandUse","NumFloors","UnitsRes","BldgClass"]
pluto = pyogrio.read_dataframe(
    SRC, layer=LAYER,
    columns=[c for c in cols if c in pluto_head.columns],
    bbox=bbox,
    force_2d=True,
)
# Reproject to WGS84 for joining to your lon/lat points
if pluto.crs is None or pluto.crs.to_epsg() != 4326:
    pluto = pluto.to_crs(4326)

print("Loaded:", pluto.shape)

(500, 96) EPSG:2263
Index(['Borough', 'Block', 'Lot', 'CD', 'BCT2020', 'BCTCB2020', 'CT2010',
       'CB2010', 'SchoolDist', 'Council', 'ZipCode', 'FireComp', 'PolicePrct',
       'HealthCenterDistrict', 'HealthArea'],
      dtype='object')
Loaded: (816021, 6)

In [17]:
### Spatial Join for PLuto and LL84 data with Lat Long

,BBL,BldgClass,LandUse,NumFloors,UnitsRes,geometry
0,1.000010e+09,Y4,08,NaN,0.0,"MULTIPOLYGON (((-74.01826 40.6927, -74.01842 4..."
1,1.000010e+09,Z9,None,NaN,0.0,"MULTIPOLYGON (((-74.03823 40.69836, -74.03868 ..."
2,1.000020e+09,Y7,07,1.0,0.0,"MULTIPOLYGON (((-74.01108 40.70096, -74.01108 ..."
3,1.000030e+09,Q1,09,1.0,0.0,"MULTIPOLYGON (((-74.01559 40.70459, -74.01531 ..."
4,1.000050e+09,D5,03,32.0,1320.0,"MULTIPOLYGON (((-74.01012 40.7026, -74.0112 40..."
...,...,...,...,...,...,...
816016,5.056530e+09,A5,01,3.0,1.0,"MULTIPOLYGON (((-74.17277 40.56113, -74.17285 ..."
816017,5.056530e+09,A5,01,3.0,1.0,"MULTIPOLYGON (((-74.17268 40.56114, -74.17277 ..."
816018,5.056530e+09,A5,01,3.0,1.0,"MULTIPOLYGON (((-74.17265 40.56101, -74.17274 ..."
816019,5.056530e+09,A5,01,3.0,1.0,"MULTIPOLYGON (((-74.17288 40.56098, -74.17295 ..."
816020,5.056530e+09,Z7,None,NaN,0.0,"MULTIPOLYGON (((-74.17231 40.5616, -74.17231 4..."

In [19]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point

# 0) You already have `pluto` loaded and to_crs(4326)
#    with columns like: BBL, LandUse, NumFloors, UnitsRes, BldgClass

# 1) Make a GeoDataFrame of your LL84 points (must be lon/lat in WGS84)
ll84 = building_info_geocoded.copy()  # your existing DF
g_ll84 = gpd.GeoDataFrame(
    ll84,
    geometry=[Point(xy) for xy in zip(ll84["longitude"], ll84["latitude"])],
    crs=4326
)

# 2) Spatial join: attach lot attributes to each LL84 point
#    (intersects is safer than within if a point lands on an edge)
ll84_pluto = gpd.sjoin(g_ll84, pluto, how="left", predicate="intersects")

# 3) Stories column (use PLUTO NumFloors)
# ll84_pluto["stories"] = ll84_pluto["NumFloors"]

# # 4) Residential + <5 stories filter
# res_codes = {"01","02","03","04"}  # 1â€“2 fam, walk-ups, elevator apt, mixed res/com
# is_res = (
#     ll84_pluto["LandUse"].astype(str).isin(res_codes)
#     | (ll84_pluto["UnitsRes"].fillna(0) > 0)
#     | ll84_pluto["BldgClass"].fillna("").str.startswith(("A","B"))
# )
# target = ll84_pluto[ is_res & ll84_pluto["stories"].notna() & (ll84_pluto["stories"] < 5) ].copy()

# print("Total LL84:", len(g_ll84))
# print("Matched PLUTO:", ll84_pluto["BBL"].notna().sum())
# print("Residential <5 stories:", len(target))

# # 5) Save & quick interactive preview
# target_cols = [c for c in ["BBL","LandUse","NumFloors","UnitsRes","BldgClass","stories"] if c in target.columns]
# target[target_cols + ["geometry"]].to_file("ll84_res_under5.geojson", driver="GeoJSON")

# m = target.explore(tooltip=target_cols, style_kwds={"fillOpacity":0.2,"weight":0.3})
# m.save("ll84_res_under5_preview.html")
# print("Wrote ll84_res_under5.geojson and ll84_res_under5_preview.html")

Total LL84: 9121
Matched PLUTO: 371
Residential <5 stories: 37
Wrote ll84_res_under5.geojson and ll84_res_under5_preview.html

In [27]:
building_info_geocoded

,property_id,address_1,address_2,city,postal_code,county,borough,latitude,longitude,address_line1_clean,address_line2_clean,borough_clean,city_clean,state_clean,postal_code_5_clean,needs_geocoding,geocode_key,geocode_tag,formatted_address,place_id
0,2707907.0,2626 Homecrest Avenue,NaN,Brooklyn,NaN,NaN,BROOKLYN,40.587065,-73.957019,2626 Homecrest Ave,NaN,BROOKLYN,Brooklyn,NY,NaN,False,2626 HOMECREST AVE||BROOKLYN|NY|,NaN,NaN,NaN
1,3521602.0,3240 Henry Hudson parkway,NaN,Bronx,NaN,NaN,BRONX,40.885365,-73.913345,3240 Henry Hudson Pkwy,NaN,BRONX,Bronx,NY,NaN,False,3240 HENRY HUDSON PKWY||BRONX|NY|,NaN,NaN,NaN
2,3521883.0,900 Avenue H,NaN,Brooklyn,NaN,NaN,BROOKLYN,40.629342,-73.967861,900 Ave H,NaN,BROOKLYN,Brooklyn,NY,NaN,False,900 AVE H||BROOKLYN|NY|,NaN,NaN,NaN
3,3522892.0,1561 E. 13th Street,NaN,Brooklyn,NaN,NaN,BROOKLYN,40.611279,-73.960634,1561 E. 13Th St,NaN,BROOKLYN,Brooklyn,NY,NaN,False,1561 E. 13TH ST||BROOKLYN|NY|,NaN,NaN,NaN
4,4047231.0,115 West 35th Street,NaN,new York,NaN,NaN,MANHATTAN,40.750878,-73.988270,115 West 35Th St,NaN,MANHATTAN,New York,NY,NaN,False,115 WEST 35TH ST||NEW YORK|NY|,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9116,3632773.0,955 East 163rd Street,NaN,New York,NaN,NaN,BRONX,40.821001,-73.895580,955 East 163Rd St,NaN,MANHATTAN,New York,NY,NaN,False,955 EAST 163RD ST||NEW YORK|NY|,NaN,NaN,NaN
9117,3632791.0,1541 Shakespeare Avenue,NaN,New York,NaN,NaN,BRONX,40.845719,-73.919252,1541 Shakespeare Ave,NaN,MANHATTAN,New York,NY,NaN,False,1541 SHAKESPEARE AVE||NEW YORK|NY|,NaN,NaN,NaN
9118,3633523.0,128 West 128th Street,NaN,New York,NaN,NaN,MANHATTAN,40.810108,-73.945088,128 West 128Th St,NaN,MANHATTAN,New York,NY,NaN,False,128 WEST 128TH ST||NEW YORK|NY|,NaN,NaN,NaN
9119,3633666.0,315 E 102 Street,NaN,New York,NaN,NaN,MANHATTAN,40.787834,-73.943766,315 E 102St St,NaN,MANHATTAN,New York,NY,NaN,False,315 E 102ST ST||NEW YORK|NY|,NaN,NaN,NaN
9120,3634391.0,2477 Belmont Ave,NaN,Bronx,NaN,NaN,BRONX,40.856567,-73.884763,2477 Belmont Ave,NaN,BRONX,Bronx,NY,NaN,False,2477 BELMONT AVE||BRONX|NY|,NaN,NaN,NaN

In [ ]:
https://geosearch.planninglabs.nyc/v2/search?text=955 EAST 163RD ST||NEW YORK|NY

In [24]:
print("Unsuccessful:")
print(ll84_pluto[ll84_pluto['BBL'].isnull()].shape)
print("success:")
print(ll84_pluto[~ll84_pluto['BBL'].isnull()].shape)

Unsuccessful:
(8750, 28)
success:
(371, 28)

In [25]:
# Compare bounds of your points vs. PLUTO
print("PLUTO bounds:", pluto.total_bounds)  # [minx, miny, maxx, maxy]

print("LL84 bounds:", g_ll84.total_bounds)
print("Sample coords:")
print(g_ll84.geometry.x.head(5).tolist(), g_ll84.geometry.y.head(5).tolist())

# Count points clearly in NYC-ish extent
in_nyc = (
    g_ll84.geometry.x.between(-74.30, -73.60) &
    g_ll84.geometry.y.between( 40.45,  40.95)
)
print("Points in NYC bbox:", in_nyc.sum(), "/", len(g_ll84))

PLUTO bounds: [-74.18605881  40.52954773 -73.70017605  40.91544196]
LL84 bounds: [-74.171256  40.556747 -73.700935  40.912869]
Sample coords:
[-73.957019, -73.913345, -73.967861, -73.960634, -73.98827] [40.587065, 40.885365, 40.629342, 40.611279, 40.750878]
Points in NYC bbox: 9121 / 9121

In [26]:
# start with your previous result
got_lot = ll84_pluto["BBL"].notna()
no_lot  = ll84_pluto[~got_lot].drop(columns=["index_right"], errors="ignore")

recovered = gpd.sjoin_nearest(
    no_lot,
    pluto[["geometry","BBL","LandUse","NumFloors","UnitsRes","BldgClass"]],
    how="left",
    max_distance=0.0005,   # ~55 m; start at 0.00025 (~28 m) and increase if needed
    distance_col="snap_dist_deg"
)

# merge recovered attributes back
cols = ["BBL","LandUse","NumFloors","UnitsRes","BldgClass"]
ll84_pluto.loc[recovered.index, cols] = recovered[cols].values

print("After nearest-snap, lot matches:", ll84_pluto["BBL"].notna().sum())

C:\Python310\lib\site-packages\geopandas\array.py:408: UserWarning: Geometry is in a geographic CRS. Results from 'sjoin_nearest' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  warnings.warn(

KeyError: "None of [Index(['BBL', 'LandUse', 'NumFloors', 'UnitsRes', 'BldgClass'], dtype='object')] are in the [columns]"

In [ ]:
### Building Footprint data and Building Historic INFO and Height Ets
# BUILDING_HISTORIC
# https://data.cityofnewyork.us/City-Government/BUILDING_HISTORIC/ipkp-snf6/about_data

#Building Elevation and Subgrade (BES)
# https://data.cityofnewyork.us/City-Government/Building-Elevation-and-Subgrade-BES-/bsin-59hv/about_data