In [3]:
import pandas as pd

## Creating Sample DF to work with. 
df = pd.DataFrame({"class_id":["602","605","624","621"], "class":["Adv. Prog.","Comp. Math","Predicitve Analytics","Data Mining"], "student_count":[30,15,5,10]})
df.head()

  class_id                 class  student_count
0      602            Adv. Prog.             30
1      605            Comp. Math             15
2      624  Predicitve Analytics              5
3      621           Data Mining             10

In [13]:
# 1. How would you delete:
#     - An index from your dataframe
###### First Setting an index
# with_custom_index= df.set_index("class_id")
# ####### Dropping the INdex
# no_index = with_custom_index.reset_index(drop=True)
# print(no_index)

#     - A column from your dataframe
###### Dropping a the student count column
no_student_count = df.drop(columns=["student_count"])
print(no_student_count)

#     - A row from your dataframe
###### Dropping via selection: Where class_cou is not 5
dropped_5_count = df[df["student_count"]!=5]
print(dropped_5_count)

###### Dropping via index drop
dropped_5_count_via_index = df.drop(2)
print(dropped_5_count_via_index)

  class_id                 class
0      602            Adv. Prog.
1      605            Comp. Math
2      624  Predicitve Analytics
3      621           Data Mining
  class_id        class  student_count
0      602   Adv. Prog.             30
1      605   Comp. Math             15
3      621  Data Mining             10
  class_id        class  student_count
0      602   Adv. Prog.             30
1      605   Comp. Math             15
3      621  Data Mining             10

In [14]:
# 2. How do you iterate over a pandas dataframe?
## Example iterating over the dataframe using iterrows method, with index and row values.
for index, row in df.iterrows():
    print(row['class'])

Adv. Prog.
Comp. Math
Predicitve Analytics
Data Mining

In [32]:
# 3. How would you convert a string to a date?
###### Creating Df with Date as string
date_df = pd.DataFrame({"class":["Adv. Prog.","Comp. Math","Predicitve Analytics"],
                       "start_date":["02/03/2025","01/04/2025","01/23/2025"]})
###### Converting string to datetime then date in same named column
date_df["start_date"] = pd.to_datetime(date_df["start_date"]).dt.date
print(date_df["start_date"])

0    2025-02-03
1    2025-01-04
2    2025-01-23
Name: start_date, dtype: object

In [31]:
# 4. What is data aggregation?  Give an example in Python. 

#### Data aggregation is removing the granularity and summing up to a specific level in the data. 
#### Lets take the previous df example, but with an additional column. 

df = pd.DataFrame({"class_id":["602","605","624","621"],
                   "class":["Adv. Prog.","Comp. Math","Predicitve Analytics","Data Mining"],
                   "semester":["Fall2024","Fall2024","Spring2025","Spring2025"],
                   "student_count":[30,15,5,10]})

## Were going to use the group by function to aggregate student coutns up to the semester level. 

semester_agg = df.groupby(["semester"]).agg({"student_count":"sum"}).reset_index()
print(semester_agg)
## now you can see the counts of students for the semester according to the aggregated df. 
#----
#  semester student_count
#  Fall2024   45
#  Spring2025 15

     semester  student_count
0    Fall2024             45
1  Spring2025             15

In [ ]:
# 5. What is GroupBy in Pandas (groupby()). Give an example in Python.

## See above.

In [ ]:
import pandas as pd

##### Creating Sample DF to work with. 
df = pd.DataFrame({"class_id":["602","605","624","621"], "class":["Adv. Prog.","Comp. Math","Predicitve Analytics","Data Mining"], "student_count":[30,15,5,10]})
df.head()

# --------------------------------------------------------------------------
# 1. How would you delete:
# --------------------------------------------------------------------------
#     - An index from your dataframe
###### First Setting an index
with_custom_index= df.set_index("class_id")
# ####### Dropping the INdex
no_index = with_custom_index.reset_index(drop=True)
print(no_index)

#     - A column from your dataframe
###### Dropping a the student count column
no_student_count = df.drop(columns=["student_count"])
print(no_student_count)

#     - A row from your dataframe
###### Dropping via selection: Where class_cou is not 5
dropped_5_count = df[df["student_count"]!=5]
print(dropped_5_count)

###### Dropping via index drop
dropped_5_count_via_index = df.drop(2)
print(dropped_5_count_via_index)


# --------------------------------------------------------------------------
# 2. How do you iterate over a pandas dataframe?
# --------------------------------------------------------------------------
## Example iterating over the dataframe using iterrows method, with index and row values.
for index, row in df.iterrows():
    print(row['class'])
    

# --------------------------------------------------------------------------
# 3. How would you convert a string to a date?
# --------------------------------------------------------------------------
###### Creating Df with Date as string
date_df = pd.DataFrame({"class":["Adv. Prog.","Comp. Math","Predicitve Analytics"],
                       "start_date":["02/03/2025","01/04/2025","01/23/2025"]})
###### Converting string to datetime then date in same named column
date_df["start_date"] = pd.to_datetime(date_df["start_date"]).dt.date
print(date_df["start_date"])

# --------------------------------------------------------------------------
# 4. What is data aggregation?  Give an example in Python. 
# --------------------------------------------------------------------------

#### Data aggregation is removing the granularity and summing up to a specific level in the data. 
#### Lets take the previous df example, but with an additional column. 

df = pd.DataFrame({"class_id":["602","605","624","621"],
                   "class":["Adv. Prog.","Comp. Math","Predicitve Analytics","Data Mining"],
                   "semester":["Fall2024","Fall2024","Spring2025","Spring2025"],
                   "student_count":[30,15,5,10]})

## Were going to use the group by function to aggregate student coutns up to the semester level. 

semester_agg = df.groupby(["semester"]).agg({"student_count":"sum"}).reset_index()
print(semester_agg)
## now you can see the counts of students for the semester according to the aggregated df. 
#----
#  semester student_count
#  Fall2024   45
#  Spring2025 15


# --------------------------------------------------------------------------
# 5. What is GroupBy in Pandas (groupby()). Give an example in Python.
# --------------------------------------------------------------------------
## See #4 above.