In [ ]:
#1. What is pandas and why use it?
# Pandas is a python library that is commonly used for datan analysis and manupulation in python. The library provides a large
# amount of functionality for viewing, processing, cleaning and otherwise working with data within python. 

#2. Give an example of how to import a csv file using pandas

import pandas as pd
csv_filepath = r"This/is/a/file/path.csv"
df = pd.read_csv(csv_filepath)

#3. Show how to view the first 10 rows of a dataset using pandas

## Using the code above.
df.head(n=10)

In [34]:
#4. Write a Pandas program to compare the elements of the two Pandas Series.

#Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

import pandas as pd
Series1 = pd.Series([2, 4, 6, 8, 10])
Series2 = pd.Series([1, 3, 5, 7, 10])
# Assuming we wanted to compare the values in their respective order
df = pd.DataFrame({"Series1": Series1, "Series2": Series2})
#Once in a df then we can create multiple other columns for different categories for analysis, or we can part out the df rows 
#for sub dfs that fit into a particular cateogry. 

## Example of Column-oriented solution
df["Series_1_2_Equal"] = False
df["Series_1_2_Equal"][df['Series1']==df['Series2']]=True
df["Series2Greater"]=False
df["Series2Greater"][df['Series1']<df['Series2']]=True
df["Series1Greater"]=False
df["Series1Greater"][df['Series1']>df['Series2']]=True

# ## Example of Sub-df / Row solution
# Series1_Greater = df[df['Series1']>df['Series2']]
# print(Series1_Greater.shape)
# Series2_Greater = df[df['Series1']<df['Series2']]
# print(Series2_Greater.shape)
# Series_Equal = df[df['Series1']==df['Series2']]
# print(Series_Equal.shape)

C:\Users\johnf\AppData\Local\Temp\ipykernel_4028\3518052569.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Series_1_2_Equal"][df['Series1']==df['Series2']]=True
C:\Users\johnf\AppData\Local\Temp\ipykernel_4028\3518052569.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Series2Greater"][df['Series1']<df['Series2']]=True
C:\Users\johnf\AppData\Local\Temp\ipykernel_4028\3518052569.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Series1Greater"][df['Series1']>df['Series2']]=True

In [35]:
df

   Series1  Series2  Series_1_2_Equal  Series2Greater  Series1Greater
0        2        1             False           False            True
1        4        3             False           False            True
2        6        5             False           False            True
3        8        7             False           False            True
4       10       10              True           False           False

In [25]:
#5. Change the first character of each word to upper case in each word of df1
df1 = pd.Series(['hello', 'to', 'cuny', 'class?'])
df1_fixed = df1.str.title()
print(df1_fixed)

0     Hello
1        To
2      Cuny
3    Class?
dtype: object

In [13]:
df1

0     hello
1        to
2      cuny
3    class?
dtype: object